{% extends 'math_print/base.html' %}

{% block css %}
<style type="text/css">
    .problem{
        display: flex;
        gap: 1em;
    }
    .problem>div{
        width: 50%;
    }
</style>
<style type="text/css" media="print">
    .print_pages{
        /*A4縦 172,251*/
        width: 240mm;
        height: 260mm;
        margin: 0mm 0mm;
        padding: 0mm 0mm;
        page-break-after: always;
    }
    /*最後のページは改ページを入れない*/
    .print_pages:last-child{
        page-break-after: auto;
    }
    .hero_unit, .base_footer, .button_container, .nav{
        display: none;
    }
    p.number_of_problem {
        text-align: right;
    }
</style>
{% endblock %}

{% block script %}
<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
function refresh() {
  var url = location.origin;
  var pathname = location.pathname;
  var hash = location.hash;

  location = url + pathname + '?application_refresh=' + (Math.random() * 100000) + hash;
}
</script>

<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script>
  window.addEventListener("load", make);

  function drawLine(stage, start_x, start_y, end_x, end_y) {
      var graphic = new createjs.Graphics();
      graphic.beginStroke("#000000");
      graphic.moveTo(start_x, start_y);
      graphic.lineTo(end_x, end_y);
      graphic.endStroke();
      var shape = new createjs.Shape(graphic);
      stage.addChild(shape);

  }

  function drawLineWithAngle(stage, start_x, start_y, angle, radius=200) {
      // draw line detemined by angle
      var graphic = new createjs.Graphics();
      graphic.beginStroke("#000000");
      graphic.moveTo(start_x, start_y);
      var radian = angle * Math.PI / 180;
      var end_x = start_x + radius * Math.cos(radian);
      var end_y = start_y + radius * Math.sin(radian);
      graphic.lineTo(end_x, end_y);
      graphic.endStroke();
      var shape = new createjs.Shape(graphic);
      stage.addChild(shape);
  }

  function drawArc(stage, center_x, center_y, radius, start_angle, end_angle, anticlockwise=false) {
      var graphic = new createjs.Graphics();
      graphic.beginStroke("#000000");
      var start_radian = start_angle * Math.PI / 180;
      var end_radian = end_angle * Math.PI / 180;
      graphic.arc(center_x, center_y, radius, start_radian, end_radian, anticlockwise);
      var shape = new createjs.Shape(graphic);
      stage.addChild(shape);
  }

  function drawArcByRadian(stage, center_x, center_y, radius, start_radian, end_radian, anticlockwise=false) {
    var graphic = new createjs.Graphics();
    graphic.beginStroke("#000000");
    graphic.arc(center_x, center_y, radius, start_radian, end_radian, anticlockwise);
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
  }
  
  function drawDegreeCharacter(stage, x, y, character) {
    //文字オブジェクトを作成する
    var text = new createjs.Text(character, "15px Arial", "#000000");
    //描画位置の指定
    text.x = x;
    text.y = y;
    stage.addChild(text);
  }

  function random_vertical_angle_draw (stage, answer_angle) {
    var max_angle = (180 - answer_angle) - 10; // 10 is buffer. no much evidence.
    var random_angle = Math.floor(Math.random() * (max_angle + 1 - 20) + 20);
    var remained_angle = 180 - (answer_angle + random_angle);
    drawLine(stage, 15, 80, 305, 80);
    drawLineWithAngle(stage, 160, 80, -1*random_angle);
    drawLineWithAngle(stage, 160, 80, -1*random_angle+180);
    drawArc(stage, 160, 80, 25, 0, -1*random_angle, anticlockwise=true);
    drawDegreeCharacter(stage, 160+50, 80-20, random_angle+"°");
    drawLineWithAngle(stage, 160, 80, -1*random_angle-remained_angle);
    drawLineWithAngle(stage, 160, 80, -1*random_angle-remained_angle+180);
    drawArc(stage, 160, 80, 25, -1*random_angle+180, -1*random_angle-remained_angle+180, anticlockwise=true);
    drawDegreeCharacter(stage, 160-5, 80+60, remained_angle+"°");
    drawArc(stage, 160, 80, 25, -1*random_angle-remained_angle, 180, anticlockwise=true);
    drawDegreeCharacter(stage, 160-50, 80-20, "x");
    stage.update();
  }

  function new_new_random_multiple_parallel_angle_draw(stage, answer_angle) {
    // top and bottom line phase
    drawLine(stage, 0, 5, 320, 5);
    drawLine(stage, 0, 155, 320, 155);
    //// from bottom to answer
    // answer point is fixed
    let answer_x = 180;
    let answer_y = 105;
    // x = 170 point angle
    let radian_of_170 = Math.atan(50 / 10);
    let answer_radian = answer_angle * Math.PI / 180;
    // 20 if buffer.
    let max_bottom_radian = answer_radian - (20 * Math.PI / 180);
    // let max_bottom_radian = answer_radian;
    /* cut temporarily to prevent become answer = bot 
    let max_bottom_radian = radian_of_170;
    if (radian_of_170 >= answer_radian) {
      // when answer and bottom radian value is near, upper point will go too left.
      let buffer_for_max_bottom_radian = 25 * Math.PI / 180;
      max_bottom_radian = answer_radian - buffer_for_max_bottom_radian;
    }
    // x = 10 point angle
    */
    let radian_of_10 = Math.atan(50 / 170);
    // should consider more? <- temporarily
    let min_bottom_radian = radian_of_10;
    let min_bottom_angle = min_bottom_radian * 180 / Math.PI;
    let max_bottom_angle = max_bottom_radian * 180/ Math.PI;
    // cut too much
    //let bottom_radian = Math.floor(Math.random() * (max_bottom_radian + 1 - min_bottom_radian) + min_bottom_radian);
    let bottom_radian = Math.random() * (max_bottom_radian - min_bottom_radian) + min_bottom_radian;
    let bottom_angle = bottom_radian * 180 / Math.PI;
    let bottom_radius = 50 / Math.sin(bottom_radian);
    let bottom_x = 180 + bottom_radius * Math.cos(Math.PI - bottom_radian);
    let bottom_y = 155;
    drawLine(stage, answer_x, answer_y, bottom_x, bottom_y);
    drawArcByRadian(stage, bottom_x, bottom_y, 20, 0, -bottom_radian, anticlockwise=true);
    let floored_bottom_angle = Math.floor(bottom_angle);
    drawDegreeCharacter(stage, bottom_x + 50, bottom_y - 17, floored_bottom_angle + "°");
    //// from answer to upper
    let upper_radian = answer_radian - bottom_radian;
    let upper_angle = upper_radian * 180 / Math.PI;
    let upper_radius = 50 / Math.sin(upper_radian);
    let upper_x = answer_x + upper_radius * Math.cos(Math.PI + upper_radian);
    let upper_y = 55;
    drawLine(stage, answer_x, answer_y, upper_x, upper_y);
    drawArcByRadian(stage, answer_x, answer_y, 20, Math.PI - bottom_radian, Math.PI + upper_radian, anticlockwise=false);
    drawDegreeCharacter(stage, answer_x - 40, answer_y - 5, "x°");
    //// from upper to top
    let min_top_x = upper_x + 5;
    let max_top_x = 300;
    let top_x = Math.random() * (max_top_x - min_top_x) + min_top_x;
    let top_y = 5;
    drawLine(stage, upper_x, upper_y, top_x, top_y);
    let top_radian = Math.atan((upper_y - top_y) / (top_x - upper_x));
    let top_angle = top_radian * 180 / Math.PI;
    let floored_top_angle = Math.floor(top_angle)
    drawArcByRadian(stage, top_x, top_y, 20, Math.PI - top_radian, Math.PI, anticlockwise=false);
    drawDegreeCharacter(stage, top_x-60, top_y+2, floored_top_angle + "°");
    //// last adjusted upper angle
    drawArcByRadian(stage, upper_x, upper_y, 20, answer_radian - bottom_radian, -top_radian, anticlockwise=true);
    let adjusted_upper_angle = floored_top_angle + (answer_angle - floored_bottom_angle);
    drawDegreeCharacter(stage, upper_x + 25, upper_y, adjusted_upper_angle + "°");
    // finally finished
    stage.update();
  }

  function random_multiple_parallel_angle_draw (stage, answer_angle) {
    // draw the top line
    drawLine(stage, 0, 5, 320, 5);
    // draw the bottom line
    drawLine(stage, 0, 155, 320, 155);
    // start from bottom line
    var start_x = 70;
    var start_y = 155;
    // fixing //
    // var max_angle = answer_angle - 30; // 20 is buffer. no much evidence.
    // fixed?
    var max_angle = 50;
    var min_angle = 20;
    var bottom_angle = Math.floor(Math.random() * (max_angle + 1 - min_angle) + min_angle);
    var bottom_radian = bottom_angle * Math.PI / 180;
    var radius1 = 50 / Math.sin(bottom_radian);
    var x1 = start_x + radius1 * Math.cos(bottom_radian);
    var y1 = 105;
    drawLine(stage, start_x, start_y, x1, y1);
    //// bottom_arc
    drawArc(stage, start_x, start_y, 20, 0, -bottom_angle, anticlockwise=true);
    drawDegreeCharacter(stage, start_x+40, start_y-15, bottom_angle+"°");
    //second line
    var middle_angle = 180 - (answer_angle - bottom_angle);
    var middle_radian = middle_angle * Math.PI / 180;
    var radius2 = 50 / Math.sin(middle_radian);
    var x2 = x1 + radius2 * Math.cos(middle_radian);
    var y2 = 55;
    drawLine(stage, x1, y1, x2, y2);
    //// middle_arc
    drawArc(stage, x1, y1, 20, 180-bottom_angle, 180-bottom_angle+answer_angle);
    drawDegreeCharacter(stage, x1-40, y1-10, "x");
    //last line
    var upper_angle = Math.floor(Math.random() * (85 + 1 - 30) + 30); // max=85, min=30 no much evidence.
    var upper_radian = upper_angle * Math.PI / 180;
    var radius3 = 50 / Math.sin(upper_radian);
    var x3 = x2 + radius3 * Math.cos(upper_radian);
    var y3 = 5;
    drawLine(stage, x2, y2, x3, y3);
    //// before last arc
    drawArc(stage, x2, y2, 20, -upper_angle, answer_angle-bottom_angle);
    drawDegreeCharacter(stage, x2+25, y2-10, (answer_angle-bottom_angle+upper_angle)+"°");
    //// lastarc
    drawArc(stage, x3, y3, 20, 180-upper_angle, 180);
    drawDegreeCharacter(stage, x3-50, y3+5, upper_angle+"°");
    // after finish
    stage.update();
  }

  function random_parallel_angle_draw (stage, answer_angle) {
    var docking_x = 75;
    var docking_y = 80;
    drawLine(stage, 5, 155, 315, 155);
    drawLine(stage, 5, 5, 315, 5);
    var random_angle = Math.floor(Math.random() * ((answer_angle - 20) + 1 - 20) + 20);
    var angle1 = random_angle;
    var radian1 = angle1 * Math.PI / 180;
    var radius1 = 75 / Math.sin(radian1);
    drawLineWithAngle(stage, docking_x, docking_y, angle1, radius=radius1);
    drawArc(stage, docking_x, docking_y, 25, 0, angle1);
    // the phase to calculate end line point.
    var end_x1 = docking_x + radius1 * Math.cos(radian1);
    var end_y1 = docking_y + radius1 * Math.sin(radian1);
    drawArc(stage, end_x1, end_y1, 25, 180, 180+angle1);
    drawDegreeCharacter(stage, end_x1-70, end_y1-20, angle1+"°");
    var angle2 = answer_angle - random_angle;
    var radian2 = angle2 * Math.PI / 180;
    var radius2 = 75 / Math.sin(radian2);

    drawLineWithAngle(stage, docking_x, docking_y, -angle2, radius=radius2);
    drawArc(stage, docking_x, docking_y, 25, 0, -angle2, anticlockwise=true);
    // the phase to calculate end line point.
    var end_x2 = docking_x + radius2 * Math.cos(-radian2);
    var end_y2 = docking_y + radius2 * Math.sin(-radian2);
    drawArc(stage, end_x2, end_y2, 25, 180-angle2, 180);
    drawDegreeCharacter(stage, end_x2-70, end_y2+5, angle2+"°");
    drawDegreeCharacter(stage, docking_x+30, docking_y-10, "x");
    stage.update();
  }

  function random_parallel_out_angle_draw (stage, answer_angle) {
    // upper line
    drawLine(stage, 0, 5, 320, 5);
    // middle line
    drawLine(stage, 0, 80, 320, 80);
    // hidden line (will become invisible after finishing.)
    // drawLine(stage, 0, 140, 320, 140);
    // line from the answer point to hidden bottom
    var start_x = 160;
    var start_y = 80;
    drawArc(stage, start_x, start_y, 15, 180-answer_angle, 180);
    // drawDegreeCharacter(stage, start_x-20, start_y+10, "x");
    var answer_radian = answer_angle * Math.PI / 180;
    var radius1 = 60 / Math.sin(answer_radian);
    var x1 = start_x + radius1 * Math.cos(Math.PI - answer_radian);
    var y1 = 140;
    drawLine(stage, start_x, start_y, x1, y1);
    // divide answer is more than 90, or less than 90
    if (answer_angle < 90) {
      // to prevent that line goes over the canvas.
      drawDegreeCharacter(stage, start_x+20, start_y+10, "x");
      var radian_with_left_point = Math.atan(135 / (x1 - 0));
      var angle_with_left_point = radian_with_left_point * (180 / Math.PI);
      var max_radian = 2 * Math.PI - answer_radian - (Math.PI / 6);
      var max_angle = max_radian * (180 / Math.PI);
      var min_radian = Math.PI + radian_with_left_point;
      var min_angle = min_radian * (180 / Math.PI);
      // decide angle that doesn't go over the canvas and go over middle vetcial line.
      var bottom_angle = Math.floor(Math.random() * (max_angle - min_angle) + min_angle);
      var bottom_radian = bottom_angle * Math.PI / 180;
      var radius2 = 135 / Math.sin(bottom_radian - Math.PI);
      // draw arc with hidden line point.
      drawArc(stage, x1, y1, 15, -answer_angle, bottom_angle, anticlockwise=true);
      var angle_with_hidden_line_point = 360 - (bottom_angle + answer_angle);
      drawDegreeCharacter(stage, x1+15, y1-15, angle_with_hidden_line_point+"°");
      // draw line from hidden to top
      var x2 = x1 + radius2 * Math.cos(bottom_radian);
      var y2 = 5;
      drawLine(stage, x1, y1, x2, y2);
      // draw arc with top
      var top_angle = answer_angle + angle_with_hidden_line_point;
      drawArc(stage, x2, y2, 15, 180-top_angle, 180);
      drawDegreeCharacter(stage, x2+10, y2+5, top_angle+"°");      
    }
    else {
      drawDegreeCharacter(stage, start_x-20, start_y+10, "x");
      // to prevent that line goes over the canvas.
      var radian_with_right_point = Math.atan(135 / (320 - x1));
      var angle_with_right_point = radian_with_right_point * (180 / Math.PI);
      var max_radian = 2 * Math.PI - radian_with_right_point;
      var max_angle = max_radian * (180 / Math.PI);
      var min_radian = 2 * Math.PI - answer_radian + (Math.PI / 6);
      var min_angle = min_radian * (180 / Math.PI);
      // decide angle that doesn't go over the canvas and go over middle vetcial line.
      var bottom_angle = Math.floor(Math.random() * (max_angle - min_angle) + min_angle);
      var bottom_radian = bottom_angle * Math.PI / 180;
      var radius2 = 135 / Math.sin(2 * Math.PI - bottom_radian);
      drawArc(stage, x1, y1, 15, 360-answer_angle, bottom_angle, anticlockwise=false);
      var angle_with_hidden_line_point = bottom_angle - (360 - answer_angle);
      drawDegreeCharacter(stage, x1+20, y1-15, angle_with_hidden_line_point+"°");
      // draw line from hidden to top
      var x2 = x1 + radius2 * Math.cos(bottom_radian);
      var y2 = 5;
      drawLine(stage, x1, y1, x2, y2);
      // draw arc with top
      var top_angle = 180 - answer_angle + angle_with_hidden_line_point;
      drawArc(stage, x2, y2, 15, 0, top_angle);
      drawDegreeCharacter(stage, x2-40, y2+5, top_angle+"°");
    }
    stage.update();
  }

  function call_problem_maker (stage, problem_type, answer_angle) {
    if (problem_type == "corresponding_and_alternate_angle") {
      var random_selector = Math.random();
      if (random_selector <= 0.5) {
        random_parallel_angle_draw(stage, answer_angle);
      }
      else {
        random_parallel_out_angle_draw(stage, answer_angle);
      }
    }
    else if (problem_type == "multiple_corresponding_and_alternate_angle") {
      new_new_random_multiple_parallel_angle_draw(stage, answer_angle);
    }
    else if (problem_type == "vertical_angle") {
      random_vertical_angle_draw(stage, answer_angle);
    }
  }

  function draw() {
    {% for inner_list in math_problem_list_of_list %}
        // problem section //
        var problem_print_section = document.createElement("section");
        problem_print_section.setAttribute("class", "print_pages");
        // add body to read canvas
        document.body.appendChild(problem_print_section);

        var problem_number_p = document.createElement("p");
        problem_number_p.setAttribute("class", "number_of_problem");
        problem_number_p.innerHTML = "問題: No. {{ forloop.counter }}";
        problem_print_section.appendChild(problem_number_p);
        var problem_sentence_p = document.createElement("p");
        problem_sentence_p.innerHTML = "xの値を求めよ。なお、水平な線はすべて平行であるとする。";
        problem_print_section.appendChild(problem_sentence_p);
        
        var problem_ol = document.createElement("ol");
        {% for math_problem_tuple in inner_list %}
            var problem_div = document.createElement("div");
            problem_div.setAttribute("class", "problem");
            // left_div
            var left_div = document.createElement("div");
            var left_li = document.createElement("li");
            var left_canvas = document.createElement("canvas");
            var left_canvas_id = "left_canvas" + {{ forloop.parentloop.counter }} + "-" + {{ forloop.counter }};
            left_canvas.setAttribute("id", left_canvas_id);
            left_canvas.setAttribute("width", 320);
            left_canvas.setAttribute("height", 160);
            left_canvas.setAttribute("style", "background-color:#CCFFFF");
            var left_answer_p = document.createElement("p");
            left_answer_p.setAttribute("class", "answer");
            left_answer_p.setAttribute("style", "visibility:hidden");
            left_answer_p.innerHTML = "\\( x = {{ math_problem_tuple.0.angle }} ^\\circ \\)";
            // left_div add part
            left_li.appendChild(left_canvas);
            left_li.appendChild(left_answer_p);
            left_div.appendChild(left_li);

            var right_div = document.createElement("div");
            var right_li = document.createElement("li");
            var right_canvas = document.createElement("canvas");
            var right_canvas_id = "right_canvas" + {{ forloop.parentloop.counter }} + "-" + {{ forloop.counter }};
            right_canvas.setAttribute("id", right_canvas_id);
            right_canvas.setAttribute("width", 320);
            right_canvas.setAttribute("height", 160);
            right_canvas.setAttribute("style", "background-color:#CCFFFF");
            var right_answer_p = document.createElement("p");
            right_answer_p.setAttribute("class", "answer");
            right_answer_p.setAttribute("style", "visibility:hidden");
            right_answer_p.innerHTML = "\\( x = {{ math_problem_tuple.1.angle }} ^\\circ \\)";
            // right_div add part
            right_li.appendChild(right_canvas);
            right_li.appendChild(right_answer_p);
            right_div.appendChild(right_li);

            problem_div.appendChild(left_div);
            problem_div.appendChild(right_div);
            problem_ol.appendChild(problem_div);
            problem_print_section.appendChild(problem_ol);

            var left_stage = new createjs.Stage(left_canvas_id);
            call_problem_maker(left_stage, "{{ math_problem_tuple.0.problem_type }}", {{ math_problem_tuple.0.angle }});
            var right_stage = new createjs.Stage(right_canvas_id);
            call_problem_maker(right_stage, "{{ math_problem_tuple.1.problem_type }}", {{ math_problem_tuple.1.angle }});
        {% endfor %}
        // footer phase
        var footer = document.createElement("footer");
        footer.setAttribute("class", "container-fluid print_footer");
        var small = document.createElement("small");
        var footer_a = document.createElement("a");
        footer_a.setAttribute("href", "#");
        footer_a.innerHTML = "© 2022 有明学習振興";
        //// footer add phase
        small.appendChild(footer_a);
        footer.appendChild(small);
        problem_print_section.appendChild(footer);

        // answer section //
        var answer_print_section = document.createElement("section");
        answer_print_section.setAttribute("class", "print_pages");
        // add body to read canvas
        document.body.appendChild(answer_print_section);

        var answer_number_p = document.createElement("p");
        answer_number_p.setAttribute("class", "number_of_problem");
        answer_number_p.innerHTML = "解答: No. {{ forloop.counter }}";
        answer_print_section.appendChild(answer_number_p);
        
        var answer_ol = document.createElement("ol");
        {% for math_problem_tuple in inner_list %}
            var answer_div = document.createElement("div");
            answer_div.setAttribute("class", "problem");
            // left_div
            var left_div = document.createElement("div");
            var left_li = document.createElement("li");
            var left_answer_p = document.createElement("p");
            left_answer_p.setAttribute("class", "answer");
            left_answer_p.setAttribute("style", "visibility:visible");
            left_answer_p.innerHTML = "\\( x = {{ math_problem_tuple.0.angle }} ^\\circ \\)";
            left_li.appendChild(left_answer_p);
            left_div.appendChild(left_li);

            var right_div = document.createElement("div");
            var right_li = document.createElement("li");
            var right_answer_p = document.createElement("p");
            right_answer_p.setAttribute("class", "answer");
            right_answer_p.setAttribute("style", "visibility:visible");
            right_answer_p.innerHTML = "\\( x = {{ math_problem_tuple.1.angle }} ^\\circ \\)";
            // right_div add part
            right_li.appendChild(right_answer_p);
            right_div.appendChild(right_li);

            answer_div.appendChild(left_div);
            answer_div.appendChild(right_div);
            answer_ol.appendChild(answer_div);
            answer_print_section.appendChild(answer_ol);
        {% endfor %}
        // footer phase
        var footer = document.createElement("footer");
        footer.setAttribute("class", "container-fluid print_footer");
        var small = document.createElement("small");
        var footer_a = document.createElement("a");
        footer_a.setAttribute("href", "#");
        footer_a.innerHTML = "© 2022 有明学習振興";
        //// footer add phase
        small.appendChild(footer_a);
        footer.appendChild(small);
        answer_print_section.appendChild(footer);
    {% endfor %}
    MathJax.typeset();
  }

  function add_other_parts() {
    // print button phase
    var print_button_div = document.createElement("div");
    print_button_div.setAttribute("class", "container button_container");
    var inner_div = document.createElement("div");
    inner_div.setAttribute("class", "row justify-content-start");
    var break_line = document.createElement("br");
    var innermost_div = document.createElement("div");
    innermost_div.setAttribute("class", "col-6");
    var button_form = document.createElement("form");
    var print_button_input = document.createElement("input");
    print_button_input.setAttribute("type", "button");
    print_button_input.setAttribute("class", "btn btn-outline-primary");
    print_button_input.setAttribute("value", "印刷する");
    print_button_input.setAttribute("onclick", "window.print()");
    //// print button add phase
    button_form.appendChild(print_button_input);
    innermost_div.appendChild(button_form);
    inner_div.appendChild(innermost_div);
    print_button_div.append(inner_div);
    print_button_div.append(break_line);
    document.body.prepend(print_button_div);
    // hero unit phase
    var hero_outer_div = document.createElement('div');
    hero_outer_div.setAttribute("class", "p-3 p-sm-5 mb-4 bg-img hero_unit");
    var hero_inner_div = document.createElement('div');
    hero_inner_div.setAttribute("class", "container");
    var h1_in_hero = document.createElement('h1');
    h1_in_hero.setAttribute("class", "display-4");
    h1_in_hero.innerHTML = "ようこそ!";
    var p_in_hero = document.createElement('p');
    p_in_hero.setAttribute("class", "text-dark");
    p_in_hero.innerHTML = "角度を求める";
    //// hero unit add phase
    hero_inner_div.appendChild(h1_in_hero);
    hero_inner_div.appendChild(p_in_hero);
    hero_outer_div.appendChild(hero_inner_div);
    document.body.prepend(hero_outer_div);
    // top page remove and add phase
    var navdiv = document.getElementById("top_page_nav");
    var new_navdiv = navdiv.cloneNode(true);
    navdiv.remove();
    document.body.prepend(new_navdiv);
  }

  function make() {
    draw();
    add_other_parts();
  }
</script>
{% endblock %}

{% block title %}
角度を求める
{% endblock %}

{% block hero_unit %}
{% endblock %}

{% block body %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
{% endblock %}
