{% extends 'math_print/base.html' %}

{% block title %}
計算練習(高1)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
<script>
    function checkAllCheckBoxes(checkbox_name){
        let checkboxes = document.getElementsByName(checkbox_name);

        for (let i = 0; i < checkboxes.length; i++) {
            if (!(checkboxes[i].checked)) {
                checkboxes[i].checked = true;
            }
        }
    }

    function uncheckAllCheckBoxes(checkbox_name){
        let checkboxes = document.getElementsByName(checkbox_name);

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            }
        }
    }

</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>式の展開・整理</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">使用する公式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a+b)^2=a^2+2ab+b^2" name="used_formula_for_expand" id="expand_(a+b)^2=a^2+2ab+b^2">
                        <label class="form-check-label" for="expand_(a+b)^2=a^2+2ab+b^2">
                            \( (a+b)^2=a^2+2ab+b^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a-b)^2=a^2-2ab+b^2" name="used_formula_for_expand" id="expand_(a-b)^2=a^2-2ab+b^2">
                        <label class="form-check-label" for="expand_(a-b)^2=a^2-2ab+b^2">
                            \( (a-b)^2=a^2-2ab+b^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a+b)(a-b)=a^2-b^2" name="used_formula_for_expand" id="expand_(a+b)(a-b)=a^2-b^2">
                        <label class="form-check-label" for="expand_(a+b)(a-b)=a^2-b^2">
                            \( (a+b)(a-b)=a^2-b^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(ax+b)(cx+d)=acx^2+(ad+bc)x+ab" name="used_formula_for_expand" id="expand_(ax+b)(cx+d)=acx^2+(ad+bc)x+ab" checked>
                        <label class="form-check-label" for="expand_(ax+b)(cx+d)=acx^2+(ad+bc)x+ab">
                            \( (ax+b)(cx+d)=acx^2+(ad+bc)x+ab \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a+b+c)^2=a^2+b^2+c^2+2ab+2bc+2ca" name="used_formula_for_expand" id="expand_(a+b+c)^2=a^2+b^2+c^2+2ab+2bc+2ca" checked>
                        <label class="form-check-label" for="expand_(a+b+c)^2=a^2+b^2+c^2+2ab+2bc+2ca">
                            \( (a+b+c)^2=a^2+b^2+c^2+2ab+2bc+2ca \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a+b)^3=a^3+3a^2b+3ab^2+b^3" name="used_formula_for_expand" id="expand_(a+b)^3=a^3+3a^2b+3ab^2+b^3" checked>
                        <label class="form-check-label" for="expand_(a+b)^3=a^3+3a^2b+3ab^2+b^3">
                            \( (a+b)^3=a^3+3a^2b+3ab^2+b^3 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a-b)^3=a^3-3a^2b+3ab^2-b^3" name="used_formula_for_expand" id="expand_(a-b)^3=a^3-3a^2b+3ab^2-b^3" checked>
                        <label class="form-check-label" for="expand_(a-b)^3=a^3-3a^2b+3ab^2-b^3">
                            \( (a-b)^3=a^3-3a^2b+3ab^2-b^3 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a+b)(a^2-ab+b^2)=a^3+b^3" name="used_formula_for_expand" id="expand_(a+b)(a^2-ab+b^2)=a^3+b^3" checked>
                        <label class="form-check-label" for="expand_(a+b)(a^2-ab+b^2)=a^3+b^3">
                            \( (a+b)(a^2-ab+b^2)=a^3+b^3 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="(a-b)(a^2+ab+b^2)=a^3-b^3" name="used_formula_for_expand" id="expand_(a-b)(a^2+ab+b^2)=a^3-b^3" checked>
                        <label class="form-check-label" for="expand_(a-b)(a^2+ab+b^2)=a^3-b^3">
                            \( (a-b)(a^2+ab+b^2)=a^3-b^3 \)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`used_formula_for_expand`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`used_formula_for_expand`)" value="全部はずし">
                </div>
                <small class="text-muted">x以外の文字を含むか</small>
                <div clas="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="exist" name="another_character_exists_or_not" id="expand_another_character_exists">
                        <label class="form-check-label" for="expand_another_character_exists">
                            含む
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_exist" name="another_character_exists_or_not" id="expand_another_character_not_exist" checked>
                        <label class="form-check-label" for="expand_another_character_not_exist">
                            含まない
                        </label>
                    </div>
                </div>
                <small class="text-muted">印刷時の公式の表示</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="show_expansion_formula" name="show_formula" id="show_expansion_formula" checked>
                        <label class="form-check-label" for="show_expansion_formula">
                            表示する
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_show_expansion_formula" name="show_formula" id="not_show_expansion_formula">
                        <label class="form-check-label" for="not_show_expansion_formula"> 
                            表示しない
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ExpandSquareFivePaperRadio" checked>
                        <label class="form-check-label" for="ExpandSquareFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ExpandTenPaperRadio">
                        <label class="form-check-label" for="ExpandTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ExpandFifteenPaperRadio">
                        <label class="form-check-label" for="ExpandFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'hs1_expand_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'hs1_expand_equation_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>因数分解</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">使用する公式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^2+2ab+b^2=(a+b)^2" name="used_formula_for_factorization" id="factorization_a^2+2ab+b^2=(a+b)^2">
                        <label class="form-check-label" for="factorization_a^2+2ab+b^2=(a+b)^2">
                            \( a^2+2ab+b^2=(a+b)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^2-2ab+b^2=(a-b)^2" name="used_formula_for_factorization" id="factorization_a^2-2ab+b^2=(a-b)^2">
                        <label class="form-check-label" for="factorization_a^2-2ab+b^2=(a-b)^2">
                            \( a^2-2ab+b^2=(a-b)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^2-b^2=(a+b)(a-b)" name="used_formula_for_factorization" id="factorization_a^2-b^2=(a+b)(a-b)">
                        <label class="form-check-label" for="factorization_a^2-b^2=(a+b)(a-b)">
                            \( a^2-b^2=(a+b)(a-b) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="acx^2+(ad+bc)x+ab=(ax+b)(cx+d)" name="used_formula_for_factorization" id="factorization_acx^2+(ad+bc)x+ab=(ax+b)(cx+d)" checked>
                        <label class="form-check-label" for="factorization_acx^2+(ad+bc)x+ab=(ax+b)(cx+d)">
                            \( acx^2+(ad+bc)x+ab=(ax+b)(cx+d) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^2+b^2+c^2+2ab+2bc+2ca=(a+b+c)^2" name="used_formula_for_factorization" id="factorization_a^2+b^2+c^2+2ab+2bc+2ca=(a+b+c)^2"checked>
                        <label class="form-check-label" for="factorization_a^2+b^2+c^2+2ab+2bc+2ca=(a+b+c)^2">
                            \( a^2+b^2+c^2+2ab+2bc+2ca=(a+b+c)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^3+3a^2b+3ab^2+b^3=(a+b)^3" name="used_formula_for_factorization" id="factorization_a^3+3a^2b+3ab^2+b^3=(a+b)^3" checked>
                        <label class="form-check-label" for="factorization_a^3+3a^2b+3ab^2+b^3=(a+b)^3">
                            \( a^3+3a^2b+3ab^2+b^3=(a+b)^3 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^3-3a^2b+3ab^2-b^3=(a-b)^3" name="used_formula_for_factorization" id="factorization_a^3-3a^2b+3ab^2-b^3=(a-b)^3" checked>
                        <label class="form-check-label" for="factorization_a^3-3a^2b+3ab^2-b^3=(a-b)^3">
                            \( a^3-3a^2b+3ab^2-b^3=(a-b)^3 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^3+b^3=(a+b)(a^2-ab+b^2)" name="used_formula_for_factorization" id="factorization_a^3+b^3=(a+b)(a^2-ab+b^2)" checked>
                        <label class="form-check-label" for="factorization_a^3+b^3=(a+b)(a^2-ab+b^2)">
                            \( a^3+b^3=(a+b)(a^2-ab+b^2) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="a^3-b^3=(a-b)(a^2+ab+b^2)" name="used_formula_for_factorization" id="factorization_a^3-b^3=(a-b)(a^2+ab+b^2)" checked>
                        <label class="form-check-label" for="factorization_a^3-b^3=(a-b)(a^2+ab+b^2)">
                            \( a^3-b^3=(a-b)(a^2+ab+b^2) \)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`used_formula_for_factorization`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`used_formula_for_factorization`)" value="全部はずし">
                </div>
                <small class="text-muted">x以外の文字を含むか</small>
                <div clas="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="exist" name="another_character_exists_or_not" id="factorization_another_character_exists">
                        <label class="form-check-label" for="factorization_another_character_exists">
                            含む
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_exist" name="another_character_exists_or_not" id="factorization_another_character_not_exist" checked>
                        <label class="form-check-label" for="factorization_another_character_not_exist">
                            含まない
                        </label>
                    </div>
                </div>
                <small class="text-muted">印刷時の公式の表示</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="show_factorization_formula" name="show_formula" id="show_factorization_formula" checked>
                        <label class="form-check-label" for="show_factorization_formula">
                            表示する
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_show_factorization_formula" name="show_formula" id="not_show_factorization_formula">
                        <label class="form-check-label" for="not_show_factorization_formula"> 
                            表示しない
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ExpandSquareFivePaperRadio" checked>
                        <label class="form-check-label" for="ExpandSquareFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ExpandTenPaperRadio">
                        <label class="form-check-label" for="ExpandTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ExpandFifteenPaperRadio">
                        <label class="form-check-label" for="ExpandFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'hs1_factorization_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'hs1_factorization_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>2次関数を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">与えられる情報</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="vertex_and_one_point" name="given_information" id="hs1_quadratic_function_vertex_and_one_point" checked>
                        <label class="form-check-label" for="hs1_quadratic_function_vertex_and_one_point">
                            頂点+1点
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="three_points" name="given_information" id="hs1_quadratic_function_three_points" checked>
                        <label class="form-check-label" for="hs1_quadratic_function_three_points">
                            3点
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="the_axis_of_symmetry_and_two_points" name="given_information" id="hs1_quadratic_function_the_axis_of_symmetry_and_two_points">
                        <label class="form-check-label" for="hs1_quadratic_function_the_axis_of_symmetry_and_two_points">
                            軸+2点
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="before_parabora_and_line_or_parabora_containing_vertex_and_one_point" name="given_information" id="hs1_quadratic_function_before_parabora_and_line_or_parabora_containing_vertex_and_one_point">
                        <label class="form-check-label" for="hs1_quadratic_function_before_parabora_and_line_or_parabora_containing_vertex_and_one_point">
                            平行移動前の放物線+頂点がある直線・放物線+1点
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`given_information`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`given_information`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="HS1QuadraticFunctionFivePaperRadio" checked>
                        <label class="form-check-label" for="HS1QuadraticFunctionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="HS1QuadraticFunctionTenPaperRadio">
                        <label class="form-check-label" for="HS1QuadraticFunctionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="HS1QuadraticFunctionFifteenPaperRadio">
                        <label class="form-check-label" for="HS1QuadraticFunctionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'hs1_quadratic_function_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'hs1_quadratic_function_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>平方完成</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する係数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="CompletingTheSquareIntegerCheck" checked>
                        <label class="form-check-label" for="CompletingTheSquareIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="CompletingTheSquareFracCheck">
                        <label class="form-check-label" for="CompletingTheSquareFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">カッコの中に</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_including_fraction" name="number_including_in_bracket" id="not_including_fraction" checked>
                        <label class="form-check-label" for="not_including_fraction">
                            分数が登場しない
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="including_fraction" name="number_including_in_bracket" id="including_fraction">
                        <label class="form-check-label" for="including_fraction">
                            分数が登場する
                        </label>
                    </div>
                </div>
                <small class="text-muted">係数に文字が</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="including_character" name="character_including_or_not" id="including_character">
                        <label class="form-check-label" for="including_character">
                            含まれる
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_including_character" name="character_including_or_not" id="not_including_character" checked>
                        <label class="form-check-label" for="not_including_character">
                            含まれない
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="CompletingTheSquareFivePaperRadio" checked>
                        <label class="form-check-label" for="CompletingTheSquareFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="CompletingTheSquareTenPaperRadio">
                        <label class="form-check-label" for="CompletingTheSquareTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="CompletingTheSquareFifteenPaperRadio">
                        <label class="form-check-label" for="CompletingTheSquareFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'completing_the_square_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'completing_the_square_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>2次関数の最大最小</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">動くもの</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="the_axis_of_symmetry" name="moving_part" id="hs1_quadratic_function_the_axis_of_symmetry" checked>
                        <label class="form-check-label" for="hs1_quadratic_function_the_axis_of_symmetry">
                            軸(定義域は固定)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="domain" name="moving_part" id="hs1_quadratic_function_domain" checked>
                        <label class="form-check-label" for="hs1_quadratic_function_domain">
                            定義域(軸は固定)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`moving_part`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`moving_part`)" value="全部はずし">
                </div>
                <small class="text-muted">求める値</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="max" name="max_min" id="hs1_quadratic_function_max" checked>
                        <label class="form-check-label" for="hs1_quadratic_function_max">
                            最大値
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="min" name="max_min" id="hs1_quadratic_function_min" checked>
                        <label class="form-check-label" for="hs1_quadratic_function_min">
                            最小値
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`moving_part`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`moving_part`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="HS1QuadraticFunctionFivePaperRadio" checked>
                        <label class="form-check-label" for="HS1QuadraticFunctionFivePaperRadio">
                            14問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="HS1QuadraticFunctionTenPaperRadio">
                        <label class="form-check-label" for="HS1QuadraticFunctionTenPaperRadio">
                            14問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="HS1QuadraticFunctionFifteenPaperRadio">
                        <label class="form-check-label" for="HS1QuadraticFunctionFifteenPaperRadio">
                            14問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'hs1_quadratic_function_max_min_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'hs1_quadratic_function_max_min_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>n進数の変換</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">変換元と変換先</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="from_n_base_to_ten_base" name="convert_from_to_type" id="n_base_to_ten_base" checked>
                        <label class="form-check-label" for="n_base_to_ten_base">
                            n進数→10進数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="from_ten_base_to_n_base" name="convert_from_to_type" id="ten_base_to_n_base" checked>
                        <label class="form-check-label" for="ten_base_to_n_base">
                            10進数→n進数
                        </label>
                    </div>
                </div>
                <small class="text-muted">変換元に使用される数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_convert" id="base_n_numbers_integer" checked>
                        <label class="form-check-label" for="base_n_numbers_integer">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_convert" id="base_n_numbers_decimal" checked>
                        <label class="form-check-label" for="base_n_numbers_decimal">
                            小数
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="BaseNNumbersFivePaperRadio" checked>
                        <label class="form-check-label" for="BaseNNumbersFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="BaseNNumbersTenPaperRadio">
                        <label class="form-check-label" for="BaseNNumbersTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="BaseNNumbersFifteenPaperRadio">
                        <label class="form-check-label" for="BaseNNumbersFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'base_n_numbers_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'base_n_numbers_display' %}">      
            </form>
        </div>
    </div>
        <div class="row">
        <div class="col border-end border-bottom">
            <p>三角比の値と角度</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="degree_to_value" name="problem_type" id="trigonometric_ratio_degree_to_value" checked>
                        <label class="form-check-label" for="trigonometric_ratio_degree_to_value">
                            角度から三角比の値を求める
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="value_to_degree" name="problem_type" id="trigonometric_ratio_value_to_degree" checked>
                        <label class="form-check-label" for="trigonometric_ratio_value_to_degree">
                            三角比の値から角度を求める
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mutual_relationships" name="problem_type" id="trigonometric_ratio_mutual_relationships">
                        <label class="form-check-label" for="trigonometric_ratio_mutual_relationships">
                            三角比の相互関係
                        </label>
                    </div>
                </div>
                <small class="text-muted">角度⇔三角比の値で使用される角度の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="up_to_90" name="degree_range" id="trigonometric_ratio_up_to_90" checked>
                        <label class="form-check-label" for="trigonometric_ratio_up_to_90">
                            90°まで
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="up_to_180" name="degree_range" id="trigonometric_ratio_up_to_180">
                        <label class="form-check-label" for="trigonometric_ratio_up_to_180">
                            180°まで
                        </label>
                    </div>
                </div>
                <small class="text-muted">角度⇔三角比の値で登場する三角比</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="sin" name="used_trigonometric_ratio" id="trigonometric_ratio_sin" checked>
                        <label class="form-check-label" for="trigonometric_ratio_sin">
                            sin
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cos" name="used_trigonometric_ratio" id="trigonometric_ratio_cos" checked>
                        <label class="form-check-label" for="trigonometric_ratio_cos">
                            cos
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="tan" name="used_trigonometric_ratio" id="trigonometric_ratio_tan" checked>
                        <label class="form-check-label" for="trigonometric_ratio_tan">
                            tan
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="TrigonometricRatioFivePaperRadio" checked>
                        <label class="form-check-label" for="TrigonometricRatioFivePaperRadio">
                            10問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="TrigonometricRatioTenPaperRadio">
                        <label class="form-check-label" for="TrigonometricRatioTenPaperRadio">
                            10問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="TrigonometricRatioFifteenPaperRadio">
                        <label class="form-check-label" for="TrigonometricRatioFifteenPaperRadio">
                            10問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'trigonometric_ratio_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'trigonometric_ratio_display' %}">      
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
</div>
{% endblock %}