{% extends 'math_print/base.html' %}

{% block title %}
計算練習(小5)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function checkAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (!(statuses[i].checked)){
                statuses[i].checked = true;
            }
        }
    }

    function uncheckAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (statuses[i].checked){
                statuses[i].checked = false;
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p id="addition_and_subtraction_title">足し算・引き算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">出題される計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="addition" name="used_calculation" id="addition_used_calculation" checked>
                        <label class="form-check-label" for="addition_used_calculation">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="subtraction" name="used_calculation" id="subtraction_used_calculation" checked>
                        <label class="form-check-label" for="subtraction_used_calculation">
                            引き算
                        </label>
                    </div>
                </div>
                <small class="text-muted">計算に使用される数の桁数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="digit_of_number" id="3_digit_of_number" checked>
                        <label class="form-check-label" for="3_digit_of_number">
                            3桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="4" name="digit_of_number" id="4_digit_of_number" checked>
                        <label class="form-check-label" for="4_digit_of_number">
                            4桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="5" name="digit_of_number" id="5_digit_of_number">
                        <label class="form-check-label" for="5_digit_of_number">
                            5桁
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="AdditionAndSubtractionFor3rdGradeFivePaperRadio" checked>
                        <label class="form-check-label" for="AdditionAndSubtractionFor3rdGradeFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="AdditionAndSubtractionFor3rdGradeTenPaperRadio">
                        <label class="form-check-label" for="AdditionAndSubtractionFor3rdGradeTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="AdditionAndSubtractionFor3rdGradeFifteenPaperRadio">
                        <label class="form-check-label" for="AdditionAndSubtractionFor3rdGradeFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'addition_and_subtraction_for_elementary_school3_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'addition_and_subtraction_for_elementary_school3_display' %}">      
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col border-end border-bottom">
            <p id="multiplication_title">掛け算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">掛けられる数の桁数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="digit_of_multiplied_number" id="digit_of_multiplied_number_2" checked>
                        <label class="form-check-label" for="digit_of_multiplied_number_2">
                            2桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="digit_of_multiplied_number" id="digit_of_multiplied_number_3" checked>
                        <label class="form-check-label" for="digit_of_multiplied_number_3">
                            3桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="4" name="digit_of_multiplied_number" id="digit_of_multiplied_number_4">
                        <label class="form-check-label" for="digit_of_multiplied_number_4">
                            4桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="5" name="digit_of_multiplied_number" id="digit_of_multiplied_number_5">
                        <label class="form-check-label" for="digit_of_multiplied_number_5">
                            5桁
                        </label>
                    </div>
                    <small class="text-muted">掛ける数の桁数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="2" name="digit_of_multiplying_number" id="digit_of_multiplying_number_2" checked>
                            <label class="form-check-label" for="digit_of_multiplying_number_2">
                                2桁
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="3" name="digit_of_multiplying_number" id="digit_of_multiplying_number_3" checked>
                            <label class="form-check-label" for="digit_of_multiplying_number_3">
                                3桁
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="4" name="digit_of_multiplying_number" id="digit_of_multiplying_number_4">
                            <label class="form-check-label" for="digit_of_multiplying_number_4">
                                4桁
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="5" name="digit_of_multiplying_number" id="digit_of_multiplying_number_5">
                            <label class="form-check-label" for="digit_of_multiplying_number_5">
                                5桁
                            </label>
                        </div>
                    </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="DivisionFor3rdGradeFivePaperRadio" checked>
                        <label class="form-check-label" for="DivisionFor3rdGradeFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="DivisionFor3rdGradeTenPaperRadio">
                        <label class="form-check-label" for="DivisionFor3rdGradeTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="DivisionFor3rdGradeFifteenPaperRadio">
                        <label class="form-check-label" for="DivisionFor3rdGradeFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'division_for_elementary_school3_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'division_for_elementary_school3_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p id="division_title">割り算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">余りの有無</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="without_remainder" name="remainder_type" id="remainder_type_without_remainder" checked>
                        <label class="form-check-label" for="remainder_type_without_remainder">
                            余り無し
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="with_remainder" name="remainder_type" id="remainder_type_with_remainder" checked>
                        <label class="form-check-label" for="remainder_type_with_remainder">
                            余り有り
                        </label>
                    </div>
                </div>
                <small class="text-muted">割られる数の桁数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="digit_of_divided_number" id="digit_of_divided_number_1" checked>
                        <label class="form-check-label" for="digit_of_divided_number_1">
                            1桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="digit_of_divided_number" id="digit_of_divided_number_2" checked>
                        <label class="form-check-label" for="digit_of_divided_number_2">
                            2桁
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="DivisionFor3rdGradeFivePaperRadio" checked>
                        <label class="form-check-label" for="DivisionFor3rdGradeFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="DivisionFor3rdGradeTenPaperRadio">
                        <label class="form-check-label" for="DivisionFor3rdGradeTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="DivisionFor3rdGradeFifteenPaperRadio">
                        <label class="form-check-label" for="DivisionFor3rdGradeFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'division_for_elementary_school3_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'division_for_elementary_school3_display' %}">      
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col border-end border-bottom">
            <p>単位の変換</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する単位</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="length" name="unit_type" id="length_unit_checkbox" checked>
                        <label class="form-check-label" for="length_unit_checkbox">
                            長さ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="weight" name="unit_type" id="weight_unit_checkbox" checked>
                        <label class="form-check-label" for="weight_unit_checkbox">
                            重さ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="area" name="unit_type" id="area_unit_checkbox" checked>
                        <label class="form-check-label" for="area_unit_checkbox">
                            面積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="volume" name="unit_type" id="volume_unit_checkbox" checked>
                        <label class="form-check-label" for="volume_unit_checkbox">
                            体積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="time" name="unit_type" id="time_unit_checkbox" checked>
                        <label class="form-check-label" for="time_unit_checkbox">
                            時間
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('unit_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('unit_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="UnitConversionFivePaperRadio" checked>
                        <label class="form-check-label" for="UnitConversionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="UnitConversionTenPaperRadio">
                        <label class="form-check-label" for="UnitConversionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="UnitConversionFifteenPaperRadio">
                        <label class="form-check-label" for="UnitConversionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'unit_conversion_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'unit_conversion_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>分母が同じ真分数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="addition" name="same_denominator_calculate_type" id="same_denominator_calculate_type_addition" checked>
                        <label class="form-check-label" for="same_denominator_calculate_type_addition">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="subtraction" name="same_denominator_calculate_type" id="same_denominator_calulate_type_subtraction" checked>
                        <label class="form-check-label" for="same_denominator_calulate_type_subtraction">
                            引き算
                        </label>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="term_number" id="same_denominator_2" checked>
                        <label class="form-check-label" for="same_denominator_2">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="term_number" id="same_denominator_3" checked>
                        <label class="form-check-label" for="same_denominator_3">
                            3項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="SameDenominatorFractionCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="SameDenominatorCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="SameDenominatorFractionCalculateTenPaperRadio">
                        <label class="form-check-label" for="SameDenominatorFractionCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="SameDenominatorFractionCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="SameDenominatorFractionCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'same_denominator_calculate_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'same_denominator_calculate_display' %}">      
            </form>
        </div>
    </div>

    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2022 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}