
{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- Stylesheet -->
<link href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraph.min.css" rel="stylesheet">
<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraphcore.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
function refresh() {
    var url = location.origin;
    var pathname = location.pathname;
    var hash = location.hash;
    location = url + pathname + '?application_refresh=' + (Math.random() * 100000) + hash;
}

window.addEventListener("load", (event)=>{
    const text_css = 'font-family: "Times New Roman", Times, "serif"; font-style: italic';
});
</script>
{% endblock %}

{% block added_cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block css %}
<style type="text/css">
    .fa-solid{
        color: gray;
        text-decoration: none;
    }
    .fa-pen-to-square{
        color: gray;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block title %}
対数方程式を解く(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">対数方程式を解く(解説)</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h4">
        対数方程式を解く
        <small class="text-muted">～対数+方程式～</small>
    </h1>

    <br>
    <ul class="list-group row m-4 p-4">
        <h2 class="h5">目次</h2>
        <li class="list-group-item col-md-6"><a href="#foreword" class="text-decoration-none text-reset">前書き</a></li>
        <li class="list-group-item col-md-6"><a href="#log_{a}(ax + b) = c" class="text-decoration-none text-reset">\( \log_{a}(ax + b) = c \)型の対数方程式</a></li>
    </ul>
    <br>

    <div class="row m-4 p-4 border-bottom" id="foreword">
        <h2 class="text-muted h5" id="foreword">前書き</h2>
        <p class="lh-1">ここでは対数方程式を確認していきます。対数と方程式の知識の両方が要求される応用問題ですね。</p>
        <p class="lh-1">やり方としては決まった手順を守っておけば解けるようになっていますが、特に真数条件には要注意です。</p>
        <p class="lh-1">場合によっては解が弾かれる場合もあります。また、今後の応用問題にも常について回ります。</p>
        <p class="lh-1">初めの段階で確認する癖をつけておきましょう。</p>
    </div>

    <div class="row m-4 p-4 border-bottom" id="foreword">
        <h2 class="text-muted h5" id="log_{a}(ax + b) = c">\( \log_{a}(bx + c) = d \)型の対数方程式</h2>
        <p class="lh-1">ここでは対数方程式を確認していきます。対数と方程式の知識の両方が要求される応用問題ですね。</p>
        <br>
        <p class="lh-1">例題1: \( log_{2}(x - 1) = 3\)</p>
        <p class="lh-1">前書きでも述べた通り、まずは真数条件を確認しましょう。</p>
        <p class="lh-1">今回の真数は\( x- 1 \)なので、\( x- 1 > 0 \)、すなわち\( x > 1 \)が成り立つ必要があります。</p>
        <p class="lh-1">次に両辺を底が同じ対数になるようにします。今回は左辺の底が2なので、右辺もこれに合わせていきましょう。</p>
        <p class="lh-1">ここでは、\( k log_{a}b = log_{a} b^k \)を利用します。</p>
        <p class="lh-1">\( 3 = 3 log_{2}2 =  \)</p>
    </div>
</div>

<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'highschool2' %}" class="btn btn-primary" type="button">問題選択へ戻る</a>
    <a href="{% url 'index' %}" class="btn btn-primary" type="button">トップへ戻る</a>
</div>

<footer class="container-fluid print_footer">
    <small><a href="#">© 2023 有明学習振興</a></small>
</footer>
{% endblock %}