{% extends 'math_print/base.html' %}

{% block title %}
積分計算
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
<script>
function checkAllStatus(target){
    let statuses = document.getElementsByName(target);

    for (let i =0; i < statuses.length; i++){
        if (!(statuses[i].checked)){
            statuses[i].checked = true;
        }
    }
}

function uncheckAllStatus(target){
    let statuses = document.getElementsByName(target);

    for (let i =0; i < statuses.length; i++){
        if (statuses[i].checked){
            statuses[i].checked = false;
        }
    }
}
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col border-end border-bottom">
            <p id="formula_with_symbol">1次式の置換を用いるタイプの積分計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">積分計算のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="indefinite_integral" name="integral_type" id="IntegrationOfCalculationIndefiniteIntegral" checked>
                        <label class="form-check-label" for="IntegrationOfCalculationIndefiniteIntegral">
                            不定積分
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="definite_integral" name="integral_type" id="IntegrationOfCalculationDefiniteIntegral" checked>
                        <label class="form-check-label" for="IntegrationOfCalculationDefiniteIntegral">
                            定積分
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('integral_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('integral_type')" value="全部はずし">
                </div>
                <small class="text-muted">使用される積分公式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="n_dimension_function" name="used_formula" id="IntegrationOfCalculationNDimension" checked>
                        <label class="form-check-label" for="IntegrationOfCalculationNDimension">
                            \( \int x^n \, dx = \dfrac{1}{n+1} x^{n+1} + C \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1/x" name="used_formula" id="IntegrationOfCalculation1/x" checked>
                        <label class="form-check-label" for="IntegrationOfCalculation1/x">
                            \( \int \dfrac{dx}{x} = \log|{x}| + C \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1/x^2" name="used_formula" id="IntegrationOfCalculation1/x^2" checked>
                        <label class="form-check-label" for="IntegrationOfCalculation1/x^2">
                            \( \int \dfrac{dx}{x^2} = -\frac{1}{x} + C \)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="sin" name="used_formula" id="IntegrationOfCalculationSin" checked>
                        <label class="form-check-label" for="IntegrationOfCalculationSin">
                            \( \int \sin x \, dx = -\cos x + C\)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cos" name="used_formula" id="IntegrationOfCalculationCos" checked>
                        <label class="form-check-label" for="IntegrationOfCalculationCos">
                            \( \int \cos{x} \, dx = \sin x + C \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1/cos^2x" name="used_formula" id="IntegrationOfCalculation1/Cos^2x" checked>
                        <label class="form-check-label" for="IntegrationOfCalculation1/Cos^2x">
                            \( \int_{ }^{ } \dfrac{1}{\cos^{2} x} \, dx = \tan x + C \)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1/sin^2x" name="used_formula" id="IntegrationOfCalculation1/Sin^2x" checked>
                        <label class="form-check-label" for="IntegrationOfCalculation1/Sin^2x">
                            \( \int_{ }^{ } \dfrac{1}{\sin^{2}x} \, dx = -\dfrac{1}{\tan x} + C \)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="e^x" name="used_formula" id="IntegrationOfCalculatione^x" checked>
                        <label class="form-check-label" for="IntegrationOfCalculatione^x">
                            \( \int_{ }^{ } e^x \, dx = e^x + C \)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('used_formula')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('used_formula')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="IntegrationOfCalculationFivePaperRadio" checked>
                        <label class="form-check-label" for="IntegrationOfCalculationFivePaperRadio">
                            10問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="IntegrationOfCalculationTenPaperRadio">
                        <label class="form-check-label" for="IntegrationOfCalculationTenPaperRadio">
                            10問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="IntegrationOfCalculationFifteenPaperRadio">
                        <label class="form-check-label" for="IntegrationOfCalculationFifteenPaperRadio">
                            10問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'hs3_integral_calculation_of_linear_function_replacement_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(10問)" formaction="{% url 'hs3_integral_calculation_of_linear_function_replacement_display' %}">      
            </form>
        </div>
    </div>

    <br>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2024 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}