{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
function refresh() {
    var url = location.origin;
    var pathname = location.pathname;
    var hash = location.hash;
    location = url + pathname + '?application_refresh=' + (Math.random() * 100000) + hash;
}

window.addEventListener("load", (event)=>{
    const text_css = 'font-family: "Times New Roman", Times, "serif"; font-style: italic';
});
</script>
{% endblock %}

{% block added_cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block css %}
<style type="text/css">
    .fa-solid{
        color: gray;
        text-decoration: none;
    }
    .fa-pen-to-square{
        color: gray;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block title %}
割合・百分率・歩合(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">割合・百分率・歩合(解説)</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h4">
        割合・百分率・歩合
        <small class="text-muted">～文章から、割合・比べる量・もとにする量を見ぬこう～</small>
    </h1>
    <br>

    <ul class="list-group row m-4 p-4">
        <h2 class="h5">目次</h2>
        <li class="list-group-item col-md-6"><a href="#foreword" class="text-decoration-none text-reset">前書き</a></li>
        <li class="list-group-item col-md-6"><a href="#raito_without_change_unit" class="text-decoration-none text-reset">割合と、その求め方(単位が同じ場合)</a></li>
        <li class="list-group-item col-md-6"><a href="#raito_with_change_unit" class="text-decoration-none text-reset">割合と、その求め方(単位が異なる場合)</a></li>
        <li class="list-group-item col-md-6"><a href="#raito_summary" class="text-decoration-none text-reset">割合のまとめ</a></li>
        <li class="list-group-item col-md-6"><a href="#amount_to_compare_without_change_unit" class="text-decoration-none text-reset">比べる量と、その求め方(単位が同じ場合)</a></li>
        <li class="list-group-item col-md-6"><a href="#amount_to_compare_with_change_unit" class="text-decoration-none text-reset">比べる量と、その求め方(単位が異なる場合)</a></li>
        <li class="list-group-item col-md-6"><a href="#afterword" class="text-decoration-none text-reset">後書き</a></li>
    </ul>
    <br>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="foreword">前書き</h2>
        <p class="lh-1">ここでは割合の問題を解説していきます。文章問題が中心になっていて、受験でもよく出てくる分野です。</p>
        <p class="lh-1">ポイントはずばり、<span class="text-decoration-underline text-warning">問題の文から、どの数字がどの量にあたるのかをしっかりと見抜くこと</span>です。</p>
        <p class="lh-1">特に、あとで紹介する比べる量、もとにする量は、どちらなのかわかりづらくなりやすいです。</p>
        <p class="lh-1">いろいろな問題を解きながら、文章問題になれていきましょう。</p>
    </div>

    <div class="row m-4 p-4 border-bottom border-primary">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="raito_without_change_unit">割合と、その求め方(単位が同じ場合)</h2>
            <p class="lh-1">まずはそもそも、割合が何なのかについて確認しておきましょう。</p>
            <p class="lh-1">割合とは、<span class="text-decoration-underline text-warning">ある量をもとにしたとき、比べたい量がその量の何倍になっているのか?</span>を表現した数です。</p>
            <p class="lh-1">そのため、同じ数字でも、基準、つまりもとにする量次第で割合は変わってきます。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">具体的な問題を見てみましょう。</p>
            <br>
            <br>
            <p class="lh-1 border-bottom">例題1: \( 10 \mathrm{cm} \)は\( 2 \mathrm{cm} \)の何倍ですか?</p>
            <br>
            <br>
            <p class="lh-1">これが一番シンプルな割合のたずね方です。</p>
            <p class="lh-1">まず、「\( 2 \mathrm{cm} \)の何倍」と聞かれているので、\( 2 \mathrm{cm} \)がもとにする量になります。</p>
            <p class="lh-1">そして、\( 10 \mathrm{cm} \)が割合を知りたい量、つまり比べる量になります。</p>
            <p class="lh-1">そのため、この時の割合は\( 10 \div 2 = 5 \)で5倍となります。</p>
            <p class="lh-1">実際に、\( 2 \mathrm{cm} \)を5倍にすれば、\( 2 \times 5 = 10 \)できちんと\( 10 \mathrm{cm} \)となっています。</p>
            <p class="lh-1">この流れが割合を計算するときの基本です。何がもとにする量で、何が比べる量なのかが重要です。</p>
        </div>
        
        <div class="m-2 p-2">
            <p class="lh-1">そしてこれは、割合が小数になったとしても変わりません。次の例を見てみましょう。</p>
            <br>
            <br>
            <p class="lh-1">例題2: \( 6 \mathrm{kg} \)は\( 10 \mathrm{kg} \)の何倍ですか?</p>
            <br>
            <br>
            <p class="lh-1">まず、「\( 10 \mathrm{kg} \)の何倍」と聞かれているので、\( 10 \mathrm{kg} \)がもとにする量となります。</p>
            <p class="lh-1">次に、\( 6 \mathrm{kg} \)が比べる量になります。</p>
            <p class="lh-1">よって、この時の割合は\( 6 \div 10 = 0.6 \)で0.6倍となります。</p>
            <p class="lh-1">例1と同じように、\( 10 \mathrm{kg} \)を0.6倍すれば、\( 10 \times 0.6 = 6 \)できちんと\( 6 \mathrm{kg} \)となっていることもわかります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">例題1はそれこそ日ごろの生活で自然とやっている計算です。</p>
            <p class="lh-1">ただ、なれないうちは例2のような計算、つまり小数が出る計算になると、とまどってしまう人が多いです。</p>
            <p class="lh-1">しかし見ての通り、<span class="text-decoration-underline text-warning">やっていること自体は全く同じ</span>になっています。</p>
            <p class="lh-1">まずはもとにする量を考えて、その数字で比べたい量を割る。割合はこれだけで求められます。小数かそうでないかは関係ありません。</p>
            <p class="lh-1">この計算を公式にすると、「<span class="text-warning">(割合) \( \color{orange}= \) (比べる量) \( \color{orange}\div \) (もとにする量)</span>」となります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">それでは次の問題を見てみましょう。</p>
            <br>
            <br>
            <p class="lh-1">例題3: \( 40 \mathrm{cm} \)をもとにするとき、\( 10 \mathrm{cm} \)の割合を百分率で表しなさい。</p>
            <br>
            <br>
            <p class="lh-1">初めの計算は、例題1,2と変わりません。</p>
            <p class="lh-1">\( 40 \mathrm{cm} \)がもとにする量、\( 10 \mathrm{cm} \)が比べる量なので、</p>
            <p class="lh-1">(割合) \( = \) (比べる量) \( \div \) (もとにする量) \( = 10 \div 40 = 0.25 \)から、割合は\( 0.25 \)です。</p>
            <p class="lh-1">ここで、<span class="text-decoration-underline text-warning">百分率になおすためには、小数の割合に100をかければよい</span>ので、</p>
            <p class="lh-1">百分率での割合は、\( 0.25 \times 100 = 25 \)より、\( 25 \% \)となります。</p>
            <p class="lh-1">問題によっては、このように小数とは違った割合を使わなければならないこともあります。</p>
            <p class="lh-1">百分率はその代表です。しっかりと書きかえられるようにしておきましょう。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">違う割合の表現として、もう1問見てみましょう。</p>
            <br>
            <br>
            <p class="lh-1">例題4: \(  105 \mathrm{m^3} \)の、\( 500 \mathrm{m^3} \)に対する割合を歩合で表しなさい。</p>
            <br>
            <br>
            <p class="lh-1">こちらもやはり、初めの計算は変わりません。</p>
            <p class="lh-1">\( 105 \mathrm{m^3} \)が比べる量、\( 500 \mathrm{m^3} \)がもとにする量なので、</p>
            <p class="lh-1">(割合) \( = \) (比べる量) \( \div \) (もとにする量) \( = 105 \div 500 = 0.21 \)から、割合は\( 0.21 \)です。</p>
            <p class="lh-1">ここで、この数字を<span class="text-decoration-underline text-warning">歩合になおすためには、小数点以下の数字を、漢字に1つずつ割り当てていく</span>必要があります。</p>
            <p class="lh-1">漢字の方は、とりあえず大きい方から4つ、「<ruby>割<rt>わり</rt></ruby>」「<ruby>分<rt>ぶ</rt></ruby>」「<ruby>厘<rt>りん</rt></ruby>」、それから「<ruby>毛<rt>もう</rt></ruby>」を覚えておけば良いでしょう。それより小さい値は基本的に算数には登場しません。</p>           
            <p class="lh-1">今回の割合は、\( 0.\color{blue}2\color{orange}1 \)なので、歩合になおすと、
                <span class="text-primary">2</span>割<span class="text-warning">1</span>分となります。
            </p>
            <p class="lh-1">数字に割り当てる漢字さえ覚えておけば、あとは順番に当てはめるだけになっています。</p>
            <br>
            <br>
            <p class="lh-1">また、今回は関係ありませんでしたが、たとえば\( 0.405 \)や\( 0.03 \)のように小数点以下に0が入っているときは、割り当てをすることなく飛ばしましょう。</p>
            <p class="lh-1">\( 0.\color{blue}4\color{black}0\color{green}5 \)なら<span class="text-primary">4</span>割<span class="text-success">5</span>厘、
                \( 0.0\color{orange}3 \)なら<span class="text-warning">3</span>分です。
            </p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="raito_without_change_unit">割合と、その求め方(単位が異なる場合)</h2>
            <p class="lh-1">次も割合を求める問題ですが、<span class="text-decoration-underline">単位が異なる</span>場合を見ていきます。</p>
            <p class="lh-1"><span class="text-decoration-underline text-warning">単位が異なるときは、単位をそろえてから割合を求める</span>必要があります。</p>
            <p class="lh-1">そのため、単位が異なる計算が怪しいときは、一度確認するようにしておきましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">例題5: \( 100 \mathrm{g} \)に対する\( 1 \mathrm{kg} \)の割合を小数で答えなさい。</p>
            <br>
            <br>
            <p class="lh-1">まずは\( 100 \mathrm{g} \)を\( \mathrm{kg} \)になおすか、\( 1 \mathrm{kg} \)を\( \mathrm{g} \)になおすか、いずれかをやる必要があります。</p>
            <p class="lh-1">ここでは単位をかえたあとに、数が小さくする方と大きくする方、両方で計算してみて違いを確認してみましょう。</p>
            <br>
            <br>
            <p class="lh-1">まず小さくする方です。つまり、\( 100 \mathrm{g} \)を\( \mathrm{kg}\)になおしてから計算する、という流れです。</p>
            <p class="lh-1">\( \mathrm{g} \)を\( \mathrm{kg} \)になおすためには、1000で割ればOKです。そのため、\( 100 \mathrm{g} \)は\( 100 \div 1000 = 0.1 \mathrm{kg} \)となります。数は変える前と比べて小さくなっていますね。</p>
            <p class="lh-1">単位がそろったので、あとは公式どおり割合を求めると、</p>
            <p class="lh-1">(割合) \( = \) (比べる量) \( \div \) (もとにする量) \( = 0.1 \div 1 = 0.1 \)となり、割合が\( 0.1 \)であることがわかりました。</p>
            <br>
            <br>
            <p class="lh-1">続いては、大きくするほうです。つまり、\( 1 \mathrm{kg} \)を\( \mathrm{g} \)になおしてから計算します。</p>
            <p class="lh-1">\( \mathrm{kg} \)を\( \mathrm{g} \)になおすためには、1000をかければよいです。そのため、\( 1 \mathrm{kg} \)は\( 1 \times 1000 = 1000 \mathrm{g} \)となります。こちらは逆に、変える前と比べて数が大きくなっていますね。</p>
            <p class="lh-1">あとは公式どおり割合を求めると、</p>
            <p class="lh-1">(割合) \( = \) (比べる量) \( \div \) (もとにする量) \( = 100 \div 1000 = 0.1 \)となり、割合が\( 0.1 \)であることがわかりました。</p>
            <br>
            <br>
            <p class="lh-1">このように、どちらでも答えが出ますので、好みで選んでしまって構いません。</p>
            <p class="lh-1">ただ、あえていうのであれば、<span class="text-decoration-underline text-warning">数字が大きくなる方になおすことで、小数の計算をなるべくさける</span>ことをおすすめします。</p>
            <p class="lh-1">小数の計算は、たとえば小数点の場所など、考えることが少し多いです。特にこだわりがなければ、数が大きくなるほうに変えてあげてください。</p>
            <p class="lh-1">小さくするほうに変えるよりも、小数の計算が必要になる可能性が低くなります。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">もう1問、少しだけひねった問題を見てみましょう。</p>
            <br>
            <br>
            <p class="lh-1">例題6: \( 3 \mathrm{m}^2 \)の紙のうち、\( 22500 \mathrm{cm}^2 \)を切り取って運びました。残りの紙は、初めの紙のどれくらいの割合になるか、歩合で答えなさい。</p>
            <br>
            <br>
            <p class="lh-1">まず、先ほどと同じように単位をそろえます。\( \mathrm{m}^2 \)を\( \mathrm{cm^2} \)になおすためには、10000をかけれよいので、\( 3 \mathrm{m}^2 \)は、\( 3 \times 10000 = 30000 \mathrm{cm}^2 \)となります。</p>
            <p class="lh-1">次に、初めの紙が\( 30000 \mathrm{cm}^2 \)、切り取って運んだ紙は\( 22500 \mathrm{cm}^2 \)なので、残った紙は、\( 30000 - 22500 = 7500 \mathrm{cm}^2 \)となります。</p>
            <p class="lh-1">ここで、今回の問題では、「初めの紙のどれくらいの割合になるか」と聞かれているので、初めの紙がもとにする量、残った紙が比べる量になります。</p>
            <p class="lh-1">よって、(割合) \( = \) (比べる量) \( \div \) (もとにする量) \( = 22500 \div 30000 = 0.75 \)が求めたい割合です。</p>
            <p class="lh-1">最後に\( 0.\color{blue}7 \color{orange}5 \)を歩合になおすと、<span class="text-primary">7</span>割<span class="text-warning">5</span>分となります。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="raito_summary">割合のまとめ</h2>
            <p class="lh-1">ここで割合についてまとめておきます。</p>
            <ol class="list-group list-group-numbered list-group-flush">
                <li class="list-group-item">割合は、(比べる量) \( \div \) (もとにする量)で求められる</li>
                <li class="list-group-item">割合の基本は小数で、そこから100をかけると百分率に。各位の数字を漢字に割り当てていくと、歩合が求められる</li>
                <li class="list-group-item">単位が異なっている場合は、単位をそろえてから計算する</li>
            </ol>
            <br>
            <br>
            <p class="lh-1">割合を求める計算は、その名前の通り割合の中でもっとも基本的で、重要な考え方です。しっかりと理解しておきたいところです。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="amount_to_compare_without_change_unit">比べる量と、その求め方(単位が同じ場合)</h2>
            <p class="lh-1">次は比べる量を求める問題の確認です。</p>
            <p class="lh-1">割合の解説で比べる量と、もとにする量との関係についてはそれなりに説明しましたので、ここでは初めに公式を紹介してしまいましょう。</p>
            <p class="lh-1"><span class="text-warning">(比べる量) \( \color{orange}= \) (もとにする量) \( \color{orange}\times \) (割合)</span>です。</p>
            <p class="lh-1">まずはこれが正しいことを、先ほど使った例を少しいじったもので確認しましょう。</p>
            <br>
            <br>
            <p class="lh-1">例題3: \( 40 \mathrm{cm} \)をもとにするとき、\( 10 \mathrm{cm} \)の割合を小数で表しなさい。</p>
            <br>
            <br>
            <p class="lh-1">もとにする量が\( 40 \mathrm{cm} \)で、\( 10 \mathrm{cm} \)が比べる量。</p>
            <p class="lh-1">割合は、(比べる量) \( \div \) (もとにする量) \( = 10 \div 40 = 0.25 \)でした。</p>
            <p class="lh-1">ここで、比べる量の公式を使ってみると、</p>
            <p class="lh-1">(比べる量) = (もとにする量) \( \times \) (割合) \( = 40 \times 0.25 = 10 \)で、きちんと比べる量の\( 10 \mathrm{cm} \)と等しくなっていることがわかります。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">さて、公式が正しいということが確認できたところで、あらためて比べる量を求める問題に取り組んでいきましょう。</p>
            <br>
            <br>
            <p class="lh-1">例題7: \( 3 \mathrm{m}^2 \)の\( 0.3 \)は何\( \mathrm{m}^2 \)ですか。</p>
            <br>
            <br>
            <p class="lh-1">ここでは\( 3 \mathrm{m}^2 \)がもとにする量、\( 0.3 \)が割合なので、</p>
            <p class="lh-1">(比べる量) = (もとにする量) \( \times \) (割合) \( = 3 \times 0.3 = 0.9 \mathrm{m}^2 \)となります。</p>
            <p class="lh-1">だいたいの問題では「～の」の～にあたる部分がもとにする量になっていることが多いので、知っておくとお得かもしれませんね。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">次も比べる量を求める問題ですが、少し表現が変わっています。</p>
            <br>
            <p class="lh-1">例題8: \( 250 \mathrm{cm} \)あったリボンのうち\( 40 \% \)を切り取りました。残りの長さは\( \underline{\qquad\qquad} \mathrm{cm} \)です。</p>
            <br>
            <p class="lh-1">ここでも百分率が登場しました。百分率のあつかいはシンプルです。<span class="text-warning">小数になおしてから計算に使う</span>ようにしましょう。</p>
            <p class="lh-1">小数でかかれた割合は100をかけることで百分率になりました。</p>
            <p class="lh-1">そのため、百分率でかかれた割合を、小数の割合になおすときはその逆です。<span class="text-warning">100で割ってあげる</span>ことでなおせます。</p>
            <p class="lh-1">\( 40 \div 100 = 0.4 \)なので、比べる量の計算に使う割合は\( 0.4 \)だとわかりました。</p>
            <br>
            <p class="lh-1">さて、あとは\( 250 \mathrm{cm} \)をもとにする量として計算するだけなのですが、ひとつだけ注意しなければなりません。</p>
            <p class="lh-1">それはずばり、割合の\( 0.4 \)は、<span class="text-warning">切り取ったリボンの長さであって、残ったリボンの長さではない</span>ことです。</p>
            <p class="lh-1">「\( 40 \% \)を切り取りました」とかいてありますからね。</p>
            <p class="lh-1">なので、\( 0.4 \)を割合として計算した比べる量は、あくまで切り取ったリボンの長さです。</p>
            <p class="lh-1">それを踏まえた上で計算してみると、\( 250 \times 0.4 = 100 \mathrm{cm} \)となります。</p>
            <p class="lh-1">初めにあったリボンは\( 250 \mathrm{cm} \)なので、残ったリボンはここから切り取ったリボンの長さを引いて、\( 250 - 100 = 150 \mathrm{cm} \)となります。</p>
            <br>
            <br>
            <p class="lh-1">この解き方で特に問題はないのですが、ここでは割合の理解を深めるために他の解き方を2つ解説しておきましょう。</p>
            <br>
            <br>
            <p class="lh-1">まず紹介するのは<span class="text-warning">小数で割合をあらわしているとき、もととする量の割合は\( \color{orange}1 \)であること利用</span>するというものです。</p>
            <p class="lh-1">もととする量の割合が\( 1 \)で、切り取ったリボンの長さの割合が\( 0.4 \)ということは残ったリボンの割合は\( 1 - 0.4 = 0.6 \)になります。</p>
            <p class="lh-1">この割合を使えば、最後に引き算をする必要はありません。</p>
            <p class="lh-1">実際に計算してみると、\( 250 \times 0.6 = 150 \mathrm{cm} \)で先ほどの答えと同じになっています。</p>
            <br>
            <p class="lh-1">次に紹介するのは<span class="text-warning">百分率で割合をあらわしているとき、もととする量の割合は\( \color{orange}100 \)であることを利用</span>するというものです。</p>
            <p class="lh-1">今、「\( 40 \% \)を切り取りました」とあるので、残ったリボンの割合は\( 100 - 40 = 60 \% \)となります。</p>
            <p class="lh-1">これを小数になおすと、\( 60 \div 100 = 0.6 \)となります。</p>
            <p class="lh-1">この割合を使って残ったリボンの長さを計算すると、\( 250 \times 0.6 = 150 \mathrm{cm} \)となります。当然同じ答えです。</p>
            <br>
            <br>
            <p class="lh-1">他の解き方の紹介は以上です。</p>
            <p class="lh-1">ポイントは、もととなる量からの引き算ですね。小数のときは1、百分率のときは100から引けば、残りの量が出てきます。</p>
            <p class="lh-1">どの解き方でも正しい答えが出るので、自分がわかりやすいと感じる解き方で解けるようになればとりあえずOKです。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="amount_to_compare_with_change_unit">比べる量と、その求め方(単位が異なる場合)</h2>
            <p class="lh-1">お次も同じく比べる量を求める問題です。ただし、今回はもととする量と、比べる量の単位が異なっているパターンになります。</p>
            <p class="lh-1">このパターンでも割合のときと同じく、<span class="text-warning">両方の単位をそろえる</span>というのがポイントになってきます。</p>
            <p class="lh-1">どちらにそろえるのか、そして、どのタイミングでそろえるのかに注目しながら見て言ってください。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">例題9: \( 40 \mathrm{kg} \)の\( 0.35 \)は\( \underline{\qquad\qquad} \mathrm{g} \)です。</p>
            <br>
            <br>
            <p class="lh-1">ここでは問題に使われている単位は\( \mathrmr{kg} \)ですが、答えとして求められているのは\( \mathrm{g} \)となっています。</p>
            <p class="lh-1">そのため、計算のどこかで単位をかえてあげる必要があります。</p>
            <p class="lh-1">ここでは、初めの段階でなおすやり方と、最後になおすやり方の2つで解いてみます。</p>
            <br>
            <br>
            <p class="lh-1">まずは初めになおしてしまう解き方からです。</p>
            <p class="lh-1">\( \mathrm{kg} \)を\( \mathrm{g} \)になおしたければ、\( 1000 \)をかければよいので、\( 40\mathrm{kg} = 40 \times 1000 = 40000 \mathrm{g} \)です。</p>
            <p class="lh-1">あとは比べる量をもとめる公式を使うと、\( 40000 \mathrm{g} \)がもとにする量、\( 0.35 \)が割合なので、</p>
            <p class="lh-1">\(比べる量) = (もとにする量) \( \times \) (割合) \( = 40000 \times 0.35 = 14000 \mathrm{g} \)と答えが求められます。</p>
            <br>
            <p class="lh-1">次はあとでなおす解き方です。</p>
            <p class="lh-1">\( 40 \mathrm{kg} \)をもとにする量、\( 0.35 \)を割合とすると、</p>
            <p class="lh-1">(比べる量) = (もとにする量) \( \times \) (割合) \( = 40 \times 0.35 = 14 \mathmr{kg} \)となります。</p>
            <p class="lh-1">これに\( \times 1000 \)をして単位を\( \mathrm{g} \)にかえると、</p>
            <p class="lh-1">\( 14 \times 1000 = 14000 \mathrm{g} \)となります。当然上の解き方と同じ答えです。</p>
            <br>
            <br>
            <p class="lh-1">このように、どちらの解き方でも答えを出すことは可能です。自分で理解しやすい方を使うようにしてください。</p>
            <p class="lh-1">いずれにせよ、割合を求めていたときと同じく、単位を意識しながら解いていくようにしましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">最後は、問題文が少しだけひねられている問題です。</p>
            <br>
            <br>
            <p class="lh-1">例題10: \( 1.2 \mathrm{m^3} \)の水のうち、3割5分を減らしました。残った水は\( \underline{\qquad\qquad} \mathrm{cm^3} \)です。</p>
            <br>
            <br>
            <p class="lh-1">ここまで来ると、やるべき計算も増えて大変になりますが、1つずつ確認していきましょう。</p>
            <p class="lh-1">まずは歩合の3割5分を、決められた位置に数を当てはめて小数にもどすと、\( 0.35 \)</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <h2 cloass="text-muted h5" id="afterword">後書き</h2>
        <p class="lh-1">sample</p>
    </div>
</div>
{% endblock %}