
{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
function refresh() {
    var url = location.origin;
    var pathname = location.pathname;
    var hash = location.hash;
    location = url + pathname + '?application_refresh=' + (Math.random() * 100000) + hash;
}
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block title %}
定積分で面積を求める(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">定積分で面積を求める(解説)</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3>
        定積分で面積を求める
        <small class="text-muted">-公式を上手く活用して、時間と労力を節約しよう-</small>
    </h3>
    <div class="row">
        <h4>前書き</h4>
        <p>積分は共通テスト、2次試験ともに頻出の分野です。特に定積分を用いて面積を求める問題は非常によく出題されています。模試などで苦戦したことがある人も少なくないでしょう。</p>
        <p>そんな定積分ですが、これ自体はさして複雑な仕組みの計算ではありません。</p>
        <p>ここで一度定義を確認しておきましょう。</p>
        <br>
        <span class="border border-primary">
            <p>ある関数\( f(x) \)の原始関数、つまり積分先の関数を\( F(x)\)。積分範囲を\(a, b\)とすると、</p>
            <p>\( \int_{a}^{b} f(x) dx = \lbrack F(x) \rbrack_{a}^{b} = F(b) - F(a) \)</p>
        </span>
        <br>
        <p>と、これだけの内容です。原始関数</p>
    </div>
</div>

<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'highschool2' %}" class="btn btn-primary" type="button">問題選択へ戻る</a>
    <a href="{% url 'index' %}" class="btn btn-primary" type="button">トップへ戻る</a>
</div>

<footer class="container-fluid print_footer">
    <small><a href="#">© 2022 有明学習振興</a></small>
</footer>
{% endblock %}