
{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- Stylesheet -->
<link href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraph.min.css" rel="stylesheet">
<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraphcore.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
function refresh() {
    var url = location.origin;
    var pathname = location.pathname;
    var hash = location.hash;
    location = url + pathname + '?application_refresh=' + (Math.random() * 100000) + hash;
}

window.addEventListener("load", (event)=>{
	// JSXGraph
	const jsx = JXG.JSXGraph.initBoard("jxgbox", {axis: true, boundingbox: [-0.5, 1, 4, -1]});
    jsx.create("functiongraph", [x => x ** 2 - 5 * x + 6, 2, 3], {strokeColor: "blue"});
    jsx.create("functiongraph", [x => x ** 2 - 5 * x + 6, 3, 5], {strokeColor: "gray", dash: 2});
    jsx.create("functiongraph", [x => x ** 2 - 5 * x + 6, -5, 2], {strokeColor: "gray", dash: 2});
    jsx.create("functiongraph", [x => 0, 2, 3], {strokeColor: "red"});
    // axis
    const text_css = 'font-family: "Times New Roman", Times, "serif"; font-style: italic';
    jsx.create('text', [3.8, 0.07, 'x'],{ fontSize: 16, cssStyle: text_css });
    jsx.create('text', [0.05, 0.9, 'y'],{ fontSize: 16, cssStyle: text_css });
    jsx.create('text', [2.1, -0.4, 'y = x^2 - 5x + 6'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});
    jsx.create('text', [2.4, 0.3, 'y = 0'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
});
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block title %}
定積分で面積を求める(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">定積分で面積を求める(解説)</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h4">
        定積分で面積を求める
        <small class="text-muted">-公式を上手く活用して、時間と労力を節約しよう-</small>
    </h1>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5">前書き</h2>
        <p class="lh-1">積分は共通テスト、2次試験ともに頻出の分野です。特に定積分を用いて面積を求める問題は非常によく出題されています。</p>
        <p class="lh-1">この面積を求めるための計算、これ自体はさして複雑な仕組みの計算ではありません。計算部分だけを見れば、中学生でも十分やれるレベルになっています。</p>
        <p class="lh-1">ですが、実際の数学のテスト(これは学校の定期テストから入試の本番までを含みます)では、<span class="text-decoration-underline">時間の不足</span>がしばしば皆さんの足を引っ張ります。</p>
        <p class="lh-1">そもそも、前準備に時間がかかります。「この2次関数はこんな関数で、そして与えられた接点における接線は……」のようなお馴染みのやつですね。</p>
        <p class="lh-1">
            ただ、実際にはこれで終わらず、そこから更に定積分の計算が必要になります。
            代入、分数、累乗、引き算等々、皆さんの計算を誤らせる要素には事欠きません。
        </p>
        <p class="lh-1">そこで、このページでは、この面積を求める作業が少しでも楽になるように、種々の考え方や公式を紹介していきます。極力手間暇を減らしつつ、効率よく問題を解いていきましょう。</p>
    </div>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5">定積分の定義の確認</h2>
        <p class="lh-1">まず、ここで一度定義を確認しておきましょう。</p>
        <div class="border border-primary col-md-5">
            <p>ある関数\( f(x) \)の原始関数、つまり積分先の関数を\( F(x)\)。積分範囲を\(a, b\)とすると、</p>
            <p>\( \int_{a}^{b} f(x) dx = \lbrack F(x) \rbrack_{a}^{b} = F(b) - F(a) \)</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">と、これだけの内容です。原始関数さえ求められれば順当に計算可能です。</p>
            <p class="lh-1">試しに、具体的な例を用いて計算を見てみましょう。</p>
            <p class="lh-1">なお、「普通の計算はできるよ」という方は飛ばして構いません。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">まずは項が一つのときの計算です。</p>
            <p class="lh-1">積分したい関数が◯次関数のときは、以下の公式を利用します。</p>
            <div class="border border-primary col-md-5">
                <p>\( \int x^n dx = \dfrac{1}{n+1} x^{n+1} + C \) (\(C\); 積分定数)</p>
            </div>
            <br>
            <p class="lh-1 fst-italic border-bottom col-md-2">例題1: \( \int_{-2}^{3} x^2 dx \)</p>
            <br>
            <p class="lh-1">\( = \left\lbrack \dfrac{1}{2+1} x^{2+1} \right\rbrack_{-2}^{3} \)</p>
            <p class="lh-1">\( = \dfrac{1}{3} \left\lbrack x^3 \right\rbrack_{-2}^{3} \)</p>
            <p class="lh-1">\( = \dfrac{1}{3} \left\lbrace 3^3 - (-2)^3 \right\rbrace \)</p>
            <p class="lh-1">\( = \dfrac{35}{3} \)</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">次は多項式の計算です。</p>
            <p class="lh-1">といっても、先程の公式を項ごとに適用して、そこに代入するだけです。</p>
            <br>
            <p class="lh-1 fst-italic border-bottom col-md-2">例題2: \( \int_{-2}^{3} (x^2 + 2x) dx \)</p>
            <br>
            <p class="lh-1">\( = \left\lbrack \dfrac{1}{2+1} x^{2+1} + 2 \cdot \dfrac{1}{1+1} x^{1+1} \right\rbrack_{-2}^{3} \)</p>
            <p class="lh-1">\( = \left\lbrack \dfrac{1}{3} x^3 + x^2 \right\rbrack_{-2}^{3} \)</p>
            <p class="lh-1">\( = \left( \dfrac{1}{3} \cdot 3^3 + 3^2 \right) - \left\lbrace \dfrac{1}{3}\cdot (-2)^3 + (-2)^2 \right\rbrace \)
            <p class="lh-1">\( = 18 - \dfrac{4}{3} \)</p>
            <p class="lh-1">\( = \dfrac{50}{3} \)</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">さて、定積分の計算の確認は以上ですが、この時点で<span class="text-decoration-underline">わりと複雑な計算になっている</span>ことが伝わるでしょうか。</p>
            <p class="lh-1">眉をひそめるほどの難しさではないですが、時間自体は割りとかかってしまいます。</p>
            <p class="lh-1">落ち着いて計算できる練習の段階であればさして問題にならないかもしれませんが、<span class="text-decoration-underline">本番の限られた時間中で行えばミスが増える</span>のも納得できる複雑さです。</p>
        </div>
    </div>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5">定積分を用いた面積の計算(公式なし)</h2>
        <div class="m-2 p-2">
            <p class="lh-1">さて、お次はいよいよ、定積分を用いた面積の計算になります。</p>
            <p class="lh-1">先程と同じく、まずは公式の確認からいってみましょう。</p>
        </div>

        <div class="border border-primary col-md-6">
            <p>ある区間、\( a \leqq x \leqq b \)において、上にある関数が\( y = f(x) \)、下にある関数が\( y = g(x) \)であるとき、</p>
            <p>その関数で囲まれた面積\( S \)は、</p>
            <p>\( S = \int_{a}^{b} \left\lbrace f(x) - g(x) \right\rbrace dx \)</p>
            <p>と計算できる。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">ここで注目してほしいのは、<span class=="text-decoration-underline">上下関係に言及している</span>ことです。</p>
            <p class="lh-1">これは定積分を用いた面積の計算では常に確認しておかなければならない事項になります。</p>
            <p class="lh-1">3次関数や2次関数、直線など様々な関数が登場する中で、みなさんは的確にそれらの上下関係を考える必要があるわけです。</p>
            <p class="lh-1">このあたりに微分と絡めて出題される理由があると言えるでしょう。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">それでは早速、いくつか面積を計算してみましょう。</p>
            <br>
            <p class="lh-1 fst-italic border-bottom col-md-4">例題3: \( y = x^2 -5x + 6\)と\( x \)軸で囲まれた部分の面積を求めよ。</p>
            <br>
            <p class="lh-1">まずは\( y = x^2 -5x + 6 \)と\( x \)軸の関係をチェックしましょう。</p>
            <p class="lh-1">今回の2次関数は、2次の係数が正なので下に凸。さらに\( x \)軸、つまり\( y=0 \)との交点は、例のごとく連立して、</p>
            <p class="lh-1">
                \(
                    \left\{
                        \begin{array}{l}
                            y = x^2 - 5x + 6 \\
                            y = 0
                    \end{array}
                    \right.
                \)
            </p>
            <p class="lh-1">\( x^2 - 5x + 6 = 0\)</p>
            <p class="lh-1">\( (x - 2)(x - 3) = 0 \)</p>
            <p class="lh-1">\( x = 2, 3 \)</p>
            <p class="lh-1">と求められます。これをグラフに描くと、以下のような感じになります。</p>
            <!-- Graph -->
            <br>
            <div id="jxgbox" class="jxgbox" style="width:500px; height:500px;"></div>
            <br>
            <!--Graph-->
            <p class="lh-1">このようにグラフが描ければ、あとは先程の公式に当てはめるだけ……</p>
            <p class="lh-1">なのですが、この上下関係、<span class=="text-decoration-underline">グラフを描かなければ求められないということはない</span>です。</p>
            <p class="lh-1">具体的には以下のように不等式を作って解くことで、ある程度の上下関係を求めることが可能です。</p>
            <p class="lh-1">\( x^2 - 5x + 6 \geqq 0 \)</p>
            <p class="lh-1">\( (x - 2)(x - 3) \geqq 0 \)</p>
            <p class="lh-1">\( x \leqq 2, 3 \leqq x \)</p>
            <br>
            <p class="lh-1">この結果を見ると、\( y = x^2 - 5x + 6 \)が\( y = 0 \)より上になっている\( x \)の範囲は閉じていないことがわかります。</p>
            <p class="lh-1">裏を返すと、閉じている範囲\( 2 \leqq x \leqq 3 \)では\( y = 0 \)が上であることがわかります。</p>
            <p class="lh-1">これはこの例だけでなく、他の組み合わせでも利用できます。たとえば、2次関数\( y = x^2 \)と1次関数\( y = x \)だと、</p>
            <p class="lh-1">\( x^2 \geqq x \)</p>
            <p class="lh-1">\( x^2 - x \geqq 0 \)</p>
            <p class="lh-1">\( x(x - 1) \geqq 0\)</p>
            <p class="lh-1">\( x \leqq 0, 1 \leqq x \)</p>
            <p class="lh-1">となり、囲まれた範囲は\( 0 \leqq x \leqq 1 \)では\( y = x \)の方が上だということがわかります。</p>
            <p class="lh-1">もちろん、特に難易度が高い問題ではグラフをしっかりと描くことで得られるものもありますし、グラフを描くという行為自体が全く不要というわけではありません。</p>
            <p class="lh-1">一つの手段として知っておくようにしましょう。</p>
            <br>
            <p class="lh-1">さて、それでは問題に戻って、続きを解いていきましょう。</p>
            <p class="lh-1">今回の問題では、\( y = x^2 - 5x + 6 \)が下で、\( y = 0 \)が上。さらに\( 2 \leqq x \leqq 3 \)の範囲で囲まれているので、その面積は、</p>
            <p class="lh-1">\( \int_{2}^{3} \left\lbrace 0 - \left( x^2 - 5x + 6 \right) \right\rbrace dx \)</p>
            <p class="lh-1">\( = \int_{2}^{3} \left( -x^2 + 5x - 6 \right) dx \)</p>
            <p class="lh-1">\( = \left\lbrack - \dfrac{1}{3} x^3 + \dfrac{5}{2} x^2 - 6x \right\rbrack_{2}^{3} \)</p>
            <p class="lh-1">\( = \left( - \dfrac{1}{3} \cdot 3^3 + \dfrac{5}{2} \cdot 3^2 - 6 \cdot 3 \right)  - \left( - \dfrac{1}{3} \cdot 2^3 + \dfrac{5}{2} \cdot 2^2 - 6 \cdot 2 \right) \)</p>
            <p class="lh-1">\( = \left(-9 + \dfrac{45}{2}  - 18 \right) - \left( -\dfrac{8}{3} + 10 - 12 \right) \)</p>
            <p class="lh-1">\( = -9 + \dfrac{45}{2} - 18 + \dfrac{8}{3} - 10 + 12 \)</p>
            <p class="lh-1">\( = -9 - 18 - 10 + 12 + \dfrac{45}{2} + \dfrac{8}{3} \)</p>
            <p class="lh-1">\( = -25 + \dfrac{135 + 16}{6} \)</p>
            <p class="lh-1">\( = \dfrac{-150 + 151}{6} \)</p>
            <p class="lh-1">\( = \dfrac{1}{6} \)</p>
            <br>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">……といった流れで、答えは結局\( \dfrac{1}{6} \)になります。</p>
            <p class="lh-1">少々刻んだところもありますが、とにかく計算の手間が凄いことがわかってもらえるでしょうか。</p>
            <p class="lh-1">定積分の公式の形からして、分数が出ることが当たり前のようなところがあります。</p>
            <p class="lh-1">説明用に簡易化した問題でこれなのですから、実際の問題ではさらに複雑化している可能性もあります。</p>
            <p class="lh-1">以上のように、定積分で面積を求める計算は、時間が限られた中でやるにはかなり重いものとなります。</p>
        </div>
    </div>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5">公式を用いた面積の計算</h2>
        
    </div>
</div>

<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'highschool2' %}" class="btn btn-primary" type="button">問題選択へ戻る</a>
    <a href="{% url 'index' %}" class="btn btn-primary" type="button">トップへ戻る</a>
</div>

<footer class="container-fluid print_footer">
    <small><a href="#">© 2022 有明学習振興</a></small>
</footer>
{% endblock %}