{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- Stylesheet -->
<link href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraph.min.css" rel="stylesheet">
<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraphcore.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
{% endblock %}

{% block added_cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block css %}
<style type="text/css">
    .fa-solid{
        color: gray;
        text-decoration: none;
    }
    .fa-pen-to-square{
        color: gray;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block title %}
2次方程式を解く(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">2次方程式を解く(解説)</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h4">
        2次方程式を解く
        <small class="text-muted">～使うべき公式を見極める～</small>
    </h1>

    <br>
    <ul class="list-group row m-4 p-4">
        <h2 class="h5">目次</h2>
        <li class="list-group-item col-md-6"><a href="#foreword" class="text-decoration-none text-reset">前書き</a></li>
        <li class="list-group-item col-md-6"><a href="#x^2=k" class="text-decoration-none text-reset">\( x^2 = k \)</a></li>
        <li class="list-group-item col-md-6"><a href="#x^2+2ax+a^2=(x+a)^2" class="text-decoration-none text-reset">\( x^2 + 2ax + a^2 = (x + a)^2 \)</a></li>
        <li class="list-group-item col-md-6"><a href="#x^2-2ax+a^2=(x-a)^2" class="text-decoration-none text-reset">\( x^2 - 2ax + a^2 = (x - a)^2 \)</a></li>
        <li class="list-group-item col-md-6"><a href="#x^2+(a+b)x+ab=(x+a)(x+b)" class="text-decoration-none text-reset">\( x^2 + (a + b)x + ab = (x + a)(x + b) \)</a></li>
        <li class="list-group-item col-md-6"><a href="#quadratic_formula" class="text-decoration-none text-reset">解の公式</a></li>
        <li class="list-group-item col-md-6"><a href="#afterword" class="text-decoration-none text-reset">後書き</a></li>
    </ul>
    <br>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="foreword">前書き</h2>
        <p class="lh-1">今回は2次方程式を解説していきます。\( x \)の次数が2、つまり\( x^2 \)が含まれている方程式ですね。</p>
        <p class="lh-1">この2次方程式、1次方程式と比べて解き方のパターンが非常に多いのが特徴となります。</p>
        <p class="lh-1">1次方程式は、ざっくり文字を左、数字を右に移項して、最後に\( x = \cdots \)の形にすれば解けるようになっていました。</p>
        <p class="lh-1">これに対して2次方程式は、<span class="text-decoration-underline">式ごとに異なる公式を当てはめる</span>必要があります。</p>
        <p class="lh-1">解説の方も、用いる公式ごとに分けながら行っていきます。</p>
        <p class="lh-1">まずは決まった形の方程式をそれぞれ解けるようにして、それから色々なタイプが混在している問題を解いて練習していくと良いでしょう。</p>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="x^2=k">\( x^2 = k \)</h2>
            <br>
            <p class="lh-1">まずは一番シンプルな\( x^2 = k \)の2次方程式からです。\( x^2 = 4 \)や\( \dfrac{1}{2}x^2 = 5 \)のような2次方程式ですね。</p>
            <p class="lh-1">このタイプの2次方程式は、<span class="text-decoration-underline">平方根の定義に従って解く</span>ことになります。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">では、さっそく問題を見てみましょう。</p>
            <br>
            <p class="lh-1">例題1: \( x^2 = 3 \)</p>
            <br>
            <p class="lh-1">平方根とはそもそも、<span class="text-decoration-underline">2乗するとその数になる値のこと</span>です。</p>
            <p class="lh-1">たとえば\( \sqrt{5} \)は2乗すると5になる数なので、当然ながら\( (\sqrt{5})^2 = 5 \)が成り立ちます。</p>
            <p class="lh-1">そして例題1は「2乗すると3になる\( x \)はいくつ？」と聞かれているのと同じことです。</p>
            <p class="lh-1">そのため、特に計算することもなく\( \sqrt{3} \)と求められる……かと思いきや、実は追加で<span class="text-decoration-underline">負の数も入ってくる</span>点には要注意です。</p>
            <p class="lh-1">負の数の2乗、つまり負の数と負の数の積も、正の数の2乗と同じく正の数になるからです。</p>
            <p class="lh-1">そのため、正しい答えは\( x = \pm \sqrt{3} \)になります。</p>
            <br>
            <p class="lh-1">以上が\( x^2 = k \)の2次方程式の基本的な解き方です。\( \pm \)を忘れないようにして、ルートをつけるだけですね。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">同じタイプの問題でも、中にはルートをつける前に少し操作が必要なものもあります。次の例題を見てみましょう。</p>
            <br>
            <p class="lh-1">例題2: \( \dfrac{2}{3}x^2 = 8 \)</p>
            <br>
            <p class="lh-1">この式は\( x^2 = \cdots \)の形になっていません。そのため、まずは両辺に\( \dfrac{3}{2} \)をかけて、\( x^2 \)の係数を\( 1 \)にしてあげましょう。</p>
            <p class="lh-1">\( \dfrac{2}{3}x^2 \times \dfrac{3}{2} = 8 \times \dfrac{3}{2} \)</p>
            <p class="lh-1">\( x^2 = 12 \)</p>
            <p class="lh-1">ここまで変形すれば、あとは例題1と同じように、</p>
            <p class="lh-1">\( x = \pm \sqrt{12} = \pm 2\sqrt{3} \)と解くことができます。</p>
            <p class="lh-1">ルートの中から数字を出せるときは出しておく、というのはルートの計算と同じですね。</p>
            <br>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="x^2+2ax+a^2=(x+a)^2">\( x^2 + 2ax + a^2 = (x + a)^2 \)</h2>
            <br>
            <p class="lh-1">次に解説するのは2乗の公式を用いたものになります。ここでいう2乗の公式とは、\( x^2 + 2ax + a^2 = (x + a)^2 \)のことを指します。</p>
            <p class="lh-1">使い方自体は単純なのですが、使えるかどうかを判定するのがやや難しくなっています。</p>
            <p class="lh-1">\( a \)に値を代入したときに、<span class="text-decoration-underline">出てくる式がきちんと問題の式と一致するかどうか</span>を判断して公式を使うようにしましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">例題3: \( x^2 + 6x + 9 = 0 \)</p>
            <br>
            <p class="lh-1">まず定数項は\( + 9 \)、つまり\( + 3^2 \)になっています。</p>
            <p class="lh-1">ここで、もしこの式が公式の通り因数分解できるのであれば、\( a=3 \)になるはずです。</p>
            <p class="lh-1">実際に公式に\( a = 3 \)を代入してみると、\( x^2 + 2 \cdot 3 \cdot x + 3^2 = x^2 + 6x + 9 \)ということで問題の式と一致します。</p>
            <p class="lh-1">そのため、\( x^2 + 6x + 9 = (x + 3)^2 \)となり、与えられた方程式は、\( (x + 3)^2 = 0 \)となります。</p>
            <p class="lh-1">2乗して0になるためには中身が0でなければなりません。よって、\( x = -3 \)が答えです。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">もう一つ、今度は公式使えない例を見てみましょう。</p>
            <br>
            <p class="lh-1">例題4: \( x^2 + 5x + 4 = 0 \)</p>
            <br>
            <p class="lh-1">まず定数項は\( + 4 \)、つまり\( + 2^2 \)になっています。ここまでは例題3と同じです。</p>
            <p class="lh-1">しかし、先程と同じように公式に\( a = 2 \)を代入しても、\( (x + 2)^2 = x^2 + 4x + 4 \neq x^2 + 5x + 4 \)と等しくならないことがわかります。</p>
            <p class="lh-1">そのため、この問題は2乗の公式では解けません。また別の公式を使う必要があります。</p>
            <p class="lh-1">2乗の公式でよくある間違いが、この定数の部分だけを見て公式を使ってしまうパターンです。注意しましょう。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="x^2-2ax+a^2=(x-a)^2">\( x^2 - 2ax + a^2 = (x - a)^2 \)</h2>
            <br>
            <p class="lh-1">次は上の1次の項が負になって\( x^2 - 2ax + a^2 = (x - a)^2 \)となっているパターンです。</p>
            <p class="lh-1">負になっていること以外はほぼ同じなので、注意すべき点も変わりません。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">例題5: \( x^2 - 10x + 25 = 0 \)</p>
            <br>
            <p class="lh-1">まず定数項は\( + 25 \)、つまり\( + 5^2 \)になっています。</p>
            <p class="lh-1">公式に\( a = 5 \)を代入すると、\( x^2 - 2 \cdot 5 \cdot x + 5^2 = x^2 - 10x + 25 \)となり、問題の式と一致します。</p>
            <p class="lh-1">そのため、\( x^2 - 10x + 25 = (x - 5)^2 \)となり、与えられた方程式は、\( (x - 5)^2 = 0 \)となります。</p>
            <p class="lh-1">2乗して0になるためには中身が0でなければならないため、\( x = -5 \)が答えです。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">次は公式が使えないケースです。</p>
            <br>
            <p class="lh-1">例題6: \( x^2 -13x + 36 = 0 \)</p>
            <br>
            <p class="lh-1">定数項は\( + 36 \)、つまり\( + 6^2 \)になっています。ここまでは例題5と同じです。</p>
            <p class="lh-1">しかし、公式に\( a = 6 \)を代入すると、\( x^2 - 2 \cdot 6 \cdot x + 6^2 = x^2 - 12x + 36 \neq x^2 - 13x + 36 \)と一致しません。</p>
            <p class="lh-1">そのため、この問題は2乗の公式では解くことができません。繰り返しになりますが、定数項が2乗になっているのだけを見て公式を使わないように注意しましょう。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="x^2+(a+b)x+ab=(x+a)(x+b)">\( x^2 + (a + b)x + ab = (x + a)(x + b) \)</h2>
            <br>
            <p class="lh-1">次はここまで紹介してきた中で、適用可能範囲が一番広い公式になります。</p>
            <p class="lh-1">これまでの公式を使う問題は、実は全てこの公式一つで解くことができます。</p>
            <p class="lh-1">(もちろん、それぞれに適した公式を使うのが一番早く解けるので、これだけ覚えておけば他の公式は全く覚えておかなくて良い、ということではありませんが。)</p>
            <p class="lh-1">その万能さと引き換えに、やや使い方が複雑になっています。具体的には<span class="text-decoration-underline">特定の和と積を満たす2つの整数を探す</span>ことになります。</p>
            <p class="lh-1">具体的な問題を通して確認していきましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">例題7: \( x^2 + 5x + 6 = 0 \)</p>
            <br>
            <p class="lh-1">ここで探すのは、\( a + b = 5 \)と\( ab = 6 \)を同時に満たす整数\( a, b \)です。</p>
            <p class="lh-1">これらが見つかれば、そのまま公式に当てはめて因数分解することができます。</p>
            <p class="lh-1">そして、これを満たすのは\( a = 2, b = 3 \)となります。実際に公式の左辺に当てはめてみると、\( x^2 + (2 + 3)x + 2 \cdot 3 = x^2 + 5x + 6 \)と問題の式と一致します。</p>
            <p class="lh-1">そのため、与えられた2次方程式の左辺は、\( x^2 + 5x + 6 = (x + 2)(x + 3) \)と因数分解され、与えられた2次方程式は\( (x + 2)(x + 3) = 0 \)となります。</p>
            <p class="lh-1">2つの数の積が0になるためには、その数のいずれかが0であればよいので、答えは\( x + 2 = 0, x + 3 = 0 \)、つまり\( x = -2, -3 \)となります。</p>
            <br>
            <p class="lh-1">この公式の使い方がやや複雑だと書いていた理由をわかってもらえたでしょうか？</p>
            <p class="lh-1">たとえば2乗の公式は、定数部分を見ればすぐに\( a \)がいくつかわかりました。あとはそれを公式に当てはめて、一致するかしないかをチェックすれば問題なく使えましたね。</p>
            <p class="lh-1">それに対してこちらの公式は、2つの条件を満たす2つの整数を探す必要があります。手間がかかるわけですね。</p>
            <p class="lh-1">これらの数を探すときのコツとしては、<span class="text-decoration-underline">積の方から考える</span>というやり方をおすすめします。</p>
            <p class="lh-1">というのも、特定の値になる2つの整数は、入れ替えを無視しても無限に存在します。例えば5であれば、\( 5 = 0 + 5,\, 1 + 4,\, 2 + 3,\, 6 + (-1),\, 7 + (-2) \cdots \)といくらでも作れます。</p>
            <p class="lh-1">一方で、特定の値になる2つの整数は数が限られています。例えば6であれば、\( 6 = 1 \times 6,\, 2 \times 3,\, (-1) \times (-6),\, (-2) \times (-3) \)で打ち止めです。</p>
            <p class="lh-1">そのため、当てはまる2つの数を探すときは、積の方を先に考えてあげましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">このコツを踏まえた上で、もう一問確認しておきましょう。</p>
            <br>
            <p class="lh-1">例題8: \( x^2 - 4x + 4 = 0 \)</p>
            <br>
            <p class="lh-1">やりたいことは同じで、\( a + b = -4 \)と\( ab = 4 \)を満たす\( a, b \)を探すというものです。</p>
            <p class="lh-1">積が\( 4 \)になる2つの整数は、\( 4 = 1 \times 4,\, 2 \times 2,\, (-1) \times (-4),\, (-2) \times (-2) \)の4つです。</p>
            <p class="lh-1">この中で和が\( -4 \)になるのは、\( -2 \)と\( -2 \)の組み合わせです。公式の左辺に当てはめてみると、\( x^2 + \lbrace(-2) + (-2) \rbrace + (-2) \times (-2) = x^2 - 4x + 4 \)と一致します。</p>
            <p class="lh-1">そのため、与えられた2次方程式の左辺は、\( x^2 - 4x + 4 = (x - 2)(x - 2) = (x - 2)^2 \)と因数分解され、与えられた2次方程式は\( (x - 2)^2 = 0 \)となります。</p>
            <p class="lh-1">2乗して0になるためには、中身が0になるしかありません。よって答えは、\( x - 2 = 0 \)、つまり\( x = 2 \)</p>
            <br>
            <p class="lh-1">このように、2乗の公式を使う問題も解くことが可能です。</p>
            <p class="lh-1">ただし、見ての通り面倒で時間がかかります。<span class="text-decoration-underline">定数項が2乗になっているものを見つけたら、2乗の公式が使えるかを先に検討する</span>方が良いでしょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">最後に公式がうまく使えないケースを確認しておきます。</p>
            <br>
            <p class="lh-1">例題9: \( x^2 - 3x - 2 = 0\)</p>
            <br>
            <p class="lh-1">積が\( -2 \)になる整数は、\( -2 = 1 \times (-2),\, (-1) \times 2 \)の2つですが、いずれも和が\( -3 \)にはなりません。</p>
            <p class="lh-1">そのため、この問題はこの公式では解けない問題ということになります。</p>
            <p class="lh-1">このような場合は、次に紹介する公式を利用するようにしましょう。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="quadratic_formula">解の公式</h2>
            <br>
            <p class="lh-1">最後に紹介するのは解の公式になります。これは、</p>
            <p class="lh-1">\( ax^2 + bx + c = 0 \Leftrightarrow x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a} \)</p>
            <p class="lh-1">という公式です。</p>
            <p class="lh-1">この公式、<span class="text-decoration-underline">2次方程式を解く上では最強</span>といえるものになっています。</p>
            <p class="lh-1">というのも、中学の数学で登場する2次方程式において、解の公式を使って解けない問題は存在しないからです。</p>
            <p class="lh-1">これを聞くと、2次方程式では解の公式だけ使っておけば良いと感じるかもしれませんが、主に計算の複雑さからオススメできません。</p>
            <p class="lh-1">あくまで、これまで紹介した公式のいずれも対処できない場合の最終手段として用いるようにしましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">先ほど、和と積を探す公式では解けなかった例題を解いていきましょう。</p>
            <br>
            <p class="lh-1">例題9: \( x^2 - 3x - 2 = 0 \)</p>
            <br>
            <p class="lh-1">今回は2次の係数が\( 1 \), 1次の係数が\( -3 \), 定数項が\( -2 \)なので、\( a = 1,\, b = -3,\, c = -2 \)を公式に代入していきます。</p>
            <p class="lh-1">\( x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a} \)</p>
            <p class="lh-1">\( = \dfrac{-(-3) \pm \sqrt{(-3)^2 - 4 \cdot 1 \cdot (-2)}}{2 \cdot 1}\)</p>
            <p class="lh-1">\( = \dfrac{3 \pm \sqrt{9 + 8}}{2} \)</p>
            <p class="lh-1">\( = \dfrac{3 \pm \sqrt{17}}{2} \)</p>
            <br>
            <p class="lh-1">見ての通り、計算が結構面倒なものになっています。</p>
            <p class="lh-1">解の公式を使う際には、あまり一度に多くの計算をやりすぎないように心がけましょう。</p>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">次は使う公式が特定できていない、実際の問題に近い状況で解いてみましょう。</p>
            <br>
            <p class="lh-1">例題10: \( x^2 - 2x - 4 = 0 \)</p>
            <br>
            <p class="lh-1">まずは定数部分を見ると、\( + a^2 \)の形ではないので、2乗の公式ではありません。</p>
            <p class="lh-1">次は和と積を探すことを試してみましょう。</p>
            <p class="lh-1">積が\( -4 \)になる2つの整数は、\( -4 = 1 \times (-4),\, 2 \times(-2),\, (-1) \times 4 \)の3つが考えられますが、いずれも和が\( -2 \)にはならないので、これも違います。</p>
            <p class="lh-1">ここまで来たら、あとは解の公式を使うしかありません。\( a = 1,\, b = -2,\, c = -4 \)を公式に代入しましょう。</p>
            <p class="lh-1">\( x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a}\)</p>
            <p class="lh-1">\( = \dfrac{-(-2) \pm \sqrt{(-2)^2 - 4 \cdot 1 \cdot (-4)}}{2 \cdot 1} \)</p>
            <p class="lh-1">\( = \dfrac{2 \pm \sqrt{4 + 16}}{2} \)</p>
            <p class="lh-1">\( = \dfrac{2 \pm \sqrt{20}}{2} \)</p>
            <p class="lh-1">\( = \dfrac{2 \pm 2\sqrt{5}}{2} \)</p>
            <p class="lh-1">\( = 1 \pm \sqrt{5} \)</p>
            <br>
            <p class="lh-1">これが実際の2次方程式を解く際の流れになります。判定が簡単な順番にチェックして、いずれも使えそうにない場合は解の公式、といった流れです。</p>
            <p class="lh-1">なお、実は解の公式にはマイナーチェンジバージョンのようなものがあり、この問題のように1次の係数が2で割れる場合に利用可能です。</p>
            <p class="lh-1">ただ、中途半端に覚えると間違えやすい公式な上、そこまで大幅に計算が短縮できるわけではありません。</p>
            <p class="lh-1">以下に折りたたんでおきますので、余裕のある方は確認してみてください。</p>
            <details>
                <summary>1次の係数が2で割れるときの解の公式</summary>
                <p class="lh-1">1次の係数が2で割れるということは、式は\( ax^2 + 2b'x + c = 0 \)と書けます。</p>
                <p class="lh-1">この2次方程式に解の公式を適用すると、</p>
                <p class="lh-1">\( x = \dfrac{-2b' \pm \sqrt{(2b')^2 - 4 \cdot a \cdot c }}{2a} \)となります。ルートの中をまとめると、</p>
                <p class="lh-1">\( = \dfrac{-2b' \pm \sqrt{4b'^2 - 4ac}}{2a}\)となり、ルートの中が4でくくれるので、</p>
                <p class="lh-1">\( = \dfrac{-2b' \pm \sqrt{4(b'^2 - ac)}}{2a} \)となります。4を2にして外に出すと、</p>
                <p class="lh-1">\( = \dfrac{-2b' \pm 2\sqrt{b'^2 - ac}}{2a} \)となり、最後に全体を2で割ると、</p>
                <p class="lh-1">\( = \dfrac{-b' \pm \sqrt{b'^2 - ac}}{a}\)となります。これで完成です。</p>
                <p class="lh-1">試しに、先程の例題10をこの公式で解いてみましょう。</p>
                <br>
                <p class="lh-1">例題10: \( x^2 - 2x - 4 = 0\)</p>
                <br>
                <p class="lh-1">\( a \)と\( c \)はそのまま2次の係数と定数項をそれぞれ当てはめて、\(a = 1,\, c = -4\)とすればよいのですが、\( b \)あらため\( b' \)の割当には注意が必要です。</p>
                <p class="lh-1">上で計算した解の公式は、1次の係数を\( 2b' \)としています。そのため、\( 2b' = -2 \)、つまり\( b' = -1 \)として代入しなければなりません。</p>
                <p class="lh-1">実際に計算してみると、</p>
                <p class="lh-1">\( x = \dfrac{-1 \pm \sqrt{(-1)^2 - 1 \cdot (-4)}}{1}\)</p>
                <p class="lh-1">\( = -1 \pm \sqrt{5} \)となります。途中のくくりだして2で割る過程がスキップされているため、早く計算できています。</p>
                <p class="lh-1">以上のように、正しく使い所を理解して、正しく代入すれば早く計算できるのがこの公式です。</p>
                <p class="lh-1">ただし、普通の解の公式とごちゃごちゃになってしまって、2で割っていない値を代入したりすると、当然ながら間違った答えが出てしまいます。</p>
                <p class="lh-1">使うのであれば、しっかりと公式を覚えて、2で割ったものを代入するようにしましょう。</p>
                <p class="lh-1">----------折りたたみここまで----------</p>
            </details>
        </div>
        <div class="m-2 p-2">
            <p class="lh-1">最後に、解の公式ですら解が求められないパターンを見ておきましょう。</p>
            <br>
            <p class="lh-1">例題11: \( x^2 + x + 1 = 0 \)</p>
            <p class="lh-1">解の公式に\( a = 1,\, b = 1,\, c = 1 \)を代入すると、</p>
            <p class="lh-1">\( x = \dfrac{-1 \pm \sqrt{1^2 - 4 \cdot 1 \cdot 1}}{2 \cdot 1}\)</p>
            <p class="lh-1">\( = \dfrac{-1 \pm \sqrt{1 - 4}}{2} \)</p>
            <p class="lh-1">\( = \dfrac{-1 \pm \sqrt{-3}}{2}\)</p>
            <p class="lh-1">と、ルートの中にマイナスの値が出てきてしまいました。</p>
            <p class="lh-1">ルート、つまり平方根の定義は、「2乗してその値になる数」なのですが、正の数は当然2乗したら正ですし、負の数も2乗したら正になります。</p>
            <p class="lh-1">つまり、2乗して負になる数、というのは存在しません。そのため、この2次方程式には解がありません。</p>
            <br>
            <p class="lh-1">これは実際は高校1年生で学ぶもので、中学の範囲で出題される単純な計算問題ではこのパターンが出てくることはありません。</p>
            <p class="lh-1">ただ、たとえば文章問題で自分で立てた2次方程式を解いた結果、こうなることはたまにあります。</p>
            <p class="lh-1">このようなときは間違いなく、<span class="text-decoration-underline">立てた式か解の公式での計算のいずれか、あるいは両方が間違っています</span>。</p>
            <p class="lh-1">そのままふわっと答えにするのではなく、問題文と計算をチェックしなおすようにしましょう。</p>
            <p class="lh-1">ちなみに完全に余談なので忘れてもらって構わないのですが、高校生になればルートの中の負の数すら扱えるようになります。</p>
            <p class="lh-1">なので、「2乗して負になる数は存在しない」というのは厳密には間違いになります。通常の進度であれば、高校2年生で学ぶことになりますので楽しみにしておいてください。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="afterword">後書き</h2>
        <p class="lh-1">今回の解説は以上になります。</p>
        <p class="lh-1">初めに述べた通り、1次方程式に比べてパターンが非常に多いですね。</p>
        <p class="lh-1">しっかりと使うべき公式を見極めて、素早く正確に解くには結構な練習が必要だと思います。</p>
        <p class="lh-1">それぞれのパターンを理解した後は、ぜひとも混合問題に取り組んでみてください。</p>
    </div>

</div>

<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'junior_highschool3' %}#quadratic_equation_title" class="btn btn-primary" type="button">2次方程式の問題選択へ戻る</a>
    <a href="{% url 'index' %}" class="btn btn-primary" type="button">トップへ戻る</a>
</div>

<footer class="container-fluid print_footer">
    <small><a href="#">© 2023 有明学習振興</a></small>
</footer>
{% endblock %}