{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- Stylesheet -->
<link href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraph.min.css" rel="stylesheet">
<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraphcore.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
window.addEventListener("load", (event)=>{
    const text_css = 'font-family: "Times New Roman", Times, "serif"; font-style: italic';

    // 4 - 2
    let jsx1 = JXG.JSXGraph.initBoard("jxgbox1", {boundingbox: [-0.5, 2, 4.2, -2]});
    jsx1.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx1.create('point', [4, 0], {strokeColor: "black"});
    jsx1.create('point', [2, 0], {strokeColor: "black"});
    jsx1.create('arrow', [[4, 0], [2, 0]], {strokeColor: "blue"});
    jsx1.create('text', [2.8, 0.5, '-2'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});

    // 1 + 4
    let jsx2 = JXG.JSXGraph.initBoard("jxgbox2", {boundingbox: [-0.5, 2, 6.2, -2]});
    jsx2.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx2.create('point', [1, 0], {strokeColor: "black"});
    jsx2.create('point', [5, 0], {strokeColor: "black"});
    jsx2.create('arrow', [[1, 0], [5, 0]], {strokeColor: "red"});
    jsx2.create('text', [2.8, 0.5, '+4'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});

    // -3 + 2
    let jsx3 = JXG.JSXGraph.initBoard("jxgbox3", {boundingbox: [-5.2, 2, 5.2, -2]});
    jsx3.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx3.create('point', [-3, 0], {strokeColor: "black"});
    jsx3.create('point', [-1, 0], {strokeColor: "black"});
    jsx3.create('arrow', [[-3, 0], [-1, 0]], {strokeColor: "red"});
    jsx3.create('text', [-2, 0.3, '+2'], {strokeColor: "red", cssStyle: text_css, fontSize: 16});

    // -5 -2 + 1
    let jsx4 = JXG.JSXGraph.initBoard("jxgbox4", {boundingbox: [-9.2, 2, 1.2, -3]});
    jsx4.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx4.create('point', [-5, 0], {strokeColor: "black"});
    jsx4.create('point', [-7, 0], {strokeColor: "black"});
    jsx4.create('point', [-6, 0], {strokeColor: "black"});
    jsx4.create('arrow', [[-5, -1], [-7, -1]], {strokeColor: "blue"}); 
    jsx4.create('text', [-6.5, -0.7, '-2'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});
    jsx4.create('arrow', [[-7, -2], [-6, -2]], {strokeColor: "red"});
    jsx4.create('text', [-6.8, -1.7, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"})
    jsx4.create('segment', [[-5, 0], [-5, -2]], {strokeColor: "gray", dash: 2});
    jsx4.create('segment', [[-7, 0], [-7, -2]], {strokeColor: "gray", dash: 2});
    jsx4.create('segment', [[-6, 0], [-6, -2]], {strokeColor: "gray", dash: 2});
    jsx4.create('text', [-6.8, -1.7, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});


    // -3 - 2 + 4 + 1(not gather)
    let jsx5 = JXG.JSXGraph.initBoard("jxgbox5", {boundingbox: [-8.2, 2, 3.2, -5]});
    jsx5.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx5.create('point', [-3, 0], {strokeColor: "black"});
    jsx5.create('point', [1, 0], {strokeColor: "black"});
    jsx5.create('point', [-1, 0], {strokeColor: "black"});
    jsx5.create('point', [0, 0], {strokeColor: "black"});
    jsx5.create('segment', [[-3, 0], [-3, -7]], {strokeColor: "gray", dash: 2});
    jsx5.create('segment', [[1, 0], [1, -7]], {strokeColor: "gray", dash: 2});
    jsx5.create('segment', [[-1, 0], [-1, -7]], {strokeColor: "gray", dash: 2});
    jsx5.create('segment', [[0, 0], [0, -7]], {strokeColor: "gray", dash: 2});
    jsx5.create('text', [-2, -1, '+4'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
    jsx5.create('arrow', [[-3, -1.5], [1, -1.5]], {strokeColor: "red"});
    jsx5.create('text', [-0.4, -2, '-2'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});
    jsx5.create('arrow', [[1, -2.5], [-1, -2.5]], {strokeColor: "blue"});
    jsx5.create('text', [-0.5, -3, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
    jsx5.create('arrow', [[-1, -3.5], [0, -3.5]], {strokeColor: "red"});
    
    
    // -3 - 2 + 4 + 1(gather)
    let jsx6 = JXG.JSXGraph.initBoard("jxgbox6", {boundingbox: [-8.2, 2, 3.2, -5]});
    jsx6.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx6.create('point', [-3, 0], {strokeColor: "black"});
    jsx6.create('point', [-5, 0], {strokeColor: "black"});
    jsx6.create('point', [-1, 0], {strokeColor: "black"});
    jsx6.create('point', [0, 0], {strokeColor: "black"});
    jsx6.create('segment', [[-3, 0], [-3, -7]], {strokeColor: "gray", dash: 2});
    jsx6.create('segment', [[-5, 0], [-5, -7]], {strokeColor: "gray", dash: 2});
    jsx6.create('segment', [[-1, 0], [-1, -7]], {strokeColor: "gray", dash: 2});
    jsx6.create('segment', [[0, 0], [0, -7]], {strokeColor: "gray", dash: 2});
    jsx6.create('text', [-4, -0.75, '-2'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});
    jsx6.create('arrow', [[-3, -1.5], [-5, -1.5]], {strokeColor: "blue"});
    jsx6.create('text', [-3, -2, '+4'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
    jsx6.create('arrow', [[-5, -2.5], [-1, -2.5]], {strokeColor: "red"});
    jsx6.create('text', [-0.5, -3, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
    jsx6.create('arrow', [[-1, -3.5], [0, -3.5]], {strokeColor: "red"});

    let jsx7 = JXG.JSXGraph.initBoard("jxgbox7", {boundingbox: [-3.2, 3, 3.2, -5]});
    jsx7.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx7.create('point', [1/2, 0], {strokeColor: "black"});
    jsx7.create('text', [1/2, 1.3, '$$\\frac{1}{2}$$'], {fontSize: 8, cssStyle: text_css, strokeColor: "black",  useMathJax: true});
    jsx7.create('point', [1/2-5/3, 0], {strokeColor: "black"});
    jsx7.create('text', [1/2 - 5/3, 1.3, '$$-\\frac{7}{6}$$'], {fontSize: 8, cssStyle: text_css, strokeColor: "black",  useMathJax: true});
    jsx7.create('arrow', [[1/2, 0], [1/2 - 5/3, 0]], {strokeColor: "blue"});
    jsx7.create('text', [(1/2 + (-7/6))/2, 1.3, '$$-\\frac{5}{3}$$'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue", useMathJax: true});

    let jsx8 = JXG.JSXGraph.initBoard("jxgbox8", {boundingbox: [-8.2, 3, 4.2, -2]});
    jsx8.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx8.create('point', [3, 0], {strokeColor: "black"});
    jsx8.create('arrow', [[3, 0], [-7, 0]], {strokeColor: "blue"});
    jsx8.create('point', [-7, 0], {strokeColor: "black"});

    // 8 + 9 - 6
    let jsx9 = JXG.JSXGraph.initBoard("jxgbox9", {boundingbox: [-0.2, 2, 19.5, -5]});
    jsx9.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx9.create('point', [8, 0], {strokeColor: 'black'});
    jsx9.create('text', [8, 0.75, '8'], {strokeColor: 'black'});
    jsx9.create('point', [17, 0], {strokeColor: 'black'});
    jsx9.create('text', [17, 0.75, '17'], {strokeColor: 'black'});
    jsx9.create('point', [11, 0], {strokeColor: 'black'});
    jsx9.create('text', [11, 0.75, '11'], {strokeColor: 'black'});
    jsx9.create('segment', [[8, 0], [8, -7]], {strokeColor: 'gray', dash: 2});
    jsx9.create('segment', [[17, 0], [17, -7]], {strokeColor: 'gray', dash: 2});
    jsx9.create('segment', [[11, 0], [11, -7]], {strokeColor: 'gray', dash: 2});
    jsx9.create('text', [(8 + 17)/2, -0.75, '+9'], {fontSize: 16, cssStyle: text_css, strokeColor: 'red'});
    jsx9.create('arrow', [[8, -1.5], [17, -1.5]], {strokeColor: 'red'});
    jsx9.create('text', [(17 + 11)/2, -2.25, '-6'], {fontSize: 16, cssStyle: text_css, strokeColor: 'blue'});
    jsx9.create('arrow', [[17, -3], [11, -3]], {strokeColor: 'blue'});

    // -0.8 + 0.3
    let jsx10 = JXG.JSXGraph.initBoard("jxgbox10", {boundingbox: [-1.1, 2, 0.2, -2]});
    jsx10.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx10.create('point', [-0.8, 0], {strokeColor: 'black'});
    jsx10.create('point', [-0.5, 0], {strokeColor: 'black'});
    jsx10.create('arrow', [[-0.8, 0], [-0.5, 0]], {strokeColor: 'red'});
    jsx10.create('text', [(-0.8 - 0.5) / 2, 0.75, '+0.3'], {strokeColor: 'red'});

    // 0.05 - 0.3 + 0.1
    let jsx11 = JXG.JSXGraph.initBoard("jxgbox11", {boundingbox: [-0.3, 2, 0.1, -5]});
    jsx11.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx11.create('point', [0.05, 0], {strokeColor: 'black'});
    jsx11.create('point', [-0.25, 0], {strokeColor: 'black'});
    jsx11.create('point', [-0.15, 0], {strokeColor: 'black'});
    jsx11.create('segment', [[0.05, 0], [0.05, -8]], {strokeColor: 'gray', dash: 2});
    jsx11.create('segment', [[-0.25, 0], [-0.25, -8]], {strokeColor: 'gray', dash: 2});
    jsx11.create('segment', [[-0.15, 0], [-0.15, -8]], {strokeColor: 'gray', dash: 2});
    jsx11.create('text', [(0.05 - 0.25) / 2, -0.85, '-0.3'], {strokeColor: 'blue', cssStyle: text_css, fontSize: 16});
    jsx11.create('arrow', [[0.05, -1.5], [-0.25, -1.5]], {strokeColor: 'blue'});
    jsx11.create('text', [(-0.25 - 0.15) / 2, -2.25, '+0.1'], {strokeColor: 'red', cssStyle: text_css, fontSize: 16});
    jsx11.create('arrow', [[-0.25, -3], [-0.15, -3]], {strokeColor: 'red'});

    // -5 + 6
    let jsx12 = JXG.JSXGraph.initBoard("jxgbox12", {boundingbox: [-6.2, 2, 2.2, -5]});
    jsx12.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx12.create('point', [-5, 0], {strokeColor: 'black'});
    jsx12.create('point', [1, 0], {strokeColor: 'black'});
    jsx12.create('arrow', [[-5, 0], [1, 0]], {strokeColor: 'red'})
    jsx12.create('text', [(-5 + 1) / 2, 0.75, '+6'], {strokeColor: 'red', fontSize: 16, cssStyle: text_css});

    // 12 - 9 + 36
    let jsx13 = JXG.JSXGraph.initBoard("jxgbox13", {boundingbox: [-0.2, 2, 43.2, -5]});
    jsx13.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx13.create('point', [12, 0], {strokeColor: 'black'});
    jsx13.create('point', [3, 0], {strokeColor: 'black'});
    jsx13.create('point', [39, 0], {strokeColor: 'black'});
    jsx13.create('segment', [[12, 0], [12, -8]], {strokeColor: 'gray', dash: 2});
    jsx13.create('segment', [[3, 0], [3, -8]], {strokeColor: 'gray', dash: 2});
    jsx13.create('segment', [[39, 0], [39, -8]], {strokeColor: 'gray', dash: 2});
    jsx13.create('text', [12, 0.8, '12'], {strokeColor: 'black'});
    jsx13.create('text', [3, 0.8, '3'], {strokeColor: 'black'});
    jsx13.create('text', [39, 0.8, '39'], {strokeColor: 'black'});
    jsx13.create('text', [(12 + 3) / 2, -0.75, '-9'], {strokeColor: 'blue', fontSize: 16, cssStyle: text_css});
    jsx13.create('arrow', [[12, -1.5], [3, -1.5]], {strokeColor: 'blue'});
    jsx13.create('text', [(3 + 39) / 2, -2.25, '+36'], {strokeColor: 'red', fontSize: 16, cssStyle: text_css});
    jsx13.create('arrow', [[3, -3], [39, -3]], {strokeColor: 'red'});
});
</script>
{% endblock %}

{% block title %}
カッコがつかない正負の足し算引き算(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">カッコがつかない正負の足し算引き算(解説)</p>
    </div>
</div>
{% endblock %}

{% block added_cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block css %}
<style type="text/css">
    .fa-solid{
        color: gray;
        text-decoration: none;
    }
    .fa-pen-to-square{
        color: gray;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h4">
        カッコがつかない正負の足し算引き算
        <small class="text-muted">～全ての基本をマスターしよう～</small>
    </h1>

    <br>
    <ul class="list-group row m-4 p-4">
        <h2 class="h5">目次</h2>
        <li class="list-group-item"><a href="#foreword">前書き</a></li>
        <li class="list-group-item"><a href="#confirmation_of_basic_knowledge_in_elementary_school">小学校範囲の基本知識確認</a></li>
        <li class="list-group-item"><a href="#confirmation_of_basic_knowledge_in_junior_highschool">中学校範囲の基本知識確認</a></li>
        <li class="list-group-item"><a href="#how_to_solve_frac_xor_decimal">分数か小数が使われている計算の解き方</a></li>
        <li class="list-group-item"><a href="#how_to_solve_frac_and_decimal">分数と小数が使われている計算の解き方</a></li>
        <li class="list-group-item"><a href="#afterword">後書き</a></li>
    </ul>
    <br>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="foreword">前書き</h2>
        <div class="m-2 p-2">
            <p class="lh-1">正負の数の計算は全ての基本です。このあと中学、さらには高校と数学の学習は続いていきますが、<span class="text-decoration-underline">その根底にはいつも正負の計算があります。</span></p>
            <p class="lh-1">ここではその中でも特に基本となる、カッコがついていない足し算引き算の解説を行います。</p>
            <p class="lh-1">とりわけ、小数や分数が入ってくる場合を主として解説していくことになります。</p>
            <p class="lh-1">基本を身に着けたい方、そしてある程度は計算できるものの、複雑な計算にはまだ慣れていない方は参考にしてみてください。</p>
        </div>
    </div>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="confirmation_of_basic_knowledge_in_elementary_school">小学校範囲の基本知識確認</h2>
        <div class="m-2 p-2">
            <p class="lh-1">まずは基本の確認からやっていきましょう。</p>
            <p class="lh-1">足し算・引き算の基本は、<span class="text-decoration-underline">数直線上の移動</span>です。</p>
            <p class="lh-1">たとえば、\( 4 \color{blue}- 2 \color{black} \)を数直線上で表現すると、以下のようになります。</p>
            <br>
            <div id="jxgbox1" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">点\( A(4) \)がスタートで、そこから\( \color{blue} -2 \color{black} \)、つまり左に2だけ動きます。結果として、答えは点\( B(2) \)となるわけです。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">足し算も同じです。次は\( 1 \color{red}+ 4 \color{black}\)を見てみましょう。</p>
            <br>
            <div id="jxgbox2" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">点\( A(1) \)がスタートで、そこから\( \color{red} + 4 \color{black} \)、つまり右に4だけ動きます。答えは点\( B(5) \)となります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">ここで確認しておいてほしいのは、<span class="text-decoration-underline">足し算だと<span style="color:red;">右</span>、引き算だと<span style="color:blue;">左</span></span>に動くということです。</p>
            <p class="lh-1">一般的に右は<span style="color: red;">正の方向</span>、左は<span style="color: blue;">負の方向</span>とよばれます。ここでも、今後はこの呼び方に統一していきましょう。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="confirmation_of_basic_knowledge_in_junior_highschool">中学校範囲の基本知識確認</h2>
        <div class="m-2 p-2">
            <p class="lh-1">小学校範囲の足し算・引き算の基本知識確認は終わりました。次は中学校範囲に進んでいきます。</p>
            <p class="lh-1">とはいえ、そこまで大きな変化はありません。数直線の原点より左、つまり<span class="text-decoration-underline">負の数が登場する</span>だけで、足し算・引き算の考え方自体はそのままです。</p>
            <p class="lh-1">たとえば、\( -3 \color{red}+ 2 \color{black} \)を数直線上で表現すると、以下のようになります。</p>
            <br>
            <div id="jxgbox3" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートが点\( A(-3) \)で、そこから\( \color{red}+2  \color{black}\)、つまり正の方向に2だけ動き、答えが点\( B(-1) \)になります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">これは3つ以上の数の足し引きでも同じです。\( -5 \color{blue}-2 \color{black} \color{red}+ 1 \color{black}\)を見てみましょう。</p>
            <br>
            <div id="jxgbox4" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートが点\( A(-5) \)で、そこから\( \color{blue}-2 \)、つまり負の方向に2だけ動き、点\( B(-7) \)になります。</p>
            <p class="lh-1">そこからさらに\( \color{red}+1 \)、正の方向に1だけ動き、点\( C(-6) \)が答えとなります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">もう一つ確認してみます。\( -3 \color{red}+ 4 \color{black} \color{blue}-2 \color{black} \color{red}+ 1 \color{black}\)を計算しましょう。</p>
            <br>
            <div id="jxgbox5" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタート地点であるのは点\( A(-3) \)で、ここから\( \color{red} + 4 \)だけ動き、点\( B(1) \)につきます。 </p>
            <p class="lh-1">次に、そこから\( \color{blue} -2 \)だけ動き、点\( C(-1) \)へ。</p>
            <p class="lh-1">最後に\( \color{red} +1 \)動くと、点\( D(0) \)に到着します。ここが答えです。</p>
            <br>
            <p class="lh-1">以上のように計算すれば解けますが、右に左に移動するのが面倒に感じるようであれば、負の移動は負の移動、正の移動は正の移動と、順番を入れ替えてまとめてから計算してもよいでしょう。</p>
            <p class="lh-1">\( -3 \color{red} + 4 \color{black} \color{blue}- 2 \color{black} \color{red} + 1 \color{black} \)</p>
            <p class="lh-1">\( = -3 \color{blue} - 2 \color{black} \color{red} + 4 \color{black}  \color{red} + 1 \color{black} \)</p>
            <br>
            <div id="jxgbox6" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートが点\( A(-3) \)なのは変わりませんが、そこから\( \color{blue} -2 \)、つまり負の方向に\( 2 \)だけ動き、あとは正の方向にしか動いていません。</p>
            <p class="lh-1">結局答えは同じになりますので、自分がとっつきやすいやり方で解いていきましょう。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="how_to_solve_frac_xor_decimal">分数か小数が使われている計算</h2>
        <div class="m-2 p-2">
            <p class="lh-1">次は分数や小数が使われているときの計算をみてみましょう。</p>
            <p class="lh-1">とはいっても、小数だけ、分数だけであれば、これまでとさして違いはありません。</p>
            <p class="lh-1">たとえば分数だけのとき、\( \dfrac{1}{2} \color{blue} - \dfrac{5}{3} \color{black} \)を確認してみます。</p>
            <br>
            <div id="jxgbox7" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートが点\( A\left(\dfrac{1}{2}\right) \)で、そこから\( \color{blue} -\dfrac{5}{3} \)、つまり負の方向に\( \dfrac{5}{3} \)だけ動きます。</p>
            <p class="lh-1">結果として答えが点\( B\left(-\dfrac{7}{6}\right) \)になる、といった流れです。やっていること自体は先程までと同じですね。</p>
            <br>
            <p class="lh-1">ただ、実際に計算するときに、これをいきなり頭のなかでやるのはなかなか大変です。</p>
            <p class="lh-1">そんなときは、まず通分してから考えましょう。\( 2 \)と\( 3 \)の最小公倍数である\( 6 \)で通分してみます。</p>
            <p class="lh-1">\(\dfrac{1}{2} \color{blue} - \dfrac{5}{3} \color{black} \)</p>
            <p class="lh-1">\( = \dfrac{1 \times 3}{2 \times 3} \color{blue} - \dfrac{5 \times 2}{3 \times 2} \)</p>
            <p class="lh-1">\( = \dfrac{3 - \color{blue} 10 \color{black}}{6} \)</p>
            <p class="lh-1">こうすることで、分子部分の\( 3 - \color{blue} 10 \color{black} \)だけ計算すればよくなります。</p>
            <br>
            <div id="jxgbox8" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタート地点が点\( A(3) \)で、そこから\( \color{blue} -10 \)、つまり負の方向に\( 10 \)だけ動き、\( -7 \)に到着します。</p>
            <p class="lh-1">分子部分が\( -7 \)なので、答えは\( -\dfrac{7}{6} \)です。これなら先程までの整数の計算と同じですね。</p>
            <br>
            <p class="lh-1">もちろん3つ以上の数の計算でも同じです。\( \dfrac{2}{3} \color{red} + \dfrac{3}{4} \color{black} \color{blue} - \dfrac{1}{2} \color{black} \)を計算してみましょう。通分のときの分母は\( 2, 3, 4 \)の最小公倍数である\( 12 \)です。</p>
            <p class="lh-1">\( \dfrac{2}{3} \color{red} + \dfrac{3}{4} \color{black} \color{blue} - \dfrac{1}{2} \color{black} \)</p>
            <p class="lh-1">\( = \dfrac{2 \times 4}{3 \times 4} \color{red} + \dfrac{3 \times 3}{4 \times 3} \color{black} \color{blue} - \dfrac{1 \times 6}{2 \times 6} \color{black} \)</p>
            <p class="lh-1">\( = \dfrac{8}{12} \color{red} + \dfrac{9}{12} \color{blue} - \dfrac{6}{12} \)</p>
            <p class="lh-1">\( = \dfrac{8 \color{red} + 9 \color{black} \color{blue} - 6}{12} \)</p>
            <br>
            <div id="jxgbox9" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">分子部分の計算は点\( A(8) \)からスタートして、\( \color{red} +9 \)、つまり正の方向に9動き、点\( B(17) \)につきます。</p>
            <p class="lh-1">そこからさらに\( \color{blue} -6 \)、つまり負の方向に6動き、点\( C(11) \)につきます。</p>
            <p class="lh-1">分子が\( 11 \)なので、答えは\( \dfrac{11}{12} \)となります。</p>
            <br>
            <p class="lh-1">このように、分数であっても、通分を行えば、大体整数と同じように計算できます。</p>
            <p class="lh-1">通分は最小公倍数で行うのが一般的です。計算で数が大きくなって嬉しいことはあまりないですからね。</p>
            <p class="lh-1">
                公倍数や公約数の練習問題を解きたい方は、以下にアクセスしてみてください。
                <a href="{% url 'elementary_school5' %}#lcm_and_gcd_title" class="fa-solid fa-pen-to-square" target="_blank" rel="noopener noreferrer"><small class="text-muted">公倍数と公約数</small></a>
            </p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">次は小数です。\( -0.8 \color{red} + 0.3 \color{black} \)を見てみましょう。</p>
            <br>
            <div id="jxgbox10" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートは点\( A(-0.8) \)で、そこから\( \color{red} + 0.3 \)、つまり正の方向に\( 0.3 \)だけ動きます。結果として、答えは点\( B(-0.5) \)となります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">3つ以上の場合も同じです。\( 0.05 \color{blue} - 0.3  \color{red} + 0.1\)を見てみましょう。</p>
            <br>
            <div id="jxgbox11" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートは点\( A(0.05) \)で、そこから\( \color{blue} -0.3 \)、つまり負の方向に\( 0.3 \)だけ動き、点\( B(-0.25) \)につきます。</p>
            <p class="lh-1">次に、そこから\( \color{red} + 0.1 \)、つまり正の方向に\( 0.1 \)だけ動き、点\( C(-0.25) \)にたどりつきます。これが答えです。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border_bottom">
        <div class="m-2 p-2">
            <h2 class="text-muted h5" id="how_to_solve_frac_and_decimal">分数と小数が使われている計算の解き方</h2>
            <p class="lh-1">最後に確認するのは、<span class="text-decoration-underline">分数と小数が同時に使われている</span>ときの計算方法です。</p>
            <p class="lh-1">初めに結論からいってしまうと、<span class="text-decoration-underline">小数を分数に直してから計算する</span>というのがポイントとなります。</p>
            <p class="lh-1">というのも、\( \dfrac{1}{3} = 0.3333.... \)のように小数では表せない分数は無数にありますが、<span class="text-decoration-underline">分数で表せない小数は存在しない</span>からです。</p>
            <p class="lh-1">小数を分数に直す方法については以下に折りたたんでおきますので、理解が怪しい方は確認してみてください。</p>
            <details>
                <summary><small class="text-muted">小数を分数に直す方法</small></summary>
                <div class="m-2 p-2">
                    <p class="lh-1">小数を分数に直すときには、\( 0.1 \)や\( 0.01 \)などが何個あるのか？というふうに考えていきます。</p>
                    <p class="lh-1">たとえば\( 0.4 \)は\( 0.4 = 0.1 \times 4 \)と書き換えられます。つまり、\( 0.1 \)が\( 4 \)個あるということです。</p>
                    <p class="lh-1">\( 0.1 = \dfrac{1}{10} \)なので、\( 0.4 = 0.1 \times 4 = \dfrac{1}{10} \times 4 = \dfrac{4}{10} = \dfrac{2}{5} \)となります。</p>
                    <p class="lh-1">このように、小数第一位まで続いている数であれば、\( 0.\bigcirc = 0.1 \times \bigcirc = \dfrac{1}{10} \times \bigcirc \)と計算することで分数に直せます。</p>
                </div>
                <div class="m-2 p-2">
                    <p class="lh-1">では、小数第二位、第三位のように、より多くの数字が続いている場合はどうするのでしょうか。こちらも合わせてみてみましょう。</p>
                    <p class="lh-1">小数第二位まで続く数の例として、\( 0.25 \)を見てみます。こちらは\( 0.01 \times 25 \)と書き換えられます。</p>
                    <p class="lh-1">\( 0.01 = \dfrac{1}{100} \)なので、\( 0.25 = 0.01 \times 25 = \dfrac{1}{100} = \dfrac{25}{100} = \dfrac{1}{4} \)となります。</p>
                    <p class="lh-1">つまり、小数第二位まで続く数は、\( 0.\bigcirc\triangle = 0.01 \times \bigcirc\triangle = \dfrac{1}{100} \times \bigcirc\triangle \)と計算することで分数に直せます。</p>
                    <br>
                    <p class="lh-1">小数第三位まで続く数も似たようなものです。こちらは\( 0.001 = \dfrac{1}{1000} \)であることを利用します。</p>
                    <p class="lh-1">例として、\( 0.238 \)を見てみましょう。</p>
                    <p class="lh-1">\( 0.238 = 0.001 \times 238 = \dfrac{1}{1000} \times 238 = \dfrac{238}{1000} = \dfrac{119}{500} \)となります。</p>
                    <p class="lh-1">つまり、小数第三位まで続く数は、\( 0.\bigcirc\triangle\square = 0.01 \times \bigcirc\triangle\square = \dfrac{1}{1000} \times \bigcirc\triangle\square \)と計算すれば分数になります。</p>
                </div>
                <div class="m-2 p-2">
                    <p class="lh-1">以降の流れもだいたい同じですね。小数第四位まで続くなら\( 0.0001 = \dfrac{1}{10000} \)を使いますし、小数第五位まで続くなら\( 0.00001 = \dfrac{1}{100000} \)を使います。</p>
                    <p class="lh-1">
                        この計算をもう少し練習したいという方は、以下にリンクを張っておきますので、そちらにアクセスしてみてください。
                        <a href="{% url 'elementary_school5' %}#conversion_between_frac_and_decimal" class="fa-solid fa-pen-to-square" target="_blank" rel="noopener noreferrer"><small class="text-muted">小数と分数の相互変換</small></a>
                    </p>
                </div>
                ----------------------折りたたみここまで----------------------
            </details>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">さて、それではいよいよ計算にはいっていきます。例として、\( -\dfrac{1}{3} \color{red} + 0.4 \)を見てみましょう。</p>
            <p class="lh-1">\( 0.4 \)を分数に直すと、\( 0.4 = 0.1 \times 4 = \dfrac{1}{10} \times 4 = \dfrac{4}{10} = \dfrac{2}{5} \)となります。</p>
            <p class="lh-1">これを\( 0.4 \)と入れ替えて計算を進めていきます。</p>
            <p class="lh-1">\( -\dfrac{1}{3} \color{red} + 0.4 \)</p>
            <p class="lh-1">\( = -\dfrac{1}{3} \color{red} + \dfrac{2}{5} \)</p>
            <p class="lh-1">\( = -\dfrac{1 \times 5}{3 \times 5} \color{red} + \dfrac{2 \times 3}{5 \times 3} \)</p>
            <p class="lh-1">\( =  \dfrac{-5 \color{black} \color{red} + 6 \color{black} }{15} \)</p>
            <br>
            <div id="jxgbox12" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">分子部分の計算は点\( A(-5) \)から始まり、そこから\( \color{red} +6 \)、つまり正の方向に6だけ動き、点\( B(1) \)にたどりつきます。</p>
            <p class="lh-1">よって答えは、\( \dfrac{1}{15} \)となります。</p>
            <p class="lh-1">小数を分数にさえ直してあげれば、あとは分数同士の計算と同じであることがわかってもらえるでしょうか？</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">次にもう少し複雑な計算を見てみましょう。\(  \dfrac{3}{5} \color{blue} -0.45 \color{red} + 1.8 \)を計算してみます。</p>
            <p class="lh-1">まず\( 0.45 \)を分数に直します。</p>
            <p class="lh-1">\( 0.45 \)</p>
            <p class="lh-1">\( = 0.01 \times 45\)</p>
            <p class="lh-1">\( = \dfrac{1}{100} \times 45 \)</p>
            <p class="lh-1">\( = \dfrac{45}{100} \)</p>
            <p class="lh-1">\( = \dfrac{9}{20} \)</p>
            <p class="lh-1">次に、\( 1.8 \)を分数に直します。</p>
            <p class="lh-1">\( 1.8 \)</p>
            <p class="lh-1">\( = 0.1 \times 18 \)</p>
            <p class="lh-1">\( = \dfrac{1}{10} \times 18 \)</p>
            <p class="lh-1">\( = \dfrac{18}{10} \)</p>
            <p class="lh-1">\( = \dfrac{9}{5} \)</p>
            <p class="lh-1">直し終えたので計算します。</p>
            <p class="lh-1">\( \dfrac{3}{5} \color{blue} -0.45 \color{red} + 1.8 \)</p>
            <p class="lh-1">\( = \dfrac{3}{5} \color{blue} -\dfrac{9}{20} \color{red} + \dfrac{9}{5} \)</p>
            <p class="lh-1">\( = \dfrac{3 \times 4}{5 \times 4} \color{blue} -\dfrac{9}{20} \color{red} + \dfrac{9 \times 4}{5 \times 4} \)</p>
            <p class="lh-1">\( = \dfrac{12}{20} \color{blue} -\dfrac{9}{20} \color{red} + \dfrac{36}{20} \)</p>
            <p class="lh-1">\( = \dfrac{12 \color{blue} - 9 \color{red} + 36}{20} \)</p>
            <br>
            <div id="jxgbox13" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">分子部分の計算は点\( A(12) \)から始まり、そこから\( \color{blue} -9 \)、つまり負の方向に9だけ動き、点\( B(3) \)にたどりつきます。</p>
            <p class="lh-1">そこからさらに\( \color{red} + 36 \)、つまり正の方向に36だけ動き、点\( C(39) \)にたどりつきます。</p>
            <p class="lh-1">分子部分が\( 39 \)なので、最終的な答えは\( \dfrac{39}{20} \)となります。</p>
            <p class="lh-1">ちなみに、ここで紹介したものには入っていませんでしたが、もし整数も含まれていたとしても、\( 3 = \dfrac{3}{1}, -2 = -\dfrac{2}{1} \)のように分母を1とすれば問題なく計算可能です。</p>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="afterword">後書き</h2>
        <div class="m-2 p-2">
            <p class="lh-1">解説は以上になります。いかがでしたか。</p>
            <p class="lh-1">ここまでいくつかの例を交えて正負の計算を解説してきましたが、ここで紹介したやり方は<span class="text-decoration-underline">あくまで例の一つに過ぎない</span>ことに注意してください。</p>
            <p class="lh-1">たとえばある程度計算に慣れてくれば、数直線ではなく頭の中で考えることもできるでしょう。</p>
            <p class="lh-1">また、小数と分数が一緒に使われている計算であれば、以下のように、分数部分だけ、小数部分だけでいったん計算してから、あらためて計算してもよいでしょう。</p>
            <p class="lh-1">\( -0.3 + 0.5 - \dfrac{5}{3} + \dfrac{1}{2} \)</p>
            <p class="lh-1">\( = 0.2 - \dfrac{5 \times 2}{3 \times 2} + \dfrac{1 \times 3}{2 \times 3}\)</p>
            <p class="lh-1">\( = 0.2 + \dfrac{-10 + 3}{6} \)</p>
            <p class="lh-1">\( = 0.2 - \dfrac{7}{6}\)</p>
            <p class="lh-1">\( = \dfrac{2}{10} - \dfrac{7}{6}\)</p>
            <p class="lh-1">\( = \dfrac{1}{5} - \dfrac{7}{6}\)</p>
            <p class="lh-1">\( = \dfrac{1 \times 6}{5 \times 6} - \dfrac{7 \times 5}{6 \times 5}\)</p>
            <p class="lh-1">\( = \dfrac{6 - 35}{30}\)</p>
            <p class="lh-1">\( = - \dfrac{29}{30} \)</p>
            <p class="lh-1">極論すると、正しく素早く計算できればどのような計算方法であってもOKです。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">ただ、頭の中で多くの計算をやればやるほど、計算ミスをしやすくなってしまいます。</p>
            <p class="lh-1">また、毎度毎度異なったやり方を使っていると、これまた間違いの原因になりやすいです。</p>
            <p class="lh-1">まずは正確に計算できるように、決まったやり方で解いていくことを心がけましょう。</p>
        </div>
    </div>
</div>

<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'junior_highschool1' %}" class="btn btn-primary" type="button">問題選択へ戻る</a>
    <a href="{% url 'index' %}" class="btn btn-primary" type="button">トップへ戻る</a>
</div>

<footer class="container-fluid print_footer">
    <small><a href="#">© 2022 有明学習振興</a></small>
</footer>
{% endblock %}