{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- Stylesheet -->
<link href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraph.min.css" rel="stylesheet">
<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/1.4.5/jsxgraphcore.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
window.addEventListener("load", (event)=>{
    const text_css = 'font-family: "Times New Roman", Times, "serif"; font-style: italic';

    let jsx1 = JXG.JSXGraph.initBoard("jxgbox1", {boundingbox: [-5.2, 2, 5.2, -2]});
    jsx1.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    let point1_1 = jsx1.create('point', [-3, 0], {strokeColor: "black"});
    let point1_2 = jsx1.create('point', [-1, 0], {strokeColor: "black"});
    jsx1.create('arrow', [point1_1, point1_2], {strokeColor: "red"});
    jsx1.create('text', [-2, 0.3, '+2'], {strokeColor: "red", cssStyle: text_css, fontSize: 16});

    let jsx2 = JXG.JSXGraph.initBoard("jxgbox2", {boundingbox: [-9.2, 2, 1.2, -3]});
    jsx2.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    jsx2.create('point', [-5, 0], {strokeColor: "black"});
    jsx2.create('point', [-7, 0], {strokeColor: "black"});
    jsx2.create('point', [-6, 0], {strokeColor: "black"});
    jsx2.create('arrow', [[-5, -1], [-7, -1]], {strokeColor: "blue"}); 
    jsx2.create('text', [-6.5, -0.7, '-2'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});
    jsx2.create('arrow', [[-7, -2], [-6, -2]], {strokeColor: "red"});
    jsx2.create('text', [-6.8, -1.7, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"})
    jsx2.create('segment', [[-5, 0], [-5, -2]], {strokeColor: "gray", dash: 2});
    jsx2.create('segment', [[-7, 0], [-7, -2]], {strokeColor: "gray", dash: 2});
    jsx2.create('segment', [[-6, 0], [-6, -2]], {strokeColor: "gray", dash: 2});
    jsx2.create('text', [-6.8, -1.7, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});

    let jsx3 = JXG.JSXGraph.initBoard("jxgbox3", {boundingbox: [-8.2, 2, 3.2, -5]});
    jsx3.create('axis', [[0, 0], [1, 0]], 
    {
        firstArrow: true,
        lastArrow: true,
        ticks: {
            drawZero: true,
            ticksDistance: 1,
            majorHeight: 30,
            tickEndings: [1, 1],
            minorTicks: 0
        }
    }
    );
    // -3 - 2 + 4 + 1
    jsx3.create('point', [-3, 0], {strokeColor: "black"});
    jsx3.create('point', [-5, 0], {strokeColor: "black"});
    jsx3.create('point', [-1, 0], {strokeColor: "black"});
    jsx3.create('point', [0, 0], {strokeColor: "black"});
    jsx3.create('segment', [[-3, 0], [-3, -7]], {strokeColor: "gray", dash: 2});
    jsx3.create('segment', [[-5, 0], [-5, -7]], {strokeColor: "gray", dash: 2});
    jsx3.create('segment', [[-1, 0], [-1, -7]], {strokeColor: "gray", dash: 2});
    jsx3.create('segment', [[0, 0], [0, -7]], {strokeColor: "gray", dash: 2});
    jsx3.create('text', [-4, -0.75, '-2'], {fontSize: 16, cssStyle: text_css, strokeColor: "blue"});
    jsx3.create('arrow', [[-3, -1.5], [-5, -1.5]], {strokeColor: "blue"});
    jsx3.create('text', [-3, -2, '+4'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
    jsx3.create('arrow', [[-5, -2.5], [-1, -2.5]], {strokeColor: "red"});
    jsx3.create('text', [-0.5, -3, '+1'], {fontSize: 16, cssStyle: text_css, strokeColor: "red"});
    jsx3.create('arrow', [[-1, -3.5], [0, -3.5]], {strokeColor: "red"});
});
</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block title %}
カッコがつかない正負の足し算引き算(解説)
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">カッコがつかない正負の足し算引き算(解説)</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h4">
        カッコがつかない正負の足し算引き算
        <small class="text-muted">～全ての基本をマスターしよう～</small>
    </h1>

    <br>
    <ul class="list-group row m-4 p-4">
        <h2 class="h5">目次</h2>
        <li class="list-group-item"><a href="#foreword">前書き</a></li>
        <li class="list-group-item"><a href="#confirmation_of_basic_knowledge">基本知識の確認</a></li>
        <li class="list-group-item"><a href="#afterword">後書き</a></li>
    </ul>
    <br>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="foreword">前書き</h2>
        <div class="m-2 p-2">
            <p class="lh-1">正負の数の計算は全ての基本です。このあと中学、さらには高校と数学の学習は続いていきますが、<span class="text-decoration-underline">その根底にはいつも正負の計算があります。</span></p>
            <p class="lh-1">ここではその中でも特に基本となる、カッコがついていない足し算引き算の解説を行います。</p>
            <p class="lh-1">とりわけ、小数や分数が入ってくる場合を主として解説していくことになります。</p>
            <p class="lh-1">基本を身に着けたい方、そしてある程度は計算できるものの、複雑な計算にはまだ慣れていない方は参考にしてみてください。</p>
        </div>
    </div>


    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="confirmation_of_basic_knowledge">基本知識の確認</h2>
        <div class="m-2 p-2">
            <p class="lh-1">まずは順番に、基礎の確認から進めていきましょう。</p>
            <p class="lh-1">正負の数の足し算引き算の基本は<span class="text-decoration-underline">打ち消し</span>です。</p>
            <p class="lh-1">たとえば、\( -3 + 2 \)を数直線上で表現すると、以下のようになります。</p>
            <br>
            <div id="jxgbox1" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートが点\( A(-3) \)で、そこから\( \color{red}+2  \color{black}\)、つまり正の方向に2だけ動き、答えが点\( B(-1) \)になります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">これは3つ以上の数の足し引きでも同じです。\( -5 -2 + 1\)を見てみましょう。</p>
            <br>
            <div id="jxgbox2" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
            <p class="lh-1">スタートが点\( A(-5) \)で、そこから\( \color{blue}-2 \)、負の方向に2だけ動き、点\( B(-7) \)になります。</p>
            <p class="lh-1">そこからさらに\( \color{red}+1 \)、正の方向に1だけ動き、点\( C(-6) \)が答えとなります。</p>
        </div>

        <div class="m-2 p-2">
            <p class="lh-1">もう一つ確認してみます。\( -3 + 4 -2 + 1\)を計算しましょう。</p>
            <p class="lh-1">先程と同じように計算すれば解けるのですが、右に左に移動するのが面倒に感じるようであれば、負は負、正は正にまとめてもよいでしょう。</p>
            <p class="lh-1">\( -3 + 4 - 2 + 1 \)</p>
            <p class="lh-1">\( = -3 - 2 + 4 + 1\)</p>
            <br>
            <div id="jxgbox3" class="jxgbox" style="width: 500px; height: 200px;"></div>
            <br>
        </div>
    </div>

    <div class="row m-4 p-4 border-bottom">
        <h2 class="text-muted h5" id="afterword">後書き</h2>
        <div class="m-2 p-2">
            <p class="lh-1">解説は以上になります。いかがでしたか。</p>
        </div>
    </div>
</div>

<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'junior_highschool1' %}" class="btn btn-primary" type="button">問題選択へ戻る</a>
    <a href="{% url 'index' %}" class="btn btn-primary" type="button">トップへ戻る</a>
</div>

<footer class="container-fluid print_footer">
    <small><a href="#">© 2022 有明学習振興</a></small>
</footer>
{% endblock %}