{% extends 'math_print/base.html' %}

{% block title %}
計算練習(小5)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function changeStatusOfFrationType(){
        let fraction_types = document.getElementsByName(`fraction_type`);

        for (let i = 0; i < fraction_types.length; i++) {
            if (!(fraction_types[i].checked)){
                fraction_types[i].checked = true;
            }
        }
    }

    function changeStatusOfFractionCalculateType(){
        let fraction_calculate_types = document.getElementsByName('fraction_calculate_type');

        for (let i = 0; i < fraction_calculate_types.length; i++){
            if (!(fraction_calculate_types[i].checked)){
                fraction_calculate_types[i].checked = true;
            }
        }
    }

    function changeStatusOfFrationTypeForCalculate(){
        let fraction_types_for_calculate = document.getElementsByName(`fraction_type_for_calculate`);
        
        for (let i = 0; i < fraction_types_for_calculate.length; i++){
            if (!(fraction_types_for_calculate[i].checked)){
                fraction_types_for_calculate[i].checked = true;
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>公倍数と公約数</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する問題タイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="lcm" name="problem_type" id="lcm_and_gcd_lcm" checked>
                        <label class="form-check-label" for="lcm_and_gcd_lcm">
                            2つの数の公倍数を求める
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="gcd" name="problem_type" id="lcm_and_gcd_gcd" checked>
                        <label class="form-check-label" for="lcm_and_gcd_gcd">
                            2つの数の公約数を求める
                        </label>
                    </div>
                </div>
                <small class="text-muted">出題に利用される数の最大値</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-control" type="number" name="max_problem_number" value="100" min="100" max="300">
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="LCMAndGCDFivePaperRadio" checked>
                        <label class="form-check-label" for="LCMAndGCDFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="LCMAndGCDTenPaperRadio">
                        <label class="form-check-label" for="LCMAndGCDTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="LCMAndGCDFifteenPaperRadio">
                        <label class="form-check-label" for="LCMAndGCDFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'lcm_and_gcd_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'lcm_and_gcd_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>約分</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する分数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="proper_fraction" name="fraction_type" id="properFractionCheck" checked>
                        <label class="form-check-label" for="properFractionCheck">
                            真分数(分子が分母を超えない)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="improper_fraction" name="fraction_type" id="improperFractionCheck" checked>
                        <label class="form-check-label" for="improperFractionCheck">
                            仮分数(分子が分母を超える)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mixed_fraction" name="fraction_type" id="mixedFractionCheck">
                        <label class="form-check-label" for="mixedFractionCheck">
                            帯分数(横に数がくっついてくる)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="changeStatusOfFrationType()" value="全部のせ">
                </div>
                <small class="text-muted">答えの分母に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_denominator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_denominator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">答えの分子に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_numerator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_numerator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">答えの帯分数の横に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_on_the_left_of_frac" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_on_the_left_of_frac" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">約分で割るときに使う数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_reduction" value="2" min="2" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_reduction" value="6" min="2" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ReductionFivePaperRadio" checked>
                        <label class="form-check-label" for="ReductionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ReductionTenPaperRadio">
                        <label class="form-check-label" for="ReductionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ReductionFifteenPaperRadio">
                        <label class="form-check-label" for="ReductionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'reduction_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'reduction_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>小数と分数の相互変換</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac_to_decimal" name="conversion_type" id="fracToDecimalCheck" checked>
                        <label class="form-check-label" for="fracToDecimalCheck">
                            分数→小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal_to_frac" name="conversion_type" id="decimalToFracCheck">
                        <label class="form-check-label" for="decimalToFracCheck">
                            小数→分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する小数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="below_the_decimal_point" id="belowTheDecimalPointOneCheck" checked>
                        <label class="form-check-label" for="belowTheDecimalPointOneCheck">
                            小数第一位
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="below_the_decimal_point" id="belowTheDecimalPointTwoCheck">
                        <label class="form-check-label" for="belowTheDecimalPointTwoCheck">
                            小数第二位
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ConversionFivePaperRadio" checked>
                        <label class="form-check-label" for="ConversionivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ConversionTenPaperRadio">
                        <label class="form-check-label" for="ConversionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ConversionFifteenPaperRadio">
                        <label class="form-check-label" for="ConversionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'conversion_between_frac_and_decimal_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'conversion_between_frac_and_decimal_display' %}">      
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>分数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="fraction_calculate_type" id="fraction_calculate_plus_check" checked>
                        <label class="form-check-label" for="fraction_calculate_plus_check">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="fraction_calculate_type" id="fraction_calculate_minus_check">
                        <label class="form-check-label" for="fraction_calculate_minus_check">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="times" name="fraction_calculate_type" id="fraction_calculate_times_check">
                        <label class="form-check-label" for="fraction_calculate_times_check">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="division" name="fraction_calculate_type" id="fraction_calculate_division_check">
                        <label class="form-check-label" for="fraction_calculate_division_check">
                            割り算
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="changeStatusOfFractionCalculateType()" value="全部のせ">
                </div>
                <small class="text-muted">登場する分数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="proper_fraction" name="fraction_type_for_calculate" id="proper_fraction_for_calculate" checked>
                        <label class="form-check-label" for="proper_fraction_for_calculate">
                            真分数(分子が分母を超えない)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="improper_fraction" name="fraction_type_for_calculate" id="improper_fraction_for_calculate">
                        <label class="form-check-label" for="improper_fraction_for_calculate">
                            仮分数(分子が分母を超える)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mixed_fraction" name="fraction_type_for_calculate" id="mixed_fraction_for_calculate">
                        <label class="form-check-label" for="mixed_fraction_for_calculate">
                            帯分数(横に数がくっついてくる)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="changeStatusOfFrationTypeForCalculate()" value="全部のせ">
                </div>
                <small class="text-muted">分母に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_denominator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_denominator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">分子に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_numerator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_numerator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">帯分数の横に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_on_the_left_of_frac" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_on_the_left_of_frac" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="term_number_for_fraction_calculate" id="two_terms_for_fraction_calculate" checked>
                        <label class="form-check-label" for="two_terms_for_fraction_calculate">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number_for_fraction_calculate" id="three_terms_for_fraction_calculate">
                        <label class="form-check-label" for="three_terms_for_fraction_calculate">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number_for_fraction_calculate" id="four_terms_for_fraction_calculate">
                        <label class="form-check-label" for="four_terms_for_fraction_calculate">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number_for_fraction_calculate" id="five_terms_for_fraction_calculate">
                        <label class="form-check-label" for="five_terms_for_fraction_calculate">
                            5項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="FractionCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="FractionCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="FractionCalculateTenPaperRadio">
                        <label class="form-check-label" for="FractionCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="FractionCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="FractionCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'fraction_calculate_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'fraction_calculate_display' %}">      
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2022 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}