{% extends 'math_print/base.html' %}

{% block title %}
計算練習(小5)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

<script>
    window.addEventListener("load", add_graphic_to_sector_problem);

    function draw_standard_sector(){
        var stage = new createjs.Stage("standard_sector");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#bfe4ff");
        graphic.beginFill("#bfe4ff");
        graphic.drawCircle(80, 40, 0.01);
        var center_x = 80;
        var center_y = 40;
        var radius = 25;
        var start_radian = 0 * Math.PI / 180;
        var end_radian = 210 * Math.PI / 180;
        graphic.arc(center_x, center_y, radius, start_radian, end_radian);
        graphic.endStroke();
        graphic.endFill();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_baumkuchen() {
        var stage = new createjs.Stage("baumkuchen");
        var graphic = new createjs.Graphics();
        // outer sector
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        graphic.setStrokeStyle(0.5);
        var start_x = 80;
        var start_y = 70;
        graphic.drawCircle(start_x, start_y, 0.01);
        var radius = 50;
        var start_radian = 210 * Math.PI / 180;
        var end_radian = 360 * Math.PI / 180;
        graphic.arc(start_x, start_y, radius, start_radian, end_radian);
        graphic.endFill();
        graphic.endStroke();
        // inner sector
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        graphic.setStrokeStyle(0.5);
        var radius2 = 25;
        graphic.drawCircle(start_x, start_y, 0.01);
        graphic.arc(start_x, start_y, radius2, start_radian, end_radian);
        graphic.endStroke();
        graphic.endFill();
        // remained line
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.6);
        graphic.moveTo(start_x, start_y);
        graphic.lineTo(start_x+radius, start_y);
        graphic.endStroke();
        // at last addition
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_in_rugby(){
        var stage = new createjs.Stage("in_rugby");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(1);
        var start_x = 50;
        var start_y = 10;
        var width = 60;
        var height = 60;
        graphic.drawRect(start_x, start_y, width, height);
        // not need end stroke and beginstroke?
        graphic.endStroke();
        graphic.beginStroke("#bfe4ff");
        graphic.setStrokeStyle(0.01);
        graphic.beginFill("#bfe4ff");
        var center_x1 = 50;
        var center_y1 = 10;
        var radius1 = 60;
        var start_radian1 = 0 * Math.PI / 180;
        var end_radian1 = 90 * Math.PI / 180;
        graphic.arc(center_x1, center_y1, radius1, start_radian1, end_radian1, anticlockwise=false);
        var center_x2 = 110;
        var center_y2 = 70;
        var radius2 = 60;
        var start_radian2 = 180 * Math.PI / 180;
        var end_radian2 = 270 * Math.PI / 180;
        graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2, anticlockwise=false);
        graphic.endFill();
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_out_rugby(){
        var stage = new createjs.Stage("out_rugby");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff")
        graphic.setStrokeStyle(1);
        var start_x = 50;
        var start_y = 10;
        var width = 60;
        var height = 60;
        graphic.drawRect(start_x, start_y, width, height);
        // not need end stroke and beginstroke?
        graphic.endStroke();
        graphic.endFill();
        graphic.beginStroke("#bfe4ff");
        graphic.setStrokeStyle(0.01);
        graphic.beginFill("#ffffff");
        var center_x1 = 50;
        var center_y1 = 10;
        var radius1 = 60;
        var start_radian1 = 0 * Math.PI / 180;
        var end_radian1 = 90 * Math.PI / 180;
        graphic.arc(center_x1, center_y1, radius1, start_radian1, end_radian1, anticlockwise=false);
        var center_x2 = 110;
        var center_y2 = 70;
        var radius2 = 60;
        var start_radian2 = 180 * Math.PI / 180;
        var end_radian2 = 270 * Math.PI / 180;
        graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2, anticlockwise=false);
        graphic.endFill();
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_in_star() {
        var stage = new createjs.Stage("in_star");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        graphic.setStrokeStyle(2);
        var start_x = 50;
        var start_y = 10;
        var width = 60;
        var height = 60;
        graphic.drawRect(start_x, start_y, width, height);
        graphic.endStroke();
        graphic.endFill();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#ffffff");
        // clockwise from up left
        var radius = 30;
        var center_x1 = 80 - width / 2;
        var center_y1 = 40 - height / 2;
        var start_radian1 = 0 * Math.PI / 180;
        var end_radian1 = 90 * Math.PI / 180;
        graphic.drawCircle(center_x1, center_y1, 0.01);
        graphic.arc(center_x1, center_y1, radius, start_radian1, end_radian1);
        graphic.endFill();
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#ffffff");
        var center_x2 = 80 + width / 2;
        var center_y2 = 40 - height / 2;
        var start_radian2 = 90 * Math.PI / 180;
        var end_radian2 = 180 * Math.PI / 180;
        graphic.drawCircle(center_x2, center_y2, 0.01);
        graphic.arc(center_x2, center_y2, radius, start_radian2, end_radian2);
        graphic.endFill();
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#ffffff");
        var center_x3 = 80 + width / 2;
        var center_y3 = 40 + height / 2;
        var start_radian3 = 180 * Math.PI / 180;
        var end_radian3 = 270 * Math.PI / 180;
        graphic.drawCircle(center_x3, center_y3, 0.01);
        graphic.arc(center_x3, center_y3, radius, start_radian3, end_radian3);
        graphic.endFill();
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#ffffff");
        var center_x4 = 80 - width / 2;
        var center_y4 = 40 + height / 2;
        var start_radian4 = 270 * Math.PI / 180;
        var end_radian4 = 360 * Math.PI / 180;
        graphic.drawCircle(center_x4, center_y4, 0.01);
        graphic.arc(center_x4, center_y4, radius, start_radian4, end_radian4);
        graphic.endFill();
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_out_star() {
        var stage = new createjs.Stage("out_star");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        graphic.setStrokeStyle(2);
        var start_x = 50;
        var start_y = 10;
        var width = 60;
        var height = 60;
        graphic.drawRect(start_x, start_y, width, height);
        graphic.endStroke();
        graphic.endFill();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#bfe4ff");
        // clockwise from up left
        var radius = 30;
        var center_x1 = 80 - width / 2;
        var center_y1 = 40 - height / 2;
        var start_radian1 = 0 * Math.PI / 180;
        var end_radian1 = 90 * Math.PI / 180;
        graphic.drawCircle(center_x1, center_y1, 0.01);
        graphic.arc(center_x1, center_y1, radius, start_radian1, end_radian1);
        graphic.endFill();
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#bfe4ff");
        var center_x2 = 80 + width / 2;
        var center_y2 = 40 - height / 2;
        var start_radian2 = 90 * Math.PI / 180;
        var end_radian2 = 180 * Math.PI / 180;
        graphic.drawCircle(center_x2, center_y2, 0.01);
        graphic.arc(center_x2, center_y2, radius, start_radian2, end_radian2);
        graphic.endFill();
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#bfe4ff");
        var center_x3 = 80 + width / 2;
        var center_y3 = 40 + height / 2;
        var start_radian3 = 180 * Math.PI / 180;
        var end_radian3 = 270 * Math.PI / 180;
        graphic.drawCircle(center_x3, center_y3, 0.01);
        graphic.arc(center_x3, center_y3, radius, start_radian3, end_radian3);
        graphic.endFill();
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.beginFill("#bfe4ff");
        var center_x4 = 80 - width / 2;
        var center_y4 = 40 + height / 2;
        var start_radian4 = 270 * Math.PI / 180;
        var end_radian4 = 360 * Math.PI / 180;
        graphic.drawCircle(center_x4, center_y4, 0.01);
        graphic.arc(center_x4, center_y4, radius, start_radian4, end_radian4);
        graphic.endFill();
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_in_seed_and_flower() {
        var stage = new createjs.Stage("in_seed_and_flower");
        var graphic = new createjs.Graphics();
        // out sector
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        graphic.setStrokeStyle(0.5);
        var center_x = 40;
        var center_y = 70;
        graphic.drawCircle(center_x, center_y, 0.01);
        var radius = 60;
        var start_radian = 270 * Math.PI / 180;
        var end_radian = 360 * Math.PI / 180;
        graphic.arc(center_x, center_y, radius, start_radian, end_radian);
        graphic.endFill();
        graphic.endStroke();
        // remained line
        graphic.setStrokeStyle(0.5);
        graphic.beginStroke("#000000");
        graphic.moveTo(center_x, center_y);
        var end_x = 100;
        var end_y = 70;
        graphic.lineTo(end_x, end_y);
        graphic.endStroke();
        // bottom right half circle
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        graphic.setStrokeStyle(0.5);
        var center_x2 = (center_x + end_x) / 2;
        var center_y2 = (center_y + end_y) / 2;
        graphic.drawCircle(center_x2, center_y2, 0.01);
        var radius2 = 30;
        var start_radian2 = 180 * Math.PI / 180;
        var end_radian2 = 360 * Math.PI / 180;
        graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2);
        graphic.endFill();
        graphic.endStroke();
        // remained line of bottom right half circle
        graphic.beginStroke("#000000");
        graphic.moveTo(70, 70);
        var end_x2 = 100;
        var end_y2 = 70;
        graphic.lineTo(end_x2, end_y2);
        graphic.endStroke();
        // up left half circle
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        graphic.setStrokeStyle(0.5);
        var center_x3 = (center_x + 40) / 2;
        var center_y3 = (center_y + 10) / 2;
        graphic.drawCircle(center_x3, center_y3, 0.01);
        var radius3 = 30;
        var start_radian3 = 270 * Math.PI / 180;
        var end_radian3 = 450 * Math.PI / 180;
        graphic.arc(center_x3, center_y3, radius3, start_radian3, end_radian3);
        graphic.endFill();
        graphic.endStroke();
        //remained line of up left half circle
        graphic.beginStroke("#000000");
        graphic.moveTo(40, 40);
        var end_x3 = 40;
        var end_y3 = 70;
        graphic.lineTo(end_x3, end_y3);
        graphic.endStroke();
        // remained arc area
        //// arc from up left in little square
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        graphic.setStrokeStyle(0.5);
        var center_x4 = 40;
        var center_y4 = 40;
        var radius4 = 30;
        var start_radian4 = 0 * Math.PI / 180;
        var end_radian4 = 90 * Math.PI / 180;
        graphic.arc(center_x4, center_y4, radius4, start_radian4, end_radian4);
        //// arc from bottom right in little square
        var center_x5 = 70;
        var center_y5 = 70;
        var radius5 = 30;
        var start_radian5 = 180 * Math.PI / 180;
        var end_radian5 = 270 * Math.PI / 180;
        graphic.arc(center_x5, center_y5, radius5, start_radian5, end_radian5);
        // final addition
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function draw_out_seed_and_flower() {
        var stage = new createjs.Stage("out_seed_and_flower");
        var graphic = new createjs.Graphics();
        // out sector
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        graphic.setStrokeStyle(0.5);
        var center_x = 40;
        var center_y = 70;
        graphic.drawCircle(center_x, center_y, 0.01);
        var radius = 60;
        var start_radian = 270 * Math.PI / 180;
        var end_radian = 360 * Math.PI / 180;
        graphic.arc(center_x, center_y, radius, start_radian, end_radian);
        graphic.endFill();
        graphic.endStroke();
        // remained line
        graphic.setStrokeStyle(0.5);
        graphic.beginStroke("#000000");
        graphic.moveTo(center_x, center_y);
        var end_x = 100;
        var end_y = 70;
        graphic.lineTo(end_x, end_y);
        graphic.endStroke();
        // bottom right half circle
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        graphic.setStrokeStyle(0.5);
        var center_x2 = (center_x + end_x) / 2;
        var center_y2 = (center_y + end_y) / 2;
        graphic.drawCircle(center_x2, center_y2, 0.01);
        var radius2 = 30;
        var start_radian2 = 180 * Math.PI / 180;
        var end_radian2 = 360 * Math.PI / 180;
        graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2);
        graphic.endFill();
        graphic.endStroke();
        // remained line of bottom right half circle
        graphic.beginStroke("#000000");
        graphic.moveTo(70, 70);
        var end_x2 = 100;
        var end_y2 = 70;
        graphic.lineTo(end_x2, end_y2);
        graphic.endStroke();
        // up left half circle
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        graphic.setStrokeStyle(0.5);
        var center_x3 = (center_x + 40) / 2;
        var center_y3 = (center_y + 10) / 2;
        graphic.drawCircle(center_x3, center_y3, 0.01);
        var radius3 = 30;
        var start_radian3 = 270 * Math.PI / 180;
        var end_radian3 = 450 * Math.PI / 180;
        graphic.arc(center_x3, center_y3, radius3, start_radian3, end_radian3);
        graphic.endFill();
        graphic.endStroke();
        //remained line of up left half circle
        graphic.beginStroke("#000000");
        graphic.moveTo(40, 40);
        var end_x3 = 40;
        var end_y3 = 70;
        graphic.lineTo(end_x3, end_y3);
        graphic.endStroke();
        // remained arc area
        //// arc from up left in little square
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        graphic.setStrokeStyle(0.5);
        var center_x4 = 40;
        var center_y4 = 40;
        var radius4 = 30;
        var start_radian4 = 0 * Math.PI / 180;
        var end_radian4 = 90 * Math.PI / 180;
        graphic.arc(center_x4, center_y4, radius4, start_radian4, end_radian4);
        //// arc from bottom right in little square
        var center_x5 = 70;
        var center_y5 = 70;
        var radius5 = 30;
        var start_radian5 = 180 * Math.PI / 180;
        var end_radian5 = 270 * Math.PI / 180;
        graphic.arc(center_x5, center_y5, radius5, start_radian5, end_radian5);
        // final addition
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function add_graphic_to_sector_problem(){
        draw_standard_sector();
        draw_baumkuchen();
        draw_in_star();
        draw_out_star();
        draw_in_rugby();
        draw_out_rugby();
        draw_in_seed_and_flower();
        draw_out_seed_and_flower();
    }

    function checkAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (!(statuses[i].checked)){
                statuses[i].checked = true;
            }
        }
    }

    function uncheckAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (statuses[i].checked){
                statuses[i].checked = false;
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>公倍数と公約数</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する問題タイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="lcm" name="problem_type" id="lcm_and_gcd_lcm" checked>
                        <label class="form-check-label" for="lcm_and_gcd_lcm">
                            2つの数の公倍数を求める
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="gcd" name="problem_type" id="lcm_and_gcd_gcd" checked>
                        <label class="form-check-label" for="lcm_and_gcd_gcd">
                            2つの数の公約数を求める
                        </label>
                    </div>
                </div>
                <small class="text-muted">出題に利用される数の最大値</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-control" type="number" name="max_problem_number" value="100" min="100" max="300">
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="LCMAndGCDFivePaperRadio" checked>
                        <label class="form-check-label" for="LCMAndGCDFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="LCMAndGCDTenPaperRadio">
                        <label class="form-check-label" for="LCMAndGCDTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="LCMAndGCDFifteenPaperRadio">
                        <label class="form-check-label" for="LCMAndGCDFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'lcm_and_gcd_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'lcm_and_gcd_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>約分</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する分数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="proper_fraction" name="fraction_type" id="properFractionCheck" checked>
                        <label class="form-check-label" for="properFractionCheck">
                            真分数(分子が分母を超えない)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="improper_fraction" name="fraction_type" id="improperFractionCheck" checked>
                        <label class="form-check-label" for="improperFractionCheck">
                            仮分数(分子が分母を超える)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mixed_fraction" name="fraction_type" id="mixedFractionCheck">
                        <label class="form-check-label" for="mixedFractionCheck">
                            帯分数(横に数がくっついてくる)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('fraction_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('fraction_type')" value="全部はずし">
                </div>
                <small class="text-muted">答えの分母に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_denominator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_denominator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">答えの分子に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_numerator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_numerator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">答えの帯分数の横に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_on_the_left_of_frac" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_on_the_left_of_frac" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">約分で割るときに使う数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_reduction" value="2" min="2" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_reduction" value="6" min="2" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ReductionFivePaperRadio" checked>
                        <label class="form-check-label" for="ReductionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ReductionTenPaperRadio">
                        <label class="form-check-label" for="ReductionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ReductionFifteenPaperRadio">
                        <label class="form-check-label" for="ReductionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'reduction_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'reduction_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>通分</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する分数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="proper_fraction" name="fraction_type_for_common_denominator" id="CommonDenominatorProperFractionCheck" checked>
                        <label class="form-check-label" for="CommonDenominatorProperFractionCheck">
                            真分数(分子が分母を超えない)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="improper_fraction" name="fraction_type_for_common_denominator" id="CommonDenominatorImproperFractionCheck" checked>
                        <label class="form-check-label" for="CommonDenominatorImproperFractionCheck">
                            仮分数(分子が分母を超える)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mixed_fraction" name="fraction_type_for_common_denominator" id="CommonDenominatorMixedFractionCheck">
                        <label class="form-check-label" for="CommonDenominatorMixedFractionCheck">
                            帯分数(横に数がくっついてくる)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('fraction_type_for_common_denominator')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('fraction_type_for_common_denominator')" value="全部はずし">
                </div>
                <small class="text-muted">通分する分数の個数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="fraction_numbers" id="CommonDenominatorTwoCheck" checked>
                        <label class="form-check-label" for="CommonDenominatorTwoCheck">
                            2個
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="fraction_numbers" id="CommonDenominatorThreeCheck">
                        <label class="form-check-label" for="CommonDenominatorThreeCheck">
                            3個
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="CommonDenominatorFivePaperRadio" checked>
                        <label class="form-check-label" for="CommonDenominatorFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="CommonDenominatorTenPaperRadio">
                        <label class="form-check-label" for="CommonDenominatorTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="CommonDenominatorFifteenPaperRadio">
                        <label class="form-check-label" for="CommonDenominatorFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'common_denominator_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'common_denominator_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>小数と分数の相互変換</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac_to_decimal" name="conversion_type" id="fracToDecimalCheck" checked>
                        <label class="form-check-label" for="fracToDecimalCheck">
                            分数→小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal_to_frac" name="conversion_type" id="decimalToFracCheck">
                        <label class="form-check-label" for="decimalToFracCheck">
                            小数→分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する小数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="below_the_decimal_point" id="belowTheDecimalPointOneCheck" checked>
                        <label class="form-check-label" for="belowTheDecimalPointOneCheck">
                            小数第一位
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="below_the_decimal_point" id="belowTheDecimalPointTwoCheck">
                        <label class="form-check-label" for="belowTheDecimalPointTwoCheck">
                            小数第二位
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ConversionFivePaperRadio" checked>
                        <label class="form-check-label" for="ConversionivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ConversionTenPaperRadio">
                        <label class="form-check-label" for="ConversionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ConversionFifteenPaperRadio">
                        <label class="form-check-label" for="ConversionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'conversion_between_frac_and_decimal_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'conversion_between_frac_and_decimal_display' %}">      
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>分数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="fraction_calculate_type" id="fraction_calculate_plus_check" checked>
                        <label class="form-check-label" for="fraction_calculate_plus_check">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="fraction_calculate_type" id="fraction_calculate_minus_check">
                        <label class="form-check-label" for="fraction_calculate_minus_check">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="times" name="fraction_calculate_type" id="fraction_calculate_times_check">
                        <label class="form-check-label" for="fraction_calculate_times_check">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="division" name="fraction_calculate_type" id="fraction_calculate_division_check">
                        <label class="form-check-label" for="fraction_calculate_division_check">
                            割り算
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('fraction_calculate_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('fraction_calculate_type')" value="全部はずし">
                </div>
                <small class="text-muted">登場する分数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="proper_fraction" name="fraction_type_for_calculate" id="proper_fraction_for_calculate" checked>
                        <label class="form-check-label" for="proper_fraction_for_calculate">
                            真分数(分子が分母を超えない)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="improper_fraction" name="fraction_type_for_calculate" id="improper_fraction_for_calculate">
                        <label class="form-check-label" for="improper_fraction_for_calculate">
                            仮分数(分子が分母を超える)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mixed_fraction" name="fraction_type_for_calculate" id="mixed_fraction_for_calculate">
                        <label class="form-check-label" for="mixed_fraction_for_calculate">
                            帯分数(横に数がくっついてくる)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('fraction_type_for_calculate')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('fraction_type_for_calculate')" value="全部はずし">
                </div>
                <small class="text-muted">分母に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_denominator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_denominator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">分子に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_to_numerator" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_to_numerator" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">帯分数の横に登場する数の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="number" name="min_number_on_the_left_of_frac" value="2" min="1" max="100">
                            </div>
                            ~
                            <div class="col">
                                <input class="form-control" type="number" name="max_number_on_the_left_of_frac" value="6" min="1" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="term_number_for_fraction_calculate" id="two_terms_for_fraction_calculate" checked>
                        <label class="form-check-label" for="two_terms_for_fraction_calculate">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number_for_fraction_calculate" id="three_terms_for_fraction_calculate">
                        <label class="form-check-label" for="three_terms_for_fraction_calculate">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number_for_fraction_calculate" id="four_terms_for_fraction_calculate">
                        <label class="form-check-label" for="four_terms_for_fraction_calculate">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number_for_fraction_calculate" id="five_terms_for_fraction_calculate">
                        <label class="form-check-label" for="five_terms_for_fraction_calculate">
                            5項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="FractionCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="FractionCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="FractionCalculateTenPaperRadio">
                        <label class="form-check-label" for="FractionCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="FractionCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="FractionCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'fraction_calculate_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'fraction_calculate_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>おうぎ形の面積(色がついた部分の面積を求める)</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="standard_sector" name="problem_type" id="standard_sectorCheck">
                        <label class="form-check-label" for="standard_sectorCheck">
                            <canvas id ="standard_sector" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="baumkuchen" name="problem_type" id="baumkuchenCheck">
                        <label class="form-check-label" for="baumkuchenCheck">
                            <canvas id ="baumkuchen" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="in_star" name="problem_type" id="in_starCheck" checked>
                        <label class="form-check-label" for="in_starCheck">
                            <canvas id ="in_star" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="out_star" name="problem_type" id="out_starCheck" checked>
                        <label class="form-check-label" for="out_starCheck">
                            <canvas id ="out_star" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="in_rugby" name="problem_type" id="in_rugbyCheck" checked>
                        <label class="form-check-label" for="in_rugbyCheck">
                            <canvas id ="in_rugby" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="out_rugby" name="problem_type" id="out_rugbyCheck" checked>
                        <label class="form-check-label" for="out_rugbyCheck">
                            <canvas id ="out_rugby" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="in_seed_and_flower" name="problem_type" id="in_seed_and_flowerCheck" checked>
                        <label class="form-check-label" for="in_seed_and_flowerCheck">
                            <canvas id ="in_seed_and_flower" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="out_seed_and_flower" name="problem_type" id="out_seed_and_flowerCheck" checked>
                        <label class="form-check-label" for="out_seed_and_flowerCheck">
                            <canvas id ="out_seed_and_flower" width="160" height="80"></canvas>
                        </label>
                    </div>
                    <br>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('problem_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('problem_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="SectorWithFigureFivePaperRadio" checked>
                        <label class="form-check-label" for="SectorWithFigureFivePaperRadio">
                            10問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="SectorWithFigureTenPaperRadio">
                        <label class="form-check-label" for="SectorWithFigureTenPaperRadio">
                            10問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="SectorWithFigureFifteenPaperRadio">
                        <label class="form-check-label" for="SectorWithFigureFifteenPaperRadio">
                            10問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'elementary5_sector_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'elementary5_sector_display' %}">      
            </form>
        </div>
    </div>
    <br>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2022 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}