{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% block script %}{% endblock %}
        <style>
            footer {
                text-align: center;
                padding: 10px;
                background: whitesmoke;
            }
        </style>
        {% block css %}{% endblock %}
    </head>

    <body>
        {% block hero_unit %}
        {% endblock %}
        
        {% block body %}
        {% endblock %}
    </body>

    <footer class="container-fluid">
        <small><a href="#">© 2021 kensu</a></small>
    </footer>


</html>