{% extends 'math_print/base.html' %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>

<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
</script>
{% endblock %}

{% block title %}
四則演算練習
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">計算練習プリント</p>
    </div>
</div>
{% endblock %}

{% block body %}
{{% for math_problem in math_problem_list %}}
    {% if forloop.counter0 < 10 %}
        <div class="pull-left">
            <p class="text-center">${{ math_problem.latex_problem }}$</p>
            <p class="answer text-center" style="visibility:hidden;">${{ math_problem.latex_answer }}$</p>
        </div>
    {% else %}
        <div class="pull-right">
            <p class="text-center">${{ math_problem.latex_problem }}$</p>
            <p class="answer text-center" style="visibility:hidden;">${{ math_problem.latex_answer }}$</p>
        </div>
    {% endif %}
<!--
<div class="container-fluid">
{% for math_problem in math_problem_list %}
    {% if forloop.counter0|divisibleby:"2" %}
    {{ forloop.counter0|divisibleby:"2" }}
        <div class="row justify-content-start">
            forloop.counter0: {{ forloop.counter0 }}
            <p>${{ math_problem.latex_problem }}$</p>
            <p class="answer" style="visibility:hidden;">
                ${{ math_problem.latex_answer }}$
            </p>
        </div>
    {% else %}
    {{ forloop.counter0|divisibleby:"2" }}
        <div class="row justify-content-end">
            forloop.counter0: {{ forloop.counter0 }}
            <p>${{ math_problem.latex_problem }}$</p>
            <p class="answer" style="visibility:hidden;">
                ${{ math_problem.latex_answer }}$
            </p>
        </div>
    {% endif %}
{% endfor %}
</div>
<input type="button" value="解答表示" onclick="showAnswer()" />
-->
{% endblock %}