{% extends 'math_print/base.html' %}

{% block script %}
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img">
    <div class="container">
        <h1 class="display-4">ようこそ!</h1>
        <p class="text-dark">計算練習プリント</p>
    </div>
</div>
{% endblock %}

{% block body %}
<ol>
    {% for math_problem in math_problem_list %}
        <li>
        \[
        {{ math_problem.latex_problem }}
        \]
        <p class="answer" style="visibility:hidden;">
        \[
        {{ math_problem.latex_answer }}
        \]
        </p>
        </li>
    {% endfor %}
    <input type="button" value="解答表示" onclick="showAnswer()" />
</ol>
{% endblock %}