{% extends 'math_print/base.html' %}

{% block script %}
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

<script>
    window.addEventListener("load", make8);

    function drawLine(stage, start_x, start_y, end_x, end_y) {
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.beginFill("#ff0000");
        graphic.moveTo(start_x, start_y);
        graphic.lineTo(end_x, end_y);
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
  
    }
  
    function drawLineWithAngle(stage, start_x, start_y, angle, radius=200) {
        // draw line detemined by angle
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.beginFill("#00ff00");
        graphic.moveTo(start_x, start_y);
        var radian = angle * Math.PI / 180;
        var end_x = start_x + radius * Math.cos(radian);
        var end_y = start_y + radius * Math.sin(radian);
        graphic.lineTo(end_x, end_y);
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
    }
  
    function drawArc(stage, center_x, center_y, radius, start_angle, end_angle, anticlockwise=false) {
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        // ここだけぬられてる->三角形とこれ？
        graphic.beginFill("#0000ff");
        var start_radian = start_angle * Math.PI / 180;
        var end_radian = end_angle * Math.PI / 180;
        graphic.arc(center_x, center_y, radius, start_radian, end_radian, anticlockwise);
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
    }
    
    function drawSector(stage, center_x, center_y, sector_radius, sector_angle) {
        drawArc(stage, center_x, center_y, sector_radius, 0, sector_angle);
        sector_radian = sector_angle * Math.PI / 180;
        start_x = center_x + sector_radius * Math.cos(0);
        start_y = center_y + sector_radius * Math.sin(0);
        drawLine(stage, center_x, center_y, start_x, start_y);
        end_x = center_x + sector_radius * Math.cos(sector_radian);
        end_y = center_y + sector_radius * Math.sin(sector_radian);
        drawLine(stage, center_x, center_y, end_x, end_y);
        stage.update();
    }

    function drawDegreeCharacter(stage, x, y, character) {
        //文字オブジェクトを作成する
        var text = new createjs.Text(character, "15px Arial", "#000000");
        //描画位置の指定
        text.x = x;
        text.y = y;
        stage.addChild(text);
      }

    function make() {
        //// stage1
        var stage = new createjs.Stage("sample_canvas");
        var radius = Number("7");
        var central_angle = Number("120");
        drawSector(stage, 160, 80, 60, central_angle);
        //// stage2
        // line arc lineでいける？
        // arc to line to??????
        // circle + anti circle?<-exist?
        var stage2 = new createjs.Stage("sample_canvas2");
        var graphic2 = new createjs.Graphics();
        graphic2.beginStroke("#000000");
        graphic2.beginFill("ff0000");
        graphic2.moveTo(0, 0);
        graphic2.lineTo(160, 80);
        graphic2.moveTo(160, 80);
        graphic2.lineTo(0, 160);
        graphic2.moveTo(0, 160);
        graphic2.lineTo(0, 0);
        graphic2.endStroke();
        graphic2.endFill();
        var shape2 = new createjs.Shape(graphic2);
        stage2.addChild(shape2);
        stage2.update();
        // graphic2.beginStroke("#000000");
        // graphic2.beginFill("#0000ff");
        // var start_radian2 = 0
        // var end_radian2 = 180 * Math.Pi / 180;
        // graphic2.arc(160, 80, 80, start_radian2, end_radian2, true);
        // var shape2 = new createjs.Shape(graphic2);
        // stage2.addChild(shape2);
        // stage2.update();
    }

    function make2() {
        // ステージを作成します。
        var stage = new createjs.Stage(document.getElementById("sample_canvas3"));

        // Graphicsのインスタンスを作成します。
        var graphics = new createjs.Graphics();

        // 色の指定（線と塗りつぶしとそれぞれ色を指定する）
        graphics.beginStroke("#cccccc");
        graphics.beginFill("#7aeac8");

        // 図形の描画を行う（ここのバリエーションを後述します）
        // graphics.moveTo(80,80).lineTo(240,80).lineTo(240,240).lineTo(80,240).closePath();
        // graphics.moveTo(500, 500).lineTo(500, 200).arcTo(500, 200, 500, 800, 300).closePath();
        // graphics.moveTo(50, 20).arcTo(150, 20, 150, 70, 50);
        graphics.moveTo(500, 500).arcTo(500, 200, 800, 500, 300).closePath();
        // Shapeとして、Stageに追加します。
        var shape = new createjs.Shape(graphics);
        shape.x = 0;
        shape.y = 0;
        stage.addChild(shape);

        // ステージの更新を行う。
        stage.update();
    }

    function make3() {
        var canvas = document.getElementById('sample_canvas3');
        if (canvas.getContext) {
          var context = canvas.getContext('2d');
          // context.fillStyle = "red";
          //ここに具体的な描画内容を指定する
          //新しいパスを開始する
          context.beginPath();
          //(140,80)を中心点とする、半径50の円弧を、開始角度90度、終了角度180度で、半時計回りに作成する
          context.arc(140,80,50,45/180*Math.PI,135/180*Math.PI,true).fill();
          //現在のパスを輪郭表示する
          context.stroke();
        }
    }

    function make4() {
  //コンテキストを生成
        var cvs = document.getElementById("sample_canvas3");
        var ctx = cvs.getContext("2d");
        
        //色を指定
        ctx.strokeStyle="blue";  //線の色を青に指定
        ctx.fillStyle="red";     //塗りつぶしの色を赤に指定
        
        //円
        ctx.beginPath();
        ctx.arc(100, 100, 40, 0, Math.PI*2, false);
        ctx.stroke();
        
        //円（塗りつぶし）
        ctx.beginPath();
        ctx.arc(200, 100, 40, 0, Math.PI*2, false);
        ctx.fill();
        
        //半円
        ctx.beginPath();
        ctx.arc(300, 100, 40, 0, Math.PI, false);
        ctx.stroke();
        
        //半円（塗りつぶし）
        ctx.beginPath();
        ctx.arc(400, 100, 40, 0, Math.PI, false);
        ctx.fill();
    }

    function make5() {
        var stage = new createjs.Stage("myCanvas");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#ff0000");
        graphic.beginFill("#ff0000");
        // 線の幅を指定
        // graphic.setStrokeStyle(5);
        // 円を描く
        graphic.drawCircle(500, 500, 0.01);
        // graphic.setStrokeStyle(0.5);
        var center_x = 500;
        var center_y = 500;
        var radius = 200;
        var start_radian = 0 * Math.PI / 180;
        var end_radian = 250 * Math.PI / 180;
        graphic.arc(center_x , center_y, radius, start_radian, end_radian);
        graphic.endStroke();
        graphic.endFill();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function make6() {
        var stage = new createjs.Stage("sample_canvas");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        // graphic.beginFill("#bfe4ff");
        var start_x = 90;
        var start_y = 10;
        var width = 140;
        var height = 140;
        graphic.drawRect(start_x, start_y, width, height);
        // not need end stroke and beginstroke?
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        var center_x1 = 90;
        var center_y1 = 10;
        var radius1 = 140;
        var start_radian1 = 0 * Math.PI / 180;
        var end_radian1 = 90 * Math.PI / 180;
        graphic.arc(center_x1, center_y1, radius1, start_radian1, end_radian1, anticlockwise=false);
        var center_x2 = 230;
        var center_y2 = 150;
        var radius2 = 140;
        var start_radian2 = 180 * Math.PI / 180;
        var end_radian2 = 270 * Math.PI / 180;
        graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2, anticlockwise=false);
        graphic.endFill();
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function make7() {
        var stage = new createjs.Stage("sample_canvas");
        var graphic = new createjs.Graphics();
        graphic.beginStroke("#000000");
        graphic.beginFill("#bfe4ff");
        var start_x = 90;
        var start_y = 10;
        var width = 140;
        var height = 140;
        graphic.drawRect(start_x, start_y, width, height);
        // not need end stroke and beginstroke?
        graphic.endStroke();
        graphic.beginStroke("#000000");
        graphic.beginFill("#ffffff");
        var center_x1 = 90;
        var center_y1 = 10;
        var radius1 = 140;
        var start_radian1 = 0 * Math.PI / 180;
        var end_radian1 = 90 * Math.PI / 180;
        graphic.arc(center_x1, center_y1, radius1, start_radian1, end_radian1, anticlockwise=false);
        var center_x2 = 230;
        var center_y2 = 150;
        var radius2 = 140;
        var start_radian2 = 180 * Math.PI / 180;
        var end_radian2 = 270 * Math.PI / 180;
        graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2, anticlockwise=false);
        graphic.endFill();
        graphic.endStroke();
        var shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

    function make8() {
        const stage = new createjs.Stage("sample_canvas");
        const graphic = new createjs.Graphics();
        // dash line
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        graphic.setStrokeDash([1, 1], 0);
        for (let i = 0; i <= 14; i++) {
            let x = 10 * i + 90;
            graphic.moveTo(x, 10);
            graphic.lineTo(x, 150);
          }
        for (let i = 0; i <= 14; i++) {
            let y = 10 * i + 10;
            graphic.moveTo(90, y);
            graphic.lineTo(230, y);
        }
        graphic.endStroke();
        // axis and label
        drawLine(stage, 90, 80, 230, 80);
        drawLine(stage, 160, 10, 160, 150);
        drawDegreeCharacter(stage, 235, 80, "x");
        drawDegreeCharacter(stage, 155, -5, "y");
        graphic.endStroke();
        // five
        graphic.beginStroke("#000000");
        graphic.setStrokeStyle(0.5);
        drawDegreeCharacter(stage, 10 * 1 + 90, 80, "-5");
        drawDegreeCharacter(stage, 10 * 11 + 90, 80, "5");
        drawDegreeCharacter(stage, 160, 10 * 1 + 10, "5");
        drawDegreeCharacter(stage, 160, 10 * 11 + 10, "-5");
        drawDegreeCharacter(stage, 160, 80, "O");
        let shape = new createjs.Shape(graphic);
        stage.addChild(shape);
        stage.update();
    }

</script>
{% endblock %}

{% block body %}
<canvas id="sample_canvas" width="320" height="160" style="background-color:white"></canvas>
{% endblock %}