{% extends 'math_print/base.html' %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block nav_link %}
<li class="nav-item justify-content-center">
    <a class="nav-link" href="{% url 'update_information' %}">更新履歴</a>
</li>
<li class="nav-item justify-content-center">
    <a class="nav-link" href="{% url 'about_me' %}">このサイトについて</a>
</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <ul class="list-group center-block" style="max-width: 800px;">
        <li class="list-group-item"><a href="{% url 'elementary_school3' %}">小3の計算練習</a><br>(足し算と引き算, 掛け算, 割り算, 単位の変換, 分母が同じ真分数の計算)</li>
        <li class="list-group-item"><a href="{% url 'elementary_school4' %}">小4の計算練習</a><br>(1億を超える数の計算, 割り算, 小数の足し算と引き算, 小数のかけ算, 小数の割り算, 分数の足し算・引き算)</li>
        <li class="list-group-item"><a href="{% url 'elementary_school5' %}">小5の計算練習</a><br>(公倍数と公約数を求める, 約分, 通分, 分数と小数の相互変換, 分数の計算練習, おうぎ形, 割合・百分率・歩合)</li>
        <li class="list-group-item"><a href="{% url 'elementary_school6' %}">小6の計算練習</a><br>(穴埋め算, 整数と分数のかけ算・わり算, 文字を使った式)</li>
        <li class="list-group-item"><a href="{% url 'junior_highschool1' %}">中1の計算練習</a><br>(四則演算, 累乗の計算, 文字計算, 1次方程式, 形が決まった1次方程式, 比例, おうぎ形, 直線と平面の位置関係)</li>
        <li class="list-group-item"><a href="{% url 'junior_highschool2' %}">中2の計算練習</a><br>(連立方程式, 文字計算, 1次関数を求める, グラフを描く, 等式の変形, 分数の文字計算, 角度を求める)</li>
        <li class="list-group-item"><a href="{% url 'junior_highschool3' %}">中3の計算練習</a><br>(式の展開・整理, 因数分解, 2次方程式, 2次関数, 平方根)</li>
        <li class="list-group-item"><a href="{% url 'highschool1' %}">高1の計算練習</a><br>(平方完成, 式の展開・整理, 因数分解, 2次関数を求める, 2次関数の最大最小, 2次不等式, <br> n進数の変換, 三角比の値を求める)</li>
        <li class="list-group-item"><a href="{% url 'highschool2' %}">高2の計算練習</a><br>(指数の計算, 対数の計算, 対数方程式, 三角関数, 定積分で面積を求める, <br> 交点の位置ベクトルを求める, 種々の数列の和とその利用, 漸化式から一般項を求める)</li>
        <li class="list-group-item"><a href="{% url 'highschool3' %}">高3の計算練習</a><br>(積分計算)</li>
    </ul>
    <br>
</div>
<footer class="container-fluid print_footer">
    <small><a href="#">© 2024 有明学習振興</a></small>
</footer>
{% endblock %}