{% extends 'math_print/base.html' %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'select' %}">正負混合四則演算(20問)</a>
        <form class="" action="{% url 'select' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <small class="text-muted">使用する数のタイプ</small>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="integerCheck" checked>
                    <label class="form-check-label" for="integerCheck">
                        整数
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="decimalCheck">
                    <label class="form-check-label" for="decimalCheck">
                        小数
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="fracCheck">
                    <label class="form-check-label" for="fracCheck">
                        分数
                    </label>
                </div>
            </div>
            <small class="text-muted">問題数</small>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="20" name="problem_number" id="twentyRadio" checked>
                    <label class="form-check-label" for="twentyRadio">
                        20問
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="40" name="problem_number" id="fortyRadio">
                    <label class="form-check-label" for="fortyRadio">
                        40問
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="60" name="problem_number" id="sixtyRadio">
                    <label class="form-check-label" for="sixtyRadio">
                        60問
                    </label>
                </div>
            </div>
            <small class="text-muted">項数</small>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="2" name="term_number" id="twoRadio" checked>
                    <label class="form-check-label" for="twoRadio">
                        2項
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="3" name="term_number" id="threeRadio">
                    <label class="form-check-label" for="threeRadio">
                        3項
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="5" name="term_number" id="fourRadio">
                    <label class="form-check-label" for="fourRadio">
                        4項
                    </label>
                </div>
            </div>
            <small class="text-muted">枚数</small>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="5" name="paper_number" id="fivePaperRadio" checked>
                    <label class="form-check-label" for="fivePaperRadio">
                        5枚
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="10" name="paper_number" id="tenPaperRadio">
                    <label class="form-check-label" for="tenPaperRadio">
                        10枚
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="15" name="paper_number" id="fifteenPaperRadio">
                    <label class="form-check-label" for="fifteenPaperRadio">
                        15枚
                    </label>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="送信">
        </form>
</div>
{% endblock %}