{% extends 'math_print/base.html' %}

{% block title %}
更新履歴一覧
{% endblock %}

{% block hero_unit %}
<div class="p-3 p-sm-5 mb-4 bg-img hero_unit">
    <div class="container">
        <p class="text-dark">更新履歴一覧</p>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/09/15</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・小学4年生向けに<a href="{% url 'elementary_school4' %}#division_title">割り算</a>の問題を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/09/12</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・小学4年生向けに<a href="{% url 'elementary_school4' %}#calculation_of_big_number_title">1億を超える数の計算</a>の問題を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/09/03</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・小学3年生向けに<a href="{% url 'elementary_school3' %}#addition_and_subtraction_title">足し算・引き算</a>の問題を追加しました。</small>
            <br>
            <small class="lh-1">・小学3年生向けに<a href="{% url 'elementary_school3' %}#multiplication_title">掛け算</a>の問題を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/09/01</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・小学3年生向けに<a href="{% url 'elementary_school3' %}#division_title_title">割り算</a>の問題を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/08/29</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・小学5年生向けに<a href="{% url 'elementary_school5' %}#ratio_title">割合・百分率・歩合</a>の問題と解説を追加しました。</small>
            <br>
            <h3 class="text-muted h6">修正</h3>
            <small class="lh-1">・これまでに追加した説明の表現と表示を修正し、A4印刷用のページを追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/07/18</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・中学3年生向けの<a href="{% url 'junior_highschool3' %}#quadratic_equation_title">2次方程式</a>に新しいタイプの問題と解説を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/07/13</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・高校2年生向けに<a href="{% url 'highschool2' %}#logarithmic_equation_title">対数方程式</a>の問題と解説を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/06/22</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・中学1年生向けの<a href="{% url 'junior_highschool1' %}#specific_linear_equaton_title">形が決まった1次方程式</a>に解説を追加しました。</small>
            <br>
            <small class="lh-1">・<a href="{% url 'about_me' %}">このサイトについての説明</a>を追加しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/06/18</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・中学1年生向けの<a href="{% url 'junior_highschool1' %}#number_without_bracket_title">カッコがつかない正負の足し算引き算</a>に解説を追加しました。</small>
            <br>
            <h3 class="text-muted h6">修正</h3>
            <small class="lh-1">・小学5年生向けの<a href="{% url 'elementary_school5' %}#lcm_and_gcd_title">公倍数と公約数</a>において、ブラウザ上で解く際に問題が正しく選択できなかった問題を修正しました。</small>
        </div>
    </div>

    <div class="row border-bottom">
        <h2 class="text-muted h5">2023/06/10</h2>
        <div class="col md-6 p-3">
            <h3 class="text-muted h6">新規追加</h3>
            <small class="lh-1">・高校2年生向けに、<a href="{% url 'highschool2' %}#calculate_area_by_integration_between_quadratic_function_and_x_axis">積分で面積を求める</a>計算問題と解説を追加しました。</small>
            <br>
            <h3 class="text-muted h6">修正</h3>
            <small class="lh-1">・高校2年生向けの<a href="{% url 'highschool2' %}">指数計算</a>において、印刷時の表示が正しくなかった問題を修正しました。</small>
            <br>
            <small class="lh-1">・中学1年生向けの<a href="{% url 'junior_highschool1' %}">カッコがつかない正負の足し算引き算</a>が利用できなかった問題を修正しました。</small>
        </div>
    </div>

    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2023 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}