{% extends 'math_print/base.html' %}

{% block title %}
計算練習(小4)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

<script>
function checkAllStatus(target){
    let statuses = document.getElementsByName(target);

    for (let i =0; i < statuses.length; i++){
        if (!(statuses[i].checked)){
            statuses[i].checked = true;
        }
    }
}

function uncheckAllStatus(target){
    let statuses = document.getElementsByName(target);

    for (let i =0; i < statuses.length; i++){
        if (statuses[i].checked){
            statuses[i].checked = false;
        }
    }
}
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p id="calculation_of_big_number_title">1億を超える数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">利用する数の大きさ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="hundred_million" name="unit_of_used_number" id="calculation_of_big_number_billion_check" checked>
                        <label class="form-check-label" for="calculation_of_big_number_billion_check">
                            億
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="trillion" name="unit_of_used_number" id="calculation_of_big_number_trillion_check" checked>
                        <label class="form-check-label" for="calculation_of_big_number_trillion_check">
                            兆
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ten_quadrillion" name="unit_of_used_number" id="calculation_of_big_number_ten_quadrillion_check" checked>
                        <label class="form-check-label" for="calculation_of_big_number_ten_quadrillion_check">
                            京
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('unit_of_used_number')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('unit_of_used_number')" value="全部はずし">
                </div>
                <small class="text-muted">登場する問題</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="conversion_from_chinese_numerical_to_alphanumeric" name="problem_type" id="calculation_of_big_number_conversion_from_chinese_numerical_to_alphanumeric_check" checked>
                        <label class="form-check-label" for="calculation_of_big_number_conversion_from_chinese_numerical_to_alphanumeric_check">
                            漢数字→算用数字の変換
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="conversion_from_alphanumeric_to_chinese_numerical" name="problem_type" id="calculation_of_big_number_conversionfrom_alphanumeric_to_chinese_numerical_check" checked>
                        <label class="form-check-label" for="calculation_of_big_number_conversionfrom_alphanumeric_to_chinese_numerical_check">
                            算用数字→漢数字の変換
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="unite_numbers" name="problem_type" id="calculation_of_big_number_unite_numbers_check">
                        <label class="form-check-label" for="calculation_of_big_number_unite_numbers_check">
                            あわせた数
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="addition" name="problem_type" id="calculation_of_big_number_addition_check">
                        <label class="form-check-label" for="calculation_of_big_number_addition_check">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="subtraction" name="problem_type" id="calculation_of_big_number_subtraction_check">
                        <label class="form-check-label" for="calculation_of_big_number_subtraction_check">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="multiplication" name="problem_type" id="calculation_of_big_number_multiplication_check">
                        <label class="form-check-label" for="calculation_of_big_number_multiplication_check">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="division" name="problem_type" id="calculation_of_big_number_division_check">
                        <label class="form-check-label" for="calculation_of_big_number_division_check">
                            わり算
                        </label>
                    </div>
                    <br>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('problem_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('problem_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="FillInTheSquareFivePaperRadio" checked>
                        <label class="form-check-label" for="FillInTheSquareFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="FillInTheSquareTenPaperRadio">
                        <label class="form-check-label" for="FillInTheSquareTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="FillInTheSquareFifteenPaperRadio">
                        <label class="form-check-label" for="FillInTheSquareFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'calculation_of_big_number_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'calculation_of_big_number_display' %}">      
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col border-end border-bottom">
            <p id="division_title">割り算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">余りの有無</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="without_remainder" name="remainder_type" id="remainder_type_without_remainder" checked>
                        <label class="form-check-label" for="remainder_type_without_remainder">
                            余り無し
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="with_remainder" name="remainder_type" id="remainder_type_with_remainder" checked>
                        <label class="form-check-label" for="remainder_type_with_remainder">
                            余り有り
                        </label>
                    </div>
                </div>
                <small class="text-muted">割られる数の桁数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="digit_of_divided_number" id="digit_of_divided_number_1">
                        <label class="form-check-label" for="digit_of_divided_number_1">
                            1桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="digit_of_divided_number" id="digit_of_divided_number_2" checked>
                        <label class="form-check-label" for="digit_of_divided_number_2">
                            2桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="digit_of_divided_number" id="digit_of_divided_number_3" checked>
                        <label class="form-check-label" for="digit_of_divided_number_3">
                            3桁
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('digit_of_divided_number')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('digit_of_divided_number')" value="全部はずし">
                </div>
                <small class="text-muted">割る数の桁数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="digit_of_dividing_number" id="digit_of_dividing_number_1" >
                        <label class="form-check-label" for="digit_of_dividing_number_1">
                            1桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="digit_of_dividing_number" id="digit_of_dividing_number_2" checked>
                        <label class="form-check-label" for="digit_of_dividing_number_2">
                            2桁
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="digit_of_dividing_number" id="digit_of_dividing_number_3">
                        <label class="form-check-label" for="digit_of_dividing_number_3">
                            3桁
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('digit_of_dividing_number')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('digit_of_dividing_number')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="DivisionFor4thGradeFivePaperRadio" checked>
                        <label class="form-check-label" for="DivisionFor4thGradeFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="DivisionFor4thGradeTenPaperRadio">
                        <label class="form-check-label" for="DivisionFor4thGradeTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="DivisionFor4thGradeFifteenPaperRadio">
                        <label class="form-check-label" for="DivisionFor4thGradeFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'division_for_elementary_school4_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'division_for_elementary_school4_display' %}">      
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col border-end border-bottom">
            <p id="addition_and_subtraction_of_decimal_title">小数の足し算・引き算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">出題される計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="addition" name="calculation_type" id="calculation_type_addition" checked>
                        <label class="form-check-label" for="calculation_type_addition">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="subtraction" name="calculation_type" id="calculation_type_subtraciton" checked>
                        <label class="form-check-label" for="calculation_type_subtraciton">
                            引き算
                        </label>
                    </div>
                </div>
                <small class="text-muted">使われる小数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="number_of_decimal_places" id="number_of_decimal_places_1">
                        <label class="form-check-label" for="number_of_decimal_places_1">
                            小数第1位まで続く小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="number_of_decimal_places" id="number_of_decimal_places_2" checked>
                        <label class="form-check-label" for="number_of_decimal_places_2">
                            小数第2位まで続く小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="number_of_decimal_places" id="number_of_decimal_places_3">
                        <label class="form-check-label" for="number_of_decimal_places_3">
                            小数第3位まで続く小数
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('number_of_decimal_places')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('number_of_decimal_places')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="AdditionAndSubtractionOfDecimalFor4thGradeFivePaperRadio" checked>
                        <label class="form-check-label" for="AdditionAndSubtractionOfDecimalFor4thGradeFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="AdditionAndSubtractionOfDecimalFor4thGradeTenPaperRadio">
                        <label class="form-check-label" for="AdditionAndSubtractionOfDecimalFor4thGradeTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="AdditionAndSubtractionOfDecimalFor4thGradeFifteenPaperRadio">
                        <label class="form-check-label" for="AdditionAndSubtractionOfDecimalFor4thGradeFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'addition_and_subtraction_of_decimal_for_elementary_school4_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'addition_and_subtraction_of_decimal_for_elementary_school4_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p id="multiplication_of_decimal_title">小数のかけ算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">かけられる数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="0" name="multiplied_number_of_decimal_places" id="multiplied_number_of_decimal_places_0">
                        <label class="form-check-label" for="multiplied_number_of_decimal_places_0">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="multiplied_number_of_decimal_places" id="multiplied_number_of_decimal_places_1" checked>
                        <label class="form-check-label" for="multiplied_number_of_decimal_places_1">
                            小数第1位まで続く小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="multiplied_number_of_decimal_places" id="multiplied_number_of_decimal_places_2" checked>
                        <label class="form-check-label" for="multiplied_number_of_decimal_places_2">
                            小数第2位まで続く小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="multiplied_number_of_decimal_places" id="multiplied_number_of_decimal_places_3">
                        <label class="form-check-label" for="multiplied_number_of_decimal_places_3">
                            小数第3位まで続く小数
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('multiplied_number_of_decimal_places')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('multiplied_number_of_decimal_places')" value="全部はずし">
                </div>
                <small class="text-muted">かける数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="0" name="multiplying_number_of_decimal_places" id="multiplying_number_of_decimal_places_0" checked>
                        <label class="form-check-label" for="multiplying_number_of_decimal_places_0">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" name="multiplying_number_of_decimal_places" id="multiplying_number_of_decimal_places_1">
                        <label class="form-check-label" for="multiplying_number_of_decimal_places_1">
                            小数第1位まで続く小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="multiplying_number_of_decimal_places" id="multiplying_number_of_decimal_places_2">
                        <label class="form-check-label" for="multiplying_number_of_decimal_places_2">
                            小数第2位まで続く小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="multiplying_number_of_decimal_places" id="multiplying_number_of_decimal_places_3">
                        <label class="form-check-label" for="multiplying_number_of_decimal_places_3">
                            小数第3位まで続く小数
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('multiplying_number_of_decimal_places')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('multiplying_number_of_decimal_places')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="MultiplicationOfDecimalFor4thGradeFivePaperRadio" checked>
                        <label class="form-check-label" for="MultiplicationOfDecimalFor4thGradeFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="MultiplicationOfDecimalFor4thGradeTenPaperRadio">
                        <label class="form-check-label" for="MultiplicationOfDecimalFor4thGradeTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="MultiplicationOfDecimalFor4thGradeFifteenPaperRadio">
                        <label class="form-check-label" for="MultiplicationOfDecimalFor4thGradeFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'multiplication_of_decimal_for_elementary_school4_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'multiplication_of_decimal_for_elementary_school4_display' %}">      
            </form>
        </div>
    </div>

    <br>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2023 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}