{% extends 'math_print/base.html' %}

{% block title %}
計算練習(中3)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block added_cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block css %}
<style type="text/css">
    .fa-solid{
        color: gray;
        text-decoration: none;
    }
    .fa-pen-to-square{
        color: gray;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
<script>
    function checkAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (!(statuses[i].checked)){
                statuses[i].checked = true;
            }
        }
    }

    function uncheckAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (statuses[i].checked){
                statuses[i].checked = false;
            }
        }
    }

    function uncheckbyID(target_id){
        let checkbox = document.getElementById(target_id);
        checkbox.checked = false;
    }
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>式の展開・整理</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する係数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="EquationExpandIntegerCheck" checked>
                        <label class="form-check-label" for="EquationExpandIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="EquationExpandFracCheck">
                        <label class="form-check-label" for="EquationExpandFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">式のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_times_bx_plus_c" name="expand_equation_type" id="ax_times_bx_plus_c" checked>
                        <label class="form-check-label" for="ax_times_bx_plus_c">
                            \( ax(bx+c) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_ax_times_bx_plus_c" name="expand_equation_type" id="double_ax_times_bx_plus_c">
                        <label class="form-check-label" for="double_ax_times_bx_plus_c">
                            \( ax(bx+c) + dx(ex+f) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_ax_plus_b" name="expand_equation_type" id="double_ax_plus_b">
                        <label class="form-check-label" for="double_ax_plus_b">
                            \( (ax+b)(cx+d) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_ax_plus_by" name="expand_equation_type" id="double_ax_plus_by">
                        <label class="form-check-label" for="double_ax_plus_by">
                            \( (ax+by)(cx+dy) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="square_x_plus_a" name="expand_equation_type" id="square_x_plus_a">
                        <label class="form-check-label" for="square_x_plus_a">
                            \( (x+a)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="square_x_minus_a" name="expand_equation_type" id="square_x_minus_a">
                        <label class="form-check-label" for="square_x_minus_a">
                            \( (x-a)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x_plus_a_x_minus_a" name="expand_equation_type" id="x_plus_a_x_minus_a">
                        <label class="form-check-label" for="x_plus_a_x_minus_a">
                            \( (x+a)(x-a) \)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('expand_equation_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('expand_equation_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="EquationExpandFivePaperRadio" checked>
                        <label class="form-check-label" for="EquationExpandFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="EquationExpandTenPaperRadio">
                        <label class="form-check-label" for="EquationExpandTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="EquationExpandFifteenPaperRadio">
                        <label class="form-check-label" for="EquationExpandFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'expand_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'expand_equation_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>因数分解</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">使用する公式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax+ab=a(x+b)" name="factorization_type" id="factorization_ax+ab=a(x+b)" checked>
                        <label class="form-check-label" for="factorization_ax+ab=a(x+b)">
                            \( ax+ab=a(x+b) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2+2ax+a^2=(x+a)^2" name="factorization_type" id="factorization_x^2+2ax+a^2=(x+a)^2" checked>
                        <label class="form-check-label" for="factorization_x^2+2ax+a^2=(x+a)^2">
                            \( x^2+2ax+a^2=(x+a)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2-2ax+a^2=(x-a)^2" name="factorization_type" id="factorization_x^2-2ax+a^2=(x-a)^2" checked>
                        <label class="form-check-label" for="factorization_x^2-2ax+a^2=(x-a)^2">
                            \( x^2-2ax+a^2=(x-a)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2+(a+b)x+ab=(x+a)(x+b)" name="factorization_type" id="factorization_x^2+(a+b)x+ab=(x+a)(x+b)" checked>
                        <label class="form-check-label" for="factorization_x^2+(a+b)x+ab=(x+a)(x+b)">
                            \( x^2+(a+b)x+ab=(x+a)(x+b) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2-a^2=(x+a)(x-a)" name="factorization_type" id="factorization_x^2-a^2=(x+a)(x-a)" checked>
                        <label class="form-check-label" for="factorization_x^2-a^2=(x+a)(x-a)">
                            \( x^2-a^2=(x+a)(x-a) \)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('factorization_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('factorization_type')" value="全部はずし">
                </div>
                <small class="text-muted">登場する係数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="only_integer" name="coefficient_used_for_factorization" id="factorization_only_integer" checked>
                        <label class="form-check-label" for="factorization_only_integer">
                            整数のみ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="integer_and_frac" name="coefficient_used_for_factorization" id="factorization_integer_and_frac">
                        <label class="form-check-label" for="factorization_integer_and_frac">
                            整数・分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">印刷時の公式の表示</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="show_factorization_formula" name="show_formula" id="factorization_show_factorization_formula" checked>
                        <label class="form-check-label" for="factorization_show_factorization_formula">
                            表示する
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_show_factorization_formula" name="show_formula" id="factorization_not_show_factorization_formula">
                        <label class="form-check-label" for="factorization_not_show_factorization_formula"> 
                            表示しない
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="FactorizationFivePaperRadio" checked>
                        <label class="form-check-label" for="FactorizationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="FactorizationTenPaperRadio">
                        <label class="form-check-label" for="FactorizationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="FactorizationFifteenPaperRadio">
                        <label class="form-check-label" for="FactorizationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'factorization_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'factorization_display' %}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>平方根を求める・変形する</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">出題される問題</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="write_square_root_not_using_radical_sign_only_with_integer" name="problem_type" id="square_root_write_square_root_not_using_radical_sign_only_with_integer" onclick="uncheckbyID('square_root_write_square_root_not_using_radical_sign')" checked>
                        <label class="form-check-label" for="square_root_write_square_root_not_using_radical_sign_only_with_integer">
                            根号を使わずに平方根を求める(整数のみ)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="write_square_root_not_using_radical_sign" name="problem_type" id="square_root_write_square_root_not_using_radical_sign" onclick="uncheckbyID('square_root_write_square_root_not_using_radical_sign_only_with_integer')">
                        <label class="form-check-label" for="square_root_write_square_root_not_using_radical_sign">
                            根号を使わずに平方根を求める(小数・分数ふくむ)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="write_square_root_using_radical_sign_only_with_integer" name="problem_type" id="square_root_write_square_root_using_radical_sign_only_with_integer" onclick="uncheckbyID('square_root_write_square_root_using_radical_sign')" checked>
                        <label class="form-check-label" for="square_root_write_square_root_using_radical_sign_only_with_integer">
                            根号を使って平方根を求める(整数のみ)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="write_square_root_using_radical_sign" name="problem_type" id="square_root_write_square_root_using_radical_sign" onclick="uncheckbyID('square_root_write_square_root_using_radical_sign_only_with_integer')">
                        <label class="form-check-label" for="square_root_write_square_root_using_radical_sign">
                            根号を使って平方根を求める(小数ふくむ)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="put_coefficient_into_radical_sign" name="problem_type" id="square_root_put_coefficient_into_radical_sign" checked>
                        <label class="form-check-label" for="square_root_put_coefficient_into_radical_sign">
                            係数を根号の中に入れる
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="take_out_coefficient_from_radical_sign_inside" name="problem_type" id="square_root_take_out_coefficient_from_radical_sign_inside" checked>
                        <label class="form-check-label" for="square_root_take_out_coefficient_from_radical_sign_inside">
                            係数を根号の中から取り出す
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="rationalize" name="problem_type" id="square_root_rationalize" checked>
                        <label class="form-check-label" for="square_root_rationalize">
                            有理化
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('problem_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('problem_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="SquareRootFivePaperRadio" checked>
                        <label class="form-check-label" for="SquareRootFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="SquareRootTenPaperRadio">
                        <label class="form-check-label" for="SquareRootTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="SquareRootFifteenPaperRadio">
                        <label class="form-check-label" for="SquareRootFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'square_root_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'square_root_display' %}">
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p id="square_root_calculate">平方根を計算する</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">出題される計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="addition_and_subtraction_only" name="calculation_type" id="square_root_calculate_addition_and_subtraction_only" checked>
                        <label class="form-check-label" for="square_root_calculate_addition_and_subtraction_only">
                            和・差のみ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="multiplication_and_division_only" name="calculation_type" id="square_root_calculate_multiplication_and_division_only" checked>
                        <label class="form-check-label" for="square_root_calculate_multiplication_and_division_only">
                            積・商のみ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="using_expand_formula" name="calculation_type" id="square_root_calculate_using_expand_formula" checked>
                        <label class="form-check-label" for="square_root_calculate_using_expand_formula">
                            式の展開を使うもの
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('calculation_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('calculation_type')" value="全部はずし">
                </div>
                <small class="text-muted">和・差と積・商の項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="2" name="number_of_terms" id="square_root_calculate_number_of_terms_2" checked>
                        <label class="form-check-label" for="square_root_calculate_number_of_terms_2">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="3" name="number_of_terms" id="square_root_calculate_number_of_terms_3" checked>
                        <label class="form-check-label" for="square_root_calculate_number_of_terms_3">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="4" name="number_of_terms" id="square_root_calculate_number_of_terms_4" checked>
                        <label class="form-check-label" for="square_root_calculate_number_of_terms_4">
                            4項
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('number_of_terms')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('number_of_terms')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="SquareRootCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="SquareRootCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="SquareRootCalculateTenPaperRadio">
                        <label class="form-check-label" for="SquareRootCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="SquareRootCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="SquareRootCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'square_root_calculate_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'square_root_calculate_display' %}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p id="quadratic_equation_title">2次方程式</p>
            <a href="{% url 'quadratic_equation_explain' %}" class="fa-solid fa-pen-to-square" target="_blank" rel="noopener noreferrer"><small class="text-muted">解説を見る</small></a>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">使用する公式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2=k" name="quadratic_equation_type" id="quadratic_equation_x^2=k">
                        <label class="form-check-label" for="quadratic_equation_x^2=k">
                            \( x^2 = k \Leftrightarrow x = \pm \sqrt{k} \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2+2ax+a^2=(x+a)^2" name="quadratic_equation_type" id="quadratic_equation_x^2+2ax+a^2=(x+a)^2" checked>
                        <label class="form-check-label" for="quadratic_equation_x^2+2ax+a^2=(x+a)^2">
                            \( x^2+2ax+a^2=(x+a)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2-2ax+a^2=(x-a)^2" name="quadratic_equation_type" id="quadratic_equation_x^2-2ax+a^2=(x-a)^2" checked>
                        <label class="form-check-label" for="quadratic_equation_x^2-2ax+a^2=(x-a)^2">
                            \( x^2-2ax+a^2=(x-a)^2 \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2+(a+b)x+ab=(x+a)(x+b)" name="quadratic_equation_type" id="quadratic_equation_x^2+(a+b)x+ab=(x+a)(x+b)" checked>
                        <label class="form-check-label" for="quadratic_equation_x^2+(a+b)x+ab=(x+a)(x+b)">
                            \( x^2+(a+b)x+ab=(x+a)(x+b) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x^2-a^2=(x+a)(x-a)" name="quadratic_equation_type" id="quadratic_equation_x^2-a^2=(x+a)(x-a)" checked>
                        <label class="form-check-label" for="quadratic_equation_x^2-a^2=(x+a)(x-a)">
                            \( x^2-a^2=(x+a)(x-a) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="quadratic_formula" name="quadratic_equation_type" id="quadratic_formula">
                        <label class="form-check-label" for="quadratic_formula">
                            解の公式
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('quadratic_equation_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('quadratic_equation_type')" value="全部はずし">
                </div>
                <small class="text-muted">全体を割ったりかけたりする工程がある問題を含むか</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_organization_coefficient" name="organization_coefficient_or_not" id="not_organization_coefficient" checked>
                        <label class="form-check-label" for="not_organization_coefficient">
                            含まない
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="organization_coefficient" name="organization_coefficient_or_not" id="organization_coefficient">
                        <label class="form-check-label" for="organization_coefficient">
                            含む
                        </label>
                    </div>
                </div>
                <small class="text-muted">印刷時の公式の表示</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="show_factorization_formula" name="show_formula" id="quadratic_equation_show_factorization_formula" checked>
                        <label class="form-check-label" for="quadratic_equation_show_factorization_formula">
                            表示する
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_show_factorization_formula" name="show_formula" id="quadratic_equation_not_show_factorization_formula">
                        <label class="form-check-label" for="quadratic_equation_not_show_factorization_formula"> 
                            表示しない
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="quadraticEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="quadraticEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="quadraticEquationTenPaperRadio">
                        <label class="form-check-label" for="quadraticEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="quadraticEquationFifteenPaperRadio">
                        <label class="form-check-label" for="quadraticEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'quadratic_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'quadratic_equation_display' %}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>2次関数や変化の割合を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場するx座標</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="used_point_number_type" id="quadraticFunctionPointIntegerCheck" checked>
                        <label class="form-check-label" for="quadraticFunctionPointIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="used_point_number_type" id="quadraticFunctionPointFracCheck">
                        <label class="form-check-label" for="quadraticFunctionPointFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する2次の係数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="used_coefficient_number_type" id="quadraticFunctionCoefficientIntegerCheck" checked>
                        <label class="form-check-label" for="quadraticFunctionCoefficientIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="used_coefficient_number_type" id="quadraticFunctionCoefficientFracCheck">
                        <label class="form-check-label" for="quadraticFunctionCoefficientFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">与えられる情報と求めるもの</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="one_point_to_quadratic" name="problem_type" id="one_point_to_quadratic" checked>
                        <label class="form-check-label" for="one_point_to_quadratic">
                            1点の座標→2次関数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="two_x_values_and_change_rate_to_quadratic" name="problem_type" id="two_x_values_and_change_rate_to_quadratic">
                        <label class="form-check-label" for="two_x_values_and_change_rate_to_quadratic">
                            2つのx座標と変化の割合→2次関数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="two_x_values_and_quadratic_to_change_rate" name="problem_type" id="two_x_values_and_quadratic_to_change_rate">
                        <label class="form-check-label" for="two_x_values_and_quadratic_to_change_rate">
                            2つのx座標と2次関数→変化の割合
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="x_range_and_quadratic_to_max_and_min" name="problem_type" id="x_range_and_quadratic_to_max_or_min">
                        <label class="form-check-label" for="x_range_and_quadratic_to_max_or_min">
                            xの定義域と2次関数→最大値・最小値
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('problem_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('problem_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="quadraticFunctionFivePaperRadio" checked>
                        <label class="form-check-label" for="quadraticFunctionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="quadraticFunctionTenPaperRadio">
                        <label class="form-check-label" for="quadraticFunctionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="quadraticFunctionFifteenPaperRadio">
                        <label class="form-check-label" for="quadraticFunctionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'quadratic_function_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'quadratic_function_display' %}">
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2024 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}