{% extends 'math_print/base.html' %}

{% block script %}
<script>
function showAnswer(){
    var nodes = document.getElementsByClassName('answer');
    for(var i = 0; i < nodes.length; i++){
        nodes[i].style.visibility = 'visible';
    }
}
function refresh() {
  var url = location.origin;
  var pathname = location.pathname;
  var hash = location.hash;

  location = url + pathname + '?application_refresh=' + (Math.random() * 100000) + hash;
}
</script>

<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script>
  window.addEventListener("load", make);

  function drawLine(stage, start_x, start_y, end_x, end_y) {
      var graphic = new createjs.Graphics();
      graphic.beginStroke("#000000");
      graphic.moveTo(start_x, start_y);
      graphic.lineTo(end_x, end_y);
      graphic.endStroke();
      var shape = new createjs.Shape(graphic);
      stage.addChild(shape);

  }

  function drawLineWithAngle(stage, start_x, start_y, angle, radius=200) {
      // draw line detemined by angle
      var graphic = new createjs.Graphics();
      graphic.beginStroke("#000000");
      graphic.moveTo(start_x, start_y);
      var radian = angle * Math.PI / 180;
      var end_x = start_x + radius * Math.cos(radian);
      var end_y = start_y + radius * Math.sin(radian);
      graphic.lineTo(end_x, end_y);
      graphic.endStroke();
      var shape = new createjs.Shape(graphic);
      stage.addChild(shape);
  }

  function drawArc(stage, center_x, center_y, radius, start_angle, end_angle, anticlockwise=false) {
      var graphic = new createjs.Graphics();
      graphic.beginStroke("#000000");
      var start_radian = start_angle * Math.PI / 180;
      var end_radian = end_angle * Math.PI / 180;
      graphic.arc(center_x, center_y, radius, start_radian, end_radian, anticlockwise);
      var shape = new createjs.Shape(graphic);
      stage.addChild(shape);
  }
  
  function drawDegreeCharacter(stage, x, y, character) {
    //文字オブジェクトを作成する
    var text = new createjs.Text(character, "15px Arial", "#000000");
    //描画位置の指定
    text.x = x;
    text.y = y;
    stage.addChild(text);
  }

  function drawSector(stage, center_x, center_y, sector_radius, sector_angle) {
    var graphic = new createjs.Graphics();
    graphic.beginStroke("#ffffff");
    graphic.setStrokeStyle(0.1);
    graphic.beginFill("#bfe4ff");
    graphic.drawCircle(center_x, center_y, 0.01);
    var start_radian = 0;
    var end_radian = sector_angle * Math.PI / 180;
    graphic.arc(center_x, center_y, sector_radius, start_radian, end_radian);
    graphic.endStroke();
    graphic.endFill();
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawBaumkuchen(stage, inner_radius, outer_radius, central_angle) {
    // inner and outer radius is used only for ratio. outer radius for drawing is always 70.
    let inner_radius_number = Number(inner_radius);
    let outer_radius_number = Number(outer_radius);
    let inner_radius_value = 70 * (inner_radius_number / outer_radius_number);
    let outer_radius_value = 70;
    let central_angle_value = Number(central_angle);
    let graphic = new createjs.Graphics();
    // outer sector
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    graphic.setStrokeStyle(0.5);
    let start_x = 160;
    let start_y = 80;
    graphic.drawCircle(start_x, start_y, 0.01);
    let start_radian = (360 - central_angle_value) * Math.PI / 180;
    let end_radian = 360 * Math.PI / 180;
    graphic.arc(start_x, start_y, outer_radius_value, start_radian, end_radian);
    graphic.endFill();
    graphic.endStroke();
    //inner sector
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    graphic.setStrokeStyle(0.5);
    graphic.drawCircle(start_x, start_y, 0.01);
    graphic.arc(start_x, start_y, inner_radius_value, start_radian, end_radian);
    graphic.endStroke();
    graphic.endFill();
    //remained line
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.6);
    graphic.moveTo(start_x, start_y);
    graphic.lineTo(start_x + outer_radius_value, start_y);
    graphic.endStroke();
    // at last addition
    let shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawInRugby(stage){
    var graphic = new createjs.Graphics();
    graphic.beginStroke("#000000");
    // graphic.setStrokeStyle(2);
    var middle_x = 160;
    var middle_y = 80;
    var width = 160;
    var height = 160;
    var start_x = middle_x - (width / 2);
    var start_y = middle_y - (height / 2);
    graphic.drawRect(start_x, start_y, width, height);
    graphic.endStroke();
    graphic.beginStroke("#000000");
    // graphic.setStrokeStyle(2);
    graphic.beginFill("#bfe4ff");
    if (Math.random() > 0.5){
      var center_x1 = middle_x - (width / 2);
      var center_y1 = middle_y - (height / 2);
      var start_radian1 = 0 * Math.PI / 180;
      var end_radian1 = 90 * Math.PI / 180;
      var center_x2 = middle_x + (width / 2);
      var center_y2 = middle_y + (height / 2);
      var start_radian2 = 180 * Math.PI / 180;
      var end_radian2 = 270 * Math.PI / 180;
    }
    else {
      var center_x1 = middle_x - (width / 2);
      var center_y1 = middle_y + (height / 2);
      var start_radian1 = 270 * Math.PI / 180;
      var end_radian1 = 360 * Math.PI / 180;
      var center_x2 = middle_x + (width / 2);
      var center_y2 = middle_y - (height / 2);
      var start_radian2 = 90 * Math.PI / 180;
      var end_radian2 = 180 * Math.PI / 180;
    }
    graphic.arc(center_x1, center_y1, width, start_radian1, end_radian1);
    graphic.arc(center_x2, center_y2, width, start_radian2, end_radian2);
    graphic.endFill();
    graphic.endStroke();
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawOutRugby(stage) {
    var graphic = new createjs.Graphics();
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    var middle_x = 160;
    var middle_y = 80;
    var width = 160;
    var height = 160;
    var start_x = middle_x - (width / 2);
    var start_y = middle_y - (height / 2);
    graphic.drawRect(start_x, start_y, width, height);
    graphic.endStroke();
    graphic.endFill();
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    if (Math.random() > 0.5){
      var center_x1 = middle_x - (width / 2);
      var center_y1 = middle_y - (height / 2);
      var start_radian1 = 0 * Math.PI / 180;
      var end_radian1 = 90 * Math.PI / 180;
      var center_x2 = middle_x + (width / 2);
      var center_y2 = middle_y + (height / 2);
      var start_radian2 = 180 * Math.PI / 180;
      var end_radian2 = 270 * Math.PI / 180;
    }
    else {
      var center_x1 = middle_x - (width / 2);
      var center_y1 = middle_y + (height / 2);
      var start_radian1 = 270 * Math.PI / 180;
      var end_radian1 = 360 * Math.PI / 180;
      var center_x2 = middle_x + (width / 2);
      var center_y2 = middle_y - (height / 2);
      var start_radian2 = 90 * Math.PI / 180;
      var end_radian2 = 180 * Math.PI / 180;
    }
    graphic.arc(center_x1, center_y1, width, start_radian1, end_radian1);
    graphic.arc(center_x2, center_y2, width, start_radian2, end_radian2);
    graphic.endFill();
    graphic.endStroke();
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawInStar(stage) {
    var graphic = new createjs.Graphics();
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    graphic.setStrokeStyle(2);
    var start_x = 90;
    var start_y = 10;
    var width = 140;
    var height = 140;
    graphic.drawRect(start_x, start_y, width, height);
    graphic.endStroke();
    graphic.endFill();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#ffffff");
    // clockwise from up left
    var radius = 70;
    var center_x1 = 160 - width / 2;
    var center_y1 = 80 - height / 2;
    var start_radian1 = 0 * Math.PI / 180;
    var end_radian1 = 90 * Math.PI / 180;
    graphic.drawCircle(center_x1, center_y1, 0.01);
    graphic.arc(center_x1, center_y1, radius, start_radian1, end_radian1);
    graphic.endFill();
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#ffffff");
    var center_x2 = 160 + width / 2;
    var center_y2 = 80 - height / 2;
    var start_radian2 = 90 * Math.PI / 180;
    var end_radian2 = 180 * Math.PI / 180;
    graphic.drawCircle(center_x2, center_y2, 0.01);
    graphic.arc(center_x2, center_y2, radius, start_radian2, end_radian2);
    graphic.endFill();
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#ffffff");
    var center_x3 = 160 + width / 2;
    var center_y3 = 80 + height / 2;
    var start_radian3 = 180 * Math.PI / 180;
    var end_radian3 = 270 * Math.PI / 180;
    graphic.drawCircle(center_x3, center_y3, 0.01);
    graphic.arc(center_x3, center_y3, radius, start_radian3, end_radian3);
    graphic.endFill();
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#ffffff");
    var center_x4 = 160 - width / 2;
    var center_y4 = 80 + height / 2;
    var start_radian4 = 270 * Math.PI / 180;
    var end_radian4 = 360 * Math.PI / 180;
    graphic.drawCircle(center_x4, center_y4, 0.01);
    graphic.arc(center_x4, center_y4, radius, start_radian4, end_radian4);
    graphic.endFill();
    graphic.endStroke();
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawOutStar(stage) {
    var graphic = new createjs.Graphics();
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    graphic.setStrokeStyle(2);
    var start_x = 90;
    var start_y = 10;
    var width = 140;
    var height = 140;
    graphic.drawRect(start_x, start_y, width, height);
    graphic.endStroke();
    graphic.endFill();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#bfe4ff");
    // clockwise from up left
    var radius = 70;
    var center_x1 = 160 - width / 2;
    var center_y1 = 80 - height / 2;
    var start_radian1 = 0 * Math.PI / 180;
    var end_radian1 = 90 * Math.PI / 180;
    graphic.drawCircle(center_x1, center_y1, 0.01);
    graphic.arc(center_x1, center_y1, radius, start_radian1, end_radian1);
    graphic.endFill();
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#bfe4ff");
    var center_x2 = 160 + width / 2;
    var center_y2 = 80 - height / 2;
    var start_radian2 = 90 * Math.PI / 180;
    var end_radian2 = 180 * Math.PI / 180;
    graphic.drawCircle(center_x2, center_y2, 0.01);
    graphic.arc(center_x2, center_y2, radius, start_radian2, end_radian2);
    graphic.endFill();
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#bfe4ff");
    var center_x3 = 160 + width / 2;
    var center_y3 = 80 + height / 2;
    var start_radian3 = 180 * Math.PI / 180;
    var end_radian3 = 270 * Math.PI / 180;
    graphic.drawCircle(center_x3, center_y3, 0.01);
    graphic.arc(center_x3, center_y3, radius, start_radian3, end_radian3);
    graphic.endFill();
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.beginFill("#bfe4ff");
    var center_x4 = 160 - width / 2;
    var center_y4 = 80 + height / 2;
    var start_radian4 = 270 * Math.PI / 180;
    var end_radian4 = 360 * Math.PI / 180;
    graphic.drawCircle(center_x4, center_y4, 0.01);
    graphic.arc(center_x4, center_y4, radius, start_radian4, end_radian4);
    graphic.endFill();
    graphic.endStroke();
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawInSeedAndFlower(stage) {
    var graphic = new createjs.Graphics();
    // out sector
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    graphic.setStrokeStyle(0.5);
    var center_x = 80;
    var center_y = 150;
    graphic.drawCircle(center_x, center_y, 0.01);
    var radius = 130;
    var start_radian = 270 * Math.PI / 180;
    var end_radian = 360 * Math.PI / 180;
    graphic.arc(center_x, center_y, radius, start_radian, end_radian);
    graphic.endFill();
    graphic.endStroke();
    // remained line
    graphic.setStrokeStyle(0.5);
    graphic.beginStroke("#000000");
    graphic.moveTo(center_x, center_y);
    var end_x = center_x + radius;
    var end_y = center_y;
    graphic.lineTo(end_x, end_y);
    graphic.endStroke();
    // bottom right half circle
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    graphic.setStrokeStyle(0.5);
    var center_x2 = (center_x + end_x) / 2;
    var center_y2 = (center_y + end_y) / 2;
    graphic.drawCircle(center_x2, center_y2, 0.01);
    var radius2 = radius / 2;
    var start_radian2 = 180 * Math.PI / 180;
    var end_radian2 = 360 * Math.PI / 180;
    graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2);
    graphic.endFill();
    graphic.endStroke();
    // remained line of bottom right half circle
    graphic.beginStroke("#000000");
    graphic.moveTo(center_x2, center_y2);
    var end_x2 = center_x2 + radius2;
    var end_y2 = center_y2;
    graphic.lineTo(end_x2, end_y2);
    graphic.endStroke();
    // up left half circle
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    graphic.setStrokeStyle(0.5);
    var center_x3 = center_x;
    var center_y3 = (center_y + (center_y - radius)) / 2;
    graphic.drawCircle(center_x3, center_y3, 0.01);
    var radius3 = radius / 2;
    var start_radian3 = 270 * Math.PI / 180;
    var end_radian3 = 450 * Math.PI / 180;
    graphic.arc(center_x3, center_y3, radius3, start_radian3, end_radian3);
    graphic.endFill();
    graphic.endStroke();
    //remained line of up left half circle
    graphic.beginStroke("#000000");
    graphic.moveTo(center_x3, center_y3);
    var end_x3 = center_x3;
    var end_y3 = center_y3 + radius3;
    graphic.lineTo(end_x3, end_y3);
    graphic.endStroke();
    // remained arc area
    //// arc from up left in little square
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    graphic.setStrokeStyle(0.5);
    var center_x4 = center_x3;
    var center_y4 = center_y3;
    var radius4 = radius3;
    var start_radian4 = 0 * Math.PI / 180;
    var end_radian4 = 90 * Math.PI / 180;
    graphic.arc(center_x4, center_y4, radius4, start_radian4, end_radian4);
    //// arc from bottom right in little square
    var center_x5 = center_x2;
    var center_y5 = center_y2;
    var radius5 = radius2;
    var start_radian5 = 180 * Math.PI / 180;
    var end_radian5 = 270 * Math.PI / 180;
    graphic.arc(center_x5, center_y5, radius5, start_radian5, end_radian5);
    // final addition
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function drawOutSeedAndFlower(stage) {
    var graphic = new createjs.Graphics();
    // out sector
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    graphic.setStrokeStyle(0.5);
    var center_x = 80;
    var center_y = 150;
    graphic.drawCircle(center_x, center_y, 0.01);
    var radius = 130;
    var start_radian = 270 * Math.PI / 180;
    var end_radian = 360 * Math.PI / 180;
    graphic.arc(center_x, center_y, radius, start_radian, end_radian);
    graphic.endFill();
    graphic.endStroke();
    // remained line
    graphic.setStrokeStyle(0.5);
    graphic.beginStroke("#000000");
    graphic.moveTo(center_x, center_y);
    var end_x = center_x + radius;
    var end_y = center_y;
    graphic.lineTo(end_x, end_y);
    graphic.endStroke();
    // bottom right half circle
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    graphic.setStrokeStyle(0.5);
    var center_x2 = (center_x + end_x) / 2;
    var center_y2 = (center_y + end_y) / 2;
    graphic.drawCircle(center_x2, center_y2, 0.01);
    var radius2 = radius / 2;
    var start_radian2 = 180 * Math.PI / 180;
    var end_radian2 = 360 * Math.PI / 180;
    graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2);
    graphic.endFill();
    graphic.endStroke();
    // remained line of bottom right half circle
    graphic.beginStroke("#000000");
    graphic.moveTo(center_x2, center_y2);
    var end_x2 = center_x2 + radius2;
    var end_y2 = center_y2;
    graphic.lineTo(end_x2, end_y2);
    graphic.endStroke();
    // up left half circle
    graphic.beginStroke("#000000");
    graphic.beginFill("#bfe4ff");
    graphic.setStrokeStyle(0.5);
    var center_x3 = center_x;
    var center_y3 = (center_y + (center_y - radius)) / 2;
    graphic.drawCircle(center_x3, center_y3, 0.01);
    var radius3 = radius / 2;
    var start_radian3 = 270 * Math.PI / 180;
    var end_radian3 = 450 * Math.PI / 180;
    graphic.arc(center_x3, center_y3, radius3, start_radian3, end_radian3);
    graphic.endFill();
    graphic.endStroke();
    //remained line of up left half circle
    graphic.beginStroke("#000000");
    graphic.moveTo(center_x3, center_y3);
    var end_x3 = center_x3;
    var end_y3 = center_y3 + radius3;
    graphic.lineTo(end_x3, end_y3);
    graphic.endStroke();
    // remained arc area
    //// arc from up left in little square
    graphic.beginStroke("#000000");
    graphic.beginFill("#ffffff");
    graphic.setStrokeStyle(0.5);
    var center_x4 = center_x3;
    var center_y4 = center_y3;
    var radius4 = radius3;
    var start_radian4 = 0 * Math.PI / 180;
    var end_radian4 = 90 * Math.PI / 180;
    graphic.arc(center_x4, center_y4, radius4, start_radian4, end_radian4);
    //// arc from bottom right in little square
    var center_x5 = center_x2;
    var center_y5 = center_y2;
    var radius5 = radius2;
    var start_radian5 = 180 * Math.PI / 180;
    var end_radian5 = 270 * Math.PI / 180;
    graphic.arc(center_x5, center_y5, radius5, start_radian5, end_radian5);
    // final addition
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function addRadiusAndCentralAngleToSector(stage, radius, central_angle) {
    // add radius
    drawDegreeCharacter(stage, 160+13, 80+5, radius+" cm");
    //// guide line
    drawArc(stage, 190, 80, 30, 0, 3);
    drawArc(stage, 190, 80, 30, 6, 9);
    drawArc(stage, 190, 80, 30, 12, 15);
    drawArc(stage, 190, 80, 30, 18, 21);
    drawArc(stage, 190, 80, 30, 24, 27);
    drawArc(stage, 190, 80, 30, 30, 33);
    ////// reverse
    drawArc(stage, 190, 80, 30, 147, 150);
    drawArc(stage, 190, 80, 30, 153, 156);
    drawArc(stage, 190, 80, 30, 159, 162);
    drawArc(stage, 190, 80, 30, 165, 168);
    drawArc(stage, 190, 80, 30, 171, 174);
    drawArc(stage, 190, 80, 30, 177, 180);
    // add central_angle
    drawArc(stage, 160, 80, 10, 0, central_angle);
    drawDegreeCharacter(stage, 160-40, 80+10, central_angle+"°");
    stage.update();
  }

  function addOneSideOfSquare(stage, one_side_of_square){
    // not need String? because is naturally string, may be.
    // var one_side_of_square = String(one_side_of_square);
    drawDegreeCharacter(stage, 250, 80, "1辺\n" + one_side_of_square + "cm\nの正方形");
    stage.update();
  }

  function addRadiusToQuarterCircle(stage, radius_of_quarter_circle) {
    drawDegreeCharacter(stage, 240, 50, "半径" + radius_of_quarter_circle + "cm\n中心角90°\nのおうぎ形");
    stage.update();
  }

  function addBothRadiusAndCentralAngleToBaumkuchen(stage, inner_radius, outer_radius, central_angle) {
    // all value is string. assert value like unicode sandwich.
    function calculateCircleCenter(x1, y1, x2, y2, x3, y3) {
      let alpha = x1 - x2;
      let beta = y1 - y2;
      let gamma = x2 - x3;
      let delta = y2 - y3;
      let length1 = (x1 ** 2) + (y1 ** 2);
      let length2 = (x2 ** 2) + (y2 ** 2);
      let length3 = (x3 ** 2) + (y3 ** 2);
      let length1_and_length2_diff = (length1 - length2);
      let length2_and_length3_diff = (length2 - length3);
      let center_x = (1 / (2 * (alpha * delta - beta * gamma))) * ((delta * length1_and_length2_diff) + (-beta * length2_and_length3_diff));
      let center_y = (1 / (2 * (alpha * delta - beta * gamma))) * ((-gamma * length1_and_length2_diff) + (alpha * length2_and_length3_diff));
      radius = Math.sqrt(((x1 - center_x) ** 2) + ((y1 - center_y) ** 2));
      let center_coordinate_and_radius_array = [center_x, center_y, radius];
      return center_coordinate_and_radius_array;
    }
    function calculateDistanceFromPointToLine(x1, y1, x2, y2, x_point, y_point) {
      // calculate and return length from a point to line.
      // x1, y1, x2, y2 are coordinates of points passed by line.
      // a, b are points are coordinates of points as standard.
      // ax + by + c = 0
      let a = y2 - y1;
      let b = x1 - x2;
      let c = (x2 - x1) * y1 - (y2 - y1) * x1;
      let denominator_of_formula = Math.sqrt((a ** 2) + (b ** 2));
      let numerator_of_formula = Math.abs(a * x_point + b * y_point + c);
      let distance = numerator_of_formula / denominator_of_formula;
      return distance;
    }
    let inner_radius_str = String(inner_radius);
    drawDegreeCharacter(stage, 180, 90, inner_radius_str + "cm");
    // outer radius drawing
    //// calculate circle radius and center by three points: (160, 80), (230, 80), (195, 100)
    let graphic = new createjs.Graphics();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    // var center_x = 195;
    // var center_y = 59.375;
    // var radius = 40.025;
    let canvas_center_x = 160;
    let canvas_center_y = 80;
    let outer_reach_x = 160 + 70;
    let outer_reach_y = canvas_center_y;
    let outer_character_x = (canvas_center_x + outer_reach_x) / 2;
    let outer_character_y = (canvas_center_y + outer_reach_y) / 2 - 50;
    let [center_x1, center_y1, radius1] = calculateCircleCenter(canvas_center_x, canvas_center_y, outer_reach_x, outer_reach_y, outer_character_x, outer_character_y);
    // caclulate start_radian, end_radian
    let radian_from_center_x1_to_outer_reach = Math.asin(Math.abs(center_y1 - outer_reach_y) / radius1);
    let start_radian1 = radian_from_center_x1_to_outer_reach;
    let start_angle1 = start_radian1 * 180 / Math.PI;
    let end_radian1 = start_radian1 + (30 * Math.PI / 180);
    let end_angle1 = end_radian1 * 180 / Math.PI;
    graphic.arc(center_x1, center_y1, radius1, start_radian1, end_radian1);
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    let radian_from_center_x1_to_canvas_center = radian_from_center_x1_to_outer_reach;
    let start_radian2 = (180 * Math.PI / 180) - radian_from_center_x1_to_canvas_center - (30 * Math.PI / 180);
    let start_angle2 = start_radian2 * 180 / Math.PI;
    let end_radian2 = (180 * Math.PI / 180) - radian_from_center_x1_to_canvas_center;
    let end_angle2 = end_radian2 * 180 / Math.PI;
    graphic.arc(center_x1, center_y1, radius1, start_radian2, end_radian2);
    graphic.endStroke();
    // inner guide
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    let inner_radius_number = Number(inner_radius);
    console.log("inner_radius_number: " + inner_radius_number);
    let outer_radius_number = Number(outer_radius);
    console.log("outer_radius_number: " + outer_radius_number);
    let inner_reach_x = canvas_center_x + 70 * (inner_radius_number / outer_radius_number) * Math.cos(-30 * Math.PI / 180);
    console.log("inner_reach_x: " + inner_reach_x);
    let inner_reach_y = canvas_center_y + 70 * (inner_radius_number / outer_radius_number) * Math.sin(-30 * Math.PI / 180);
    console.log("inner_reach_y: " + inner_reach_y);
    let inner_character_x = canvas_center_x + 70 * (inner_radius_number / outer_radius_number) * (1 / 2) * Math.cos(-50 * Math.PI / 180);
    console.log("inner_charcter_x: " + inner_character_x);
    let inner_character_y = canvas_center_y + 70 * (inner_radius_number / outer_radius_number) * (1 / 2) * Math.sin(-50 * Math.PI / 180);
    console.log("inner_character_y: " + inner_character_y);
    let [center_x2, center_y2, radius2] = calculateCircleCenter(canvas_center_x, canvas_center_y, inner_reach_x, inner_reach_y, inner_character_x, inner_character_y);
    console.log("center_x2: " + center_x2);
    console.log("center_y2: " + center_y2);
    console.log("radius2: " + radius2);
    // graphic.drawCircle(center_x2, center_y2, radius2);
    let distance_from_center2_to_radius_line = calculateDistanceFromPointToLine(inner_reach_x, inner_reach_y, canvas_center_x, canvas_center_y, center_x2, center_y2);
    console.log("distance_from_center2_to_radius_line: " + distance_from_center2_to_radius_line);
    let radian_from_center2_to_inner_reach_point = Math.acos(distance_from_center2_to_radius_line / radius2);
    console.log("radian_from_center2_to_inner_reach_point: " + radian_from_center2_to_inner_reach_point);
    let angle_from_center2_to_inner_reach_point = radian_from_center2_to_inner_reach_point * 180 / Math.PI;
    console.log("angle_from_center2_to_inner_reach_point: " + angle_from_center2_to_inner_reach_point);
    let start_angle3 = 180 + (60 - angle_from_center2_to_inner_reach_point);
    console.log("start_angle3: " + start_angle3);
    let start_radian3 = start_angle3 * Math.PI / 180;
    let end_radian3 = start_radian3 + (30 * Math.PI / 180);
    graphic.arc(center_x2, center_y2, radius2, start_radian3, end_radian3);
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    let start_angle4 = start_angle3 + 2 * angle_from_center2_to_inner_reach_point;
    console.log("start_angle4: " + start_angle4);
    let start_radian4 = start_angle4 * Math.PI / 180;
    let end_angle4 = start_angle4 + (30 * Math.PI / 180);
    console.log("end_angle4: " + end_angle4);
    let end_radian4 = end_angle4 * Math.PI / 180;
    graphic.arc(center_x2, center_y2, radius2, start_radian4, end_radian4);
    graphic.endStroke();
    //addition line
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    graphic.setStrokeDash([3, 3], 0);
    graphic.moveTo(160, 80);
    graphic.lineTo(inner_reach_x, inner_reach_y);
    graphic.endStroke();
    // graphic.arc(center_x2, center_y2, radius2, start_radian1, end_radian1);
    graphic.endStroke();
    graphic.beginStroke("#000000");
    graphic.setStrokeStyle(0.5);
    // graphic.arc(center_x2, center_y2, radius2, start_radian2, end_radian2);
    graphic.endStroke();
    // central angle drawing
    // final addition
    var shape = new createjs.Shape(graphic);
    stage.addChild(shape);
    stage.update();
  }

  function draw() {
    {% for information_tuple in math_problem_tuple_list %}
    var container_div = document.createElement("div");
    container_div.className = "container-fluid";

    var row_container = document.createElement("div");
    row_container.className = "row";

    var left_div = document.createElement("div");
    left_div.className = "col-md-6";

    var left_canvas = document.createElement('canvas');
    var left_canvas_id = "left_canvas" + {{ forloop.counter }};
    left_canvas.id = left_canvas_id;
    left_canvas.width = 320;
    left_canvas.height = 160;

    var right_div = document.createElement("div");
    right_div.className = "col-md-6";

    var right_canvas = document.createElement('canvas');
    var right_canvas_id = "right_canvas" + {{ forloop.counter }};
    right_canvas.id = right_canvas_id;
    right_canvas.width = 320;
    right_canvas.height = 160;

    // insert part
    left_div.appendChild(left_canvas);    
    var left_answer_p = document.createElement('p');
    left_answer_p.style = "visibility:hidden";
    left_answer_p.className = "answer";
    var left_answer = document.createTextNode("{{ information_tuple.0.latex_answer }}");
    left_answer_p.appendChild(left_answer);
    left_div.appendChild(left_answer_p);


    right_div.appendChild(right_canvas);

    var right_answer_p = document.createElement('p');
    right_answer_p.style = "visibility:hidden";
    right_answer_p.className = "answer";
    var right_answer = document.createTextNode("{{ information_tuple.1.latex_answer }}");
    right_answer_p.appendChild(right_answer);
    right_div.appendChild(right_answer_p);

    row_container.appendChild(left_div);
    row_container.appendChild(right_div);
    container_div.appendChild(row_container);
    document.body.appendChild(container_div);

    var left_stage = new createjs.Stage(left_canvas_id);
    var selected_problem_type = "{{ information_tuple.0.selected_problem_type }}";

    if (selected_problem_type == "standard_sector") {
      var left_radius = Number({{ information_tuple.0.sector.radius }});
      var left_central_angle = Number({{ information_tuple.0.sector.central_angle }});
      drawSector(left_stage, 160, 80, 60, left_central_angle);
      addRadiusAndCentralAngleToSector(left_stage, "{{ information_tuple.0.sector.radius }}", "{{ information_tuple.0.sector.central_angle }}");
    }
    else if (selected_problem_type == "baumkuchen") {
      var inner_radius = "{{ information_tuple.0.baumkuchen.inner_radius }}";
      var outer_radius = "{{ information_tuple.0.baumkuchen.outer_radius }}";
      var central_angle = "{{ information_tuple.0.baumkuchen.central_angle }}";
      drawBaumkuchen(left_stage, inner_radius, outer_radius, central_angle);
      addBothRadiusAndCentralAngleToBaumkuchen(left_stage, inner_radius, outer_radius, central_angle);
    }
    else if (selected_problem_type == "in_star") {
      var one_side_of_square = "{{ information_tuple.0.one_side_of_square_str }}";
      drawInStar(left_stage);
      addOneSideOfSquare(left_stage, one_side_of_square);
    }
    else if (selected_problem_type == "out_star") {
      var one_side_of_square = "{{ information_tuple.0.one_side_of_square_str }}";
      drawOutStar(left_stage);
      addOneSideOfSquare(left_stage, one_side_of_square);
    }
    else if (selected_problem_type == "in_rugby") {
      var one_side_of_square = "{{ information_tuple.0.one_side_of_square_str }}";
      drawInRugby(left_stage);
      addOneSideOfSquare(left_stage, one_side_of_square);
    }
    else if (selected_problem_type == "out_rugby") {
      var one_side_of_square = "{{ information_tuple.0.one_side_of_square_str }}";
      drawOutRugby(left_stage);
      addOneSideOfSquare(left_stage, one_side_of_square);
    }
    else if (selected_problem_type == "in_seed_and_flower") {
      var radius_of_quarter_circle = "{{ information_tuple.0.radius_of_quarter_circle_str }}";
      drawInSeedAndFlower(left_stage);
      addRadiusToQuarterCircle(left_stage, radius_of_quarter_circle);
    }
    else if (selected_problem_type == "out_seed_and_flower") {
      var radius_of_quarter_circle = "{{ information_tuple.0.radius_of_quarter_circle_str }}";
      drawOutSeedAndFlower(left_stage);
      addRadiusToQuarterCircle(left_stage, radius_of_quarter_circle);
    }

    var right_stage = new createjs.Stage(right_canvas_id);
    var selected_problem_type = "{{ information_tuple.1.selected_problem_type }}";
    
    if (selected_problem_type == "standard_sector") {
      var right_radius = Number({{ information_tuple.1.sector.radius }});
      var right_central_angle = Number({{ information_tuple.1.sector.central_angle }});
      drawSector(right_stage, 160, 80, 60, right_central_angle);
      addRadiusAndCentralAngleToSector(right_stage, "{{ information_tuple.1.sector.radius }}", "{{ information_tuple.1.sector.central_angle }}");
    }
    else if (selected_problem_type == "baumkuchen") {
      var inner_radius = "{{ information_tuple.1.baumkuchen.inner_radius }}";
      var outer_radius = "{{ information_tuple.1.baumkuchen.outer_radius }}";
      var central_angle = "{{ information_tuple.1.baumkuchen.central_angle }}";
      drawBaumkuchen(right_stage, inner_radius, outer_radius, central_angle);
      addBothRadiusAndCentralAngleToBaumkuchen(right_stage, inner_radius, outer_radius, central_angle);
    }
    else if (selected_problem_type == "in_star") {
      var one_side_of_square = "{{ information_tuple.1.one_side_of_square_str }}";
      drawInStar(right_stage);
      addOneSideOfSquare(right_stage, one_side_of_square);
    }
    else if (selected_problem_type == "out_star") {
      var one_side_of_square = "{{ information_tuple.1.one_side_of_square_str }}";
      drawOutStar(right_stage);
      addOneSideOfSquare(right_stage, one_side_of_square);
    }
    else if (selected_problem_type == "in_rugby") {
      var one_side_of_square = "{{ information_tuple.1.one_side_of_square_str }}";
      drawInRugby(right_stage);
      addOneSideOfSquare(right_stage, one_side_of_square);
    }
    else if (selected_problem_type == "out_rugby") {
      var one_side_of_square = "{{ information_tuple.1.one_side_of_square_str }}";
      drawOutRugby(right_stage);
      addOneSideOfSquare(right_stage, one_side_of_square);
    }
    else if (selected_problem_type == "in_seed_and_flower") {
      var radius_of_quarter_circle = "{{ information_tuple.1.radius_of_quarter_circle_str }}";
      drawInSeedAndFlower(right_stage);
      addRadiusToQuarterCircle(right_stage, radius_of_quarter_circle);
    }
    else if (selected_problem_type == "out_seed_and_flower") {
      var radius_of_quarter_circle = "{{ information_tuple.1.radius_of_quarter_circle_str }}";
      drawOutSeedAndFlower(right_stage);
      addRadiusToQuarterCircle(right_stage, radius_of_quarter_circle);
    }
    {% endfor %}
    MathJax.typeset();
  }

  function add_other_parts_to_page() {
  
    // problem sentence phase
    var problem_p = document.createElement('p');
    problem_p.innerHTML = "色がついた部分の面積を求めよ。";
    //// problem sentence add phase
    document.body.prepend(problem_p);
    // hero unit phase
    var hero_outer_div = document.createElement('div');
    hero_outer_div.setAttribute("class", "p-3 p-sm-5 mb-4 bg-img hero_unit");
    var hero_inner_div = document.createElement('div');
    hero_inner_div.setAttribute("class", "container");
    var h1_in_hero = document.createElement('h1');
    h1_in_hero.setAttribute("class", "display-4");
    h1_in_hero.innerHTML = "ようこそ!";
    var p_in_hero = document.createElement('p');
    p_in_hero.setAttribute("class", "text-dark");
    p_in_hero.innerHTML = "面積を求める";
    //// hero unit add phase
    hero_inner_div.appendChild(h1_in_hero);
    hero_inner_div.appendChild(p_in_hero);
    hero_outer_div.appendChild(hero_inner_div);
    document.body.prepend(hero_outer_div);
    // button unit phase
    var button_div = document.createElement('div');
    button_div.setAttribute("class", "d-grid gap-3 col-6 mx-auto");
    var show_answer_button = document.createElement('button');
    show_answer_button.setAttribute("class", "btn btn-outline-success");
    show_answer_button.setAttribute("type", "button");
    show_answer_button.setAttribute("onclick", "showAnswer()");
    show_answer_button.innerHTML = "答えを表示する";
    var reload_button = document.createElement('button');
    reload_button.setAttribute("class", "btn btn-outline-success");
    reload_button.setAttribute("type", "button");
    reload_button.setAttribute("onclick", "location.reload(false)");
    reload_button.innerHTML = "もう一度解く";
    var problem_choice_a = document.createElement("a");
    problem_choice_a.setAttribute("href", "{% url 'elementary_school5' %}");
    problem_choice_a.setAttribute("class", "btn btn-primary");
    problem_choice_a.setAttribute("type", "button");
    problem_choice_a.innerHTML = "問題選択へ戻る";
    var top_a = document.createElement("a");
    top_a.setAttribute("href", "{% url 'index' %}");
    top_a.setAttribute("class", "btn btn-primary");
    top_a.setAttribute("type", "button");
    top_a.innerHTML = "トップへ戻る";
    //// buttonunit add phase
    button_div.appendChild(show_answer_button);
    button_div.appendChild(reload_button);
    button_div.appendChild(problem_choice_a);
    button_div.appendChild(top_a);
    document.body.appendChild(button_div);
    // footer phase
    var footer = document.createElement("footer");
    footer.setAttribute("class", "container-fluid print_footer");
    var small = document.createElement("small");
    var footer_a = document.createElement("a");
    footer_a.setAttribute("href", "#");
    footer_a.innerHTML = "© 2022 有明学習振興";
    //// footer add phase
    small.appendChild(footer_a);
    footer.appendChild(small);
    document.body.appendChild(footer);
    // top page remove and add phase
    var navdiv = document.getElementById("top_page_nav");
    var new_navdiv = navdiv.cloneNode(true);
    navdiv.remove();
    document.body.prepend(new_navdiv);
  }

  function make() {
    draw();
    add_other_parts_to_page();
  }

</script>
{% endblock %}

{% block css %}
{% endblock %}

{% block title %}
面積を求める
{% endblock %}

{% block body %}

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
{% endblock %}