{% extends 'math_print/base.html' %}

{% block title %}
四則演算練習(中2)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>連立方程式</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する係数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="simutaneousEquationIntegerCheck" checked>
                        <label class="form-check-label" for="simutaneousEquationIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="simultaneousEquationDecimalCheck">
                        <label class="form-check-label" for="simultaneousEquationDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="simultaneousEquationFracCheck">
                        <label class="form-check-label" for="simultaneousEquationFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">方程式のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_plus_by_equal_c_only_integer" name="simultaneous_equation_type" id="ax_plus_by_equal_c_only_integer" checked>
                        <label class="form-check-label" for="ax_plus_by_equal_c_only_integer">
                            ax+by=c(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_plus_by_equal_c_all_number" name="simultaneous_equation_type" id="ax_plus_by_equal_c_all_number">
                        <label class="form-check-label" for="ax_plus_by_equal_c_all_number">
                            ax+by=c(分数解もふくむ)
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="simultaneousEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="simultaneousEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="simultaneousEquationTenPaperRadio">
                        <label class="form-check-label" for="simultaneousEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="simultaneousEquationFifteenPaperRadio">
                        <label class="form-check-label" for="simultaneousEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'simultaneous_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'simultaneous_equation_display' %}">      
            </form>
        </div>
        <div class="col">
            <p>文字計算</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">登場する文字</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" name="character_to_use" id="oneCharacterRadio" checked>
                            <label class="form-check-label" for="oneCharacterRadio">
                                1種類(x)
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="2" name="character_to_use" id="twoCharacterRadio">
                            <label class="form-check-label" for="twoCharacterRadio">
                                2種類(x,y)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="plus" name="operator_to_use" id="characterPlusCheck" checked>
                            <label class="form-check-label" for="characterPlusCheck">
                                足し算
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="minus" name="operator_to_use" id="characterMinusCheck" checked>
                            <label class="form-check-label" for="characterMinusCheck">
                                引き算
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="times" name="operator_to_use" id="characterTimesCheck">
                            <label class="form-check-label" for="characterTimesCheck">
                                かけ算
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="divided" name="operator_to_use" id="characterDividedCheck">
                            <label class="form-check-label" for="characterDividedCheck">
                                割り算
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">使用する数のタイプ</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="characterIntegerCheck" checked>
                            <label class="form-check-label" for="characterIntegerCheck">
                                整数
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="characterDecimalCheck">
                            <label class="form-check-label" for="characterDecimalCheck">
                                小数
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="characterFracCheck">
                            <label class="form-check-label" for="characterFracCheck">
                                分数
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">項数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="3" name="term_number" id="characterThreeRadio" checked>
                            <label class="form-check-label" for="characterThreeRadio">
                                3項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="4" name="term_number" id="characterFourRadio">
                            <label class="form-check-label" for="characterFourRadio">
                                4項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="term_number" id="characterFiveRadio">
                            <label class="form-check-label" for="characterFiveRadio">
                                5項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="6" name="term_number" id="characterSixRadio">
                            <label class="form-check-label" for="characterSixRadio">
                                6項
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="characterFivePaperRadio" checked>
                            <label class="form-check-label" for="characterFivePaperRadio">
                                20問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="characterTenPaperRadio">
                            <label class="form-check-label" for="characterTenPaperRadio">
                                20問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="characterFifteenPaperRadio">
                            <label class="form-check-label" for="characterFifteenPaperRadio">
                                20問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'character_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'character_display' %}">
                </form>
        </div>
        <div class="row">
            <div class="col">
                <p>1次関数を求める</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">傾きと切片に登場する数字</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="linearFunctionIntegerCheck" checked>
                            <label class="form-check-label" for="linearFunctionIntegerCheck">
                                整数
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="linearFunctionFracCheck">
                            <label class="form-check-label" for="linearFunctionFracCheck">
                                分数
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">与えられる情報</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="slope_and_one_point" name="given_information" id="slope_and_one_point" checked>
                            <label class="form-check-label" for="slope_and_one_point">
                                傾きと1点の座標
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="two_points" name="given_information" id="two_points">
                            <label class="form-check-label" for="two_points">
                                2点の座標
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="one_point_and_parallel_line" name="given_information" id="one_point_and_parallel_line">
                            <label class="form-check-label" for="one_point_and_parallel_line">
                                1点の座標と平行な直線
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="mixed" name="given_information" id="mixed">
                            <label class="form-check-label" for="mixed">
                                ランダム
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="linearFunctionFivePaperRadio" checked>
                            <label class="form-check-label" for="linearFunctionFivePaperRadio">
                                20問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="linearFunctionTenPaperRadio">
                            <label class="form-check-label" for="linearFunctionTenPaperRadio">
                                20問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="linearFunctionFifteenPaperRadio">
                            <label class="form-check-label" for="linearFunctionFifteenPaperRadio">
                                20問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'linear_function_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'linear_function_display' %}">
                </form>
            </div>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
</div>
{% endblock %}