{% extends 'math_print/base.html' %}

{% block title %}
四則演算練習(中2)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function checkAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (!(statuses[i].checked)){
                statuses[i].checked = true;
            }
        }
    }

    function uncheckAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (statuses[i].checked){
                statuses[i].checked = false;
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>連立方程式</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">優先的に登場する係数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="used_coefficient" id="simultaneous_equations_coefficient_integer" checked>
                        <label class="form-check-label" for="simultaneous_equations_coefficient_integer">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="used_coefficient" id="simultaneous_equations_coefficient_decimal">
                        <label class="form-check-label" for="simultaneous_equations_coefficient_decimal">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="used_coefficient" id="simultaneous_equations_coefficient_frac">
                        <label class="form-check-label" for="simultaneous_equations_coefficient_frac">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する方程式のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax+by=c" name="equation_types" id="ax+by=c" checked>
                        <label class="form-check-label" for="ax+by=c">
                            ax+by=c
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax+by=c+dx+ey" name="equation_types" id="ax+by=c+dx+ey">
                        <label class="form-check-label" for="ax+by=c+dx+ey">
                            ax+by=c+dx+ey
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax+by=c+d(ex+fy)" name="equation_types" id="ax+by=c+d(ex+fy)">
                        <label class="form-check-label" for="ax+by=c+d(ex+fy)">
                            ax+by=c+f(dx+ey)
                        </label>
                    </div>
                </div>
                <small class="text-muted">解のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="only_integer" name="answer_type" id="simultaneous_equations_only_integer" checked>
                        <label class="form-check-label" for="simultaneous_equations_only_integer">
                            整数解のみ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="including_fraction" name="answer_type" id="simultaneous_equtions_including_fraction">
                        <label class="form-check-label" for="simultaneous_equtions_including_fraction">
                            分数解も含む
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="simultaneousEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="simultaneousEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="simultaneousEquationTenPaperRadio">
                        <label class="form-check-label" for="simultaneousEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="simultaneousEquationFifteenPaperRadio">
                        <label class="form-check-label" for="simultaneousEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'simultaneous_equations_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'simultaneous_equations_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>文字計算</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">登場する文字</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" name="character_to_use" id="oneCharacterRadio" checked>
                            <label class="form-check-label" for="oneCharacterRadio">
                                1種類(x)
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="2" name="character_to_use" id="twoCharacterRadio">
                            <label class="form-check-label" for="twoCharacterRadio">
                                2種類(x,y)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="plus" name="character_operator_to_use" id="characterPlusCheck" checked>
                            <label class="form-check-label" for="characterPlusCheck">
                                足し算
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="minus" name="character_operator_to_use" id="characterMinusCheck" checked>
                            <label class="form-check-label" for="characterMinusCheck">
                                引き算
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="times" name="character_operator_to_use" id="characterTimesCheck">
                            <label class="form-check-label" for="characterTimesCheck">
                                かけ算
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="divided" name="character_operator_to_use" id="characterDividedCheck">
                            <label class="form-check-label" for="characterDividedCheck">
                                割り算
                            </label>
                        </div>
                        <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('character_operator_to_use')" value="全部のせ">
                        <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('character_operator_to_use')" value="全部はずし">
                    </div>
                    <small class="text-muted">使用する数のタイプ</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="integer" name="character_number_to_use" id="characterIntegerCheck" checked>
                            <label class="form-check-label" for="characterIntegerCheck">
                                整数
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="decimal" name="character_number_to_use" id="characterDecimalCheck">
                            <label class="form-check-label" for="characterDecimalCheck">
                                小数
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="frac" name="character_number_to_use" id="characterFracCheck">
                            <label class="form-check-label" for="characterFracCheck">
                                分数
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">項数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="3" name="term_number" id="characterThreeRadio" checked>
                            <label class="form-check-label" for="characterThreeRadio">
                                3項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="4" name="term_number" id="characterFourRadio">
                            <label class="form-check-label" for="characterFourRadio">
                                4項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="term_number" id="characterFiveRadio">
                            <label class="form-check-label" for="characterFiveRadio">
                                5項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="6" name="term_number" id="characterSixRadio">
                            <label class="form-check-label" for="characterSixRadio">
                                6項
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="characterFivePaperRadio" checked>
                            <label class="form-check-label" for="characterFivePaperRadio">
                                20問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="characterTenPaperRadio">
                            <label class="form-check-label" for="characterTenPaperRadio">
                                20問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="characterFifteenPaperRadio">
                            <label class="form-check-label" for="characterFifteenPaperRadio">
                                20問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'jhs2_character_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'jhs2_character_display' %}">
                </form>
        </div>
        <div class="row">
            <div class="col border-end border-bottom">
                <p>等式の変形</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">含まれる操作</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="addition_and_subtraction" name="calculate_type" id="transformation_addition_and_subtraction" checked>
                            <label class="form-check-label" for="transformation_addition_and_subtraction">
                                移項のみ
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="multiplication_and_division" name="calculate_type" id="transformation_multiplication_and_division" checked>
                            <label class="form-check-label" for="transformation_multiplication_and_division">
                                かけ算、割り算のみ
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="mixed" name="calculate_type" id="transformation_mixed">
                            <label class="form-check-label" for="transformation_mixed">
                                移項、かけ算割り算の両方を含む
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="linearFunctionFivePaperRadio" checked>
                            <label class="form-check-label" for="linearFunctionFivePaperRadio">
                                20問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="linearFunctionTenPaperRadio">
                            <label class="form-check-label" for="linearFunctionTenPaperRadio">
                                20問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="linearFunctionFifteenPaperRadio">
                            <label class="form-check-label" for="linearFunctionFifteenPaperRadio">
                                20問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'transformation_of_equation_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'transformation_of_equation_display' %}">
                </form>
            </div>
            <div class="col border-end border-bottom">
                <p>分数を含む文字の計算</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">項数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="forma-check-input" type="radio" value="2" name="term_number" id="character_fraction_2" checked>
                            <label class="form-check-label" for="character_fraction_2">
                                2項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="forma-check-input" type="radio" value="3" name="term_number" id="character_fraction_3">
                            <label class="form-check-label" for="character_fraction_3">
                                3項
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="forma-check-input" type="radio" value="4" name="term_number" id="character_fraction_4">
                            <label class="form-check-label" for="character_fraction_4">
                                4項
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="ChacterFractionFivePaperRadio" checked>
                            <label class="form-check-label" for="ChacterFractionFivePaperRadio">
                                20問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="ChacterFractionTenPaperRadio">
                            <label class="form-check-label" for="ChacterFractionTenPaperRadio">
                                20問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="ChacterFractionFifteenPaperRadio">
                            <label class="form-check-label" for="ChacterFractionFifteenPaperRadio">
                                20問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'character_fraction_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'character_fraction_display' %}">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col border-end border-bottom">
                <p>1次関数を求める</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">傾きと切片に登場する数字</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="linearFunctionIntegerCheck" checked>
                            <label class="form-check-label" for="linearFunctionIntegerCheck">
                                整数
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="linearFunctionFracCheck">
                            <label class="form-check-label" for="linearFunctionFracCheck">
                                分数
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">与えられる情報</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="slope_and_one_point" name="given_information" id="slope_and_one_point" checked>
                            <label class="form-check-label" for="slope_and_one_point">
                                傾きと1点の座標
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="two_points" name="given_information" id="two_points">
                            <label class="form-check-label" for="two_points">
                                2点の座標
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="one_point_and_parallel_line" name="given_information" id="one_point_and_parallel_line">
                            <label class="form-check-label" for="one_point_and_parallel_line">
                                1点の座標と平行な直線
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="linearFunctionFivePaperRadio" checked>
                            <label class="form-check-label" for="linearFunctionFivePaperRadio">
                                20問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="linearFunctionTenPaperRadio">
                            <label class="form-check-label" for="linearFunctionTenPaperRadio">
                                20問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="linearFunctionFifteenPaperRadio">
                            <label class="form-check-label" for="linearFunctionFifteenPaperRadio">
                                20問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'linear_function_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'linear_function_display' %}">
                </form>
            </div>
            <div class="col border-end border-bottom">
                <p>グラフから1次関数を求める</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">使用されるグラフの種類</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="with_grid" name="graph_to_use" id="linear_function_with_graph_with_grid" checked>
                            <label class="form-check-label" for="linear_function_with_graph_with_grid">
                                マス目あり
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="without_grid" name="graph_to_use" id="linear_function_with_graph_without_grid">
                            <label class="form-check-label" for="linear_function_with_graph_without_grid">
                                マス目なし
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="linearFunctionWithGraphFivePaperRadio" checked>
                            <label class="form-check-label" for="linearFunctionWithGraphFivePaperRadio">
                                10問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="linearFunctionWithGraphTenPaperRadio">
                            <label class="form-check-label" for="linearFunctionWithGraphTenPaperRadio">
                                10問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="linearFunctionWithGraphFifteenPaperRadio">
                            <label class="form-check-label" for="linearFunctionWithGraphFifteenPaperRadio">
                                10問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'linear_function_with_graph_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'linear_function_with_graph_display' %}">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col border-end border-bottom">
                <p>平行線などを利用して角度を求める</p>
                <form action="?" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <small class="text-muted">利用するもの</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="corresponding_and_alternate_angle" name="used_information" id="CorrespondingAndAlternateAngle" checked>
                            <label class="form-check-label" for="CorrespondingAndAlternateAngle">
                                同位角と錯角
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="multiple_corresponding_and_alternate_angle" name="used_information" id="MultipleCorrespondingAndAlternateAngle" checked>
                            <label class="form-check-label" for="MultipleCorrespondingAndAlternateAngle">
                                複数の同位角と錯角
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="vertical_angle" name="used_information" id="InteriorAndExteriorAngle">
                            <label class="form-check-label" for="InteriorAndExteriorAngle">
                                三角形の対頂角
                            </label>
                        </div>
                    </div>
                    <small class="text-muted">枚数</small>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="5" name="paper_number" id="ParallelLinesAndAngleFivePaperRadio" checked>
                            <label class="form-check-label" for="ParallelLinesAndAngleFivePaperRadio">
                                10問×5枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10" name="paper_number" id="ParallelLinesAndAngleTenPaperRadio">
                            <label class="form-check-label" for="ParallelLinesAndAngleTenPaperRadio">
                                10問×10枚
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="15" name="paper_number" id="ParallelLinesAndAngleFifteenPaperRadio">
                            <label class="form-check-label" for="ParallelLinesAndAngleFifteenPaperRadio">
                                10問×15枚
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'parallel_lines_and_angle_print' %}">
                    <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'parallel_lines_and_angle_display' %}">
                </form>
            </div>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2022 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}