{% extends 'math_print/base.html' %}

{% block title %}
計算練習(中1)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function checkAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (!(statuses[i].checked)){
                statuses[i].checked = true;
            }
        }
    }

    function uncheckAllStatus(target){
        let statuses = document.getElementsByName(target);

        for (let i =0; i < statuses.length; i++){
            if (statuses[i].checked){
                statuses[i].checked = false;
            }
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>正負混合四則演算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題に使用する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="number_operator_to_use" id="numberPlusCheck" checked>
                        <label class="form-check-label" for="numberPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="number_operator_to_use" id="numberMinusCheck" checked>
                        <label class="form-check-label" for="numberMinusCheck">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="times" name="number_operator_to_use" id="numberTimesCheck">
                        <label class="form-check-label" for="numberTimesCheck">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="divided" name="number_operator_to_use" id="numberDividedCheck">
                        <label class="form-check-label" for="numberDividedCheck">
                            割り算
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('number_operator_to_use')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('number_operator_to_use')" value="全部はずし">
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="one_digit_integer" name="number_number_to_use" id="numberOneDigitIntegerCheck" checked>
                        <label class="form-check-label" for="numberOneDigitIntegerCheck">
                            1桁の整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="two_digit_integer" name="number_number_to_use" id="numberTwoDigitIntegerCheck">
                        <label class="form-check-label" for="numberTwoDigitIntegerCheck">
                            2桁の整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_number_to_use" id="numberDecimalCheck">
                        <label class="form-check-label" for="numberDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_number_to_use" id="numberFracCheck">
                        <label class="form-check-label" for="numberFracCheck">
                            分数
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('number_number_to_use')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('number_number_to_use')" value="全部はずし">
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="term_number" id="numberTwoRadio" checked>
                        <label class="form-check-label" for="numberTwoRadio">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="numberThreeRadio">
                        <label class="form-check-label" for="numberThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="numberFourRadio">
                        <label class="form-check-label" for="numberFourRadio">
                            4項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="numberFivePaperRadio" checked>
                        <label class="form-check-label" for="numberFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="numberTenPaperRadio">
                        <label class="form-check-label" for="numberTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="numberFifteenPaperRadio">
                        <label class="form-check-label" for="numberFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'number_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'number_display' %}">
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>カッコがつかない正負の足し算引き算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題に使用する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="number_without_bracket_operator_to_use" id="numberWithoutBracketPlusCheck" checked>
                        <label class="form-check-label" for="numberWithoutBracketPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="number_without_bracket_operator_to_use" id="numberWithoutBracketMinusCheck" checked>
                        <label class="form-check-label" for="numberWithoutBracketMinusCheck">
                            引き算
                        </label>
                    </div>
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="one_digit_integer" name="number_to_use_without_bracket_problem" id="numberWithoutBracketOneDigitIntegerCheck" checked>
                        <label class="form-check-label" for="numberWithoutBracketOneDigitIntegerCheck">
                            1桁の整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="two_digit_integer" name="number_to_use_without_bracket_problem" id="numberWithoutBracketTwoDigitIntegerCheck">
                        <label class="form-check-label" for="numberWithoutBracketTwoDigitIntegerCheck">
                            2桁の整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use_without_bracket_problem" id="numberWithoutBracketDecimalCheck">
                        <label class="form-check-label" for="numberWithoutBracketDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use_without_bracket_problem" id="numberWithoutBracketFracCheck">
                        <label class="form-check-label" for="numberWithoutBracketFracCheck">
                            分数
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('number_to_use_without_bracket_problem')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('number_to_use_without_bracket_problem')" value="全部はずし">
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="term_number" id="numberWithoutBracketTwoRadio" checked>
                        <label class="form-check-label" for="numberWithoutBracketTwoRadio">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="numberWithoutBracketThreeRadio">
                        <label class="form-check-label" for="numberWithoutBracketThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="numberWithoutBracketFourRadio">
                        <label class="form-check-label" for="numberWithoutBracketFourRadio">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number" id="numberWithoutBracketFiveRadio">
                        <label class="form-check-label" for="numberWithoutBracketFiveRadio">
                            5項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="6" name="term_number" id="numberWithoutBracketSixRadio">
                        <label class="form-check-label" for="numberWithoutBracketSixRadio">
                            6項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="numberWithoutBracketFivePaperRadio" checked>
                        <label class="form-check-label" for="numberWithoutBracketFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="numberWithoutBracketTenPaperRadio">
                        <label class="form-check-label" for="numberWithoutBracketTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="numberWithoutBracketFifteenPaperRadio">
                        <label class="form-check-label" for="numberWithoutBracketFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'number_without_bracket_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'number_without_bracket_display' %}">
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>累乗の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="power_number_to_use" id="powerIntegerCheck" checked>
                        <label class="form-check-label" for="powerIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="power_number_to_use" id="powerDecimalCheck">
                        <label class="form-check-label" for="powerDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="power_number_to_use" id="powerFracCheck">
                        <label class="form-check-label" for="powerFracCheck">
                            分数
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('power_number_to_use')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('power_number_to_use')" value="全部はずし">
                </div>
                <small class="text-muted">登場する計算のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="single" name="power_calculate_type" id="powerSingleCheck" checked>
                        <label class="form-check-label" for="powerSingleCheck">
                            単一項(a^b)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_plus" name="power_calculate_type" id="powerDoublePlusCheck">
                        <label class="form-check-label" for="powerDoublePlusCheck">
                            二項の足し算(a^b + c^d)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_minus" name="power_calculate_type" id="powerDoubleMinusCheck">
                        <label class="form-check-label" for="powerDoubleMinusCheck">
                            二項の引き算(a^b - c^d)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_times" name="power_calculate_type" id="powerDoubleTimesCheck">
                        <label class="form-check-label" for="powerDoubleTimesCheck">
                            二項のかけ算(a^b × c^d)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="double_div" name="power_calculate_type" id="powerDoubleDivCheck">
                        <label class="form-check-label" for="powerDoubleDivCheck">
                            二項の割り算(a^b ÷ c^d)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('power_calculate_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('power_calculate_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="powerFactorFivePaperRadio" checked>
                        <label class="form-check-label" for="powerFactorFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="powerFactorTenPaperRadio">
                        <label class="form-check-label" for="powerFactorTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="powerFactorFifteenPaperRadio">
                        <label class="form-check-label" for="powerFactorFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'power_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'power_display' %}">
            </form>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>文字計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する文字</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="1" name="character_to_use" id="oneCharacterRadio" checked>
                        <label class="form-check-label" for="oneCharacterRadio">
                            1種類(x)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="character_to_use" id="twoCharacterRadio">
                        <label class="form-check-label" for="twoCharacterRadio">
                            2種類(x,y)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="character_operator_to_use" id="characterPlusCheck" checked>
                        <label class="form-check-label" for="characterPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="character_operator_to_use" id="characterMinusCheck" checked>
                        <label class="form-check-label" for="characterMinusCheck">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="times" name="character_operator_to_use" id="characterTimesCheck">
                        <label class="form-check-label" for="characterTimesCheck">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="divided" name="character_operator_to_use" id="characterDividedCheck">
                        <label class="form-check-label" for="characterDividedCheck">
                            割り算
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('character_operator_to_use')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('character_operator_to_use')" value="全部はずし">
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="character_number_to_use" id="characterIntegerCheck" checked>
                        <label class="form-check-label" for="characterIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="character_number_to_use" id="characterDecimalCheck">
                        <label class="form-check-label" for="characterDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="character_number_to_use" id="characterFracCheck">
                        <label class="form-check-label" for="characterFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="characterThreeRadio" checked>
                        <label class="form-check-label" for="characterThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="characterFourRadio">
                        <label class="form-check-label" for="characterFourRadio">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number" id="characterFiveRadio">
                        <label class="form-check-label" for="characterFiveRadio">
                            5項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="6" name="term_number" id="characterSixRadio">
                        <label class="form-check-label" for="characterSixRadio">
                            6項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="characterFivePaperRadio" checked>
                        <label class="form-check-label" for="characterFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="characterTenPaperRadio">
                        <label class="form-check-label" for="characterTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="characterFifteenPaperRadio">
                        <label class="form-check-label" for="characterFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'character_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'character_display' %}">
            </form>
        <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>1次方程式</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="operator_to_use" id="linearEquationPlusCheck" checked>
                        <label class="form-check-label" for="linearEquationPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="operator_to_use" id="linearEquationMinusCheck" checked>
                        <label class="form-check-label" for="linearEquationMinusCheck">
                            引き算
                        </label>
                    </div>
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="linearEquationIntegerCheck" checked>
                        <label class="form-check-label" for="linearEquationIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="linearEquationDecimalCheck">
                        <label class="form-check-label" for="linearEquationDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="linearEquationFracCheck">
                        <label class="form-check-label" for="linearEquationFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="linearEquationThreeRadio" checked>
                        <label class="form-check-label" for="characterThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="linearEquationFourRadio">
                        <label class="form-check-label" for="linearEquationFourRadio">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number" id="linearEquationFiveRadio">
                        <label class="form-check-label" for="linearEquationFiveRadio">
                            5項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="linearEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="linearEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="linearEquationTenPaperRadio">
                        <label class="form-check-label" for="linearEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="linearEquationFifteenPaperRadio">
                        <label class="form-check-label" for="linearEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'linear_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'linear_equation_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>形が決まった1次方程式</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">形と解</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_equal_b_only_integer" name="linear_equation_type" id="ax_equal_b_only_integer" checked>
                        <label class="form-check-label" for="ax_equal_b_only_integer">
                            ax=b(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_equal_b_all_number" name="linear_equation_type" id="ax_equal_b_all_number">
                        <label class="form-check-label" for="ax_equal_b_all_number">
                            ax=b(分数解もふくむ)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_plus_b_equal_c_only_integer" name="linear_equation_type" id="ax_plus_b_equal_c_only_integer">
                        <label class="form-check-label" for="ax_plus_b_equal_c_only_integer">
                            ax+b=c(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_plus_b_equal_c_all_number" name="linear_equation_type" id="ax_plus_b_equal_c_all_number">
                        <label class="form-check-label" for="ax_plus_b_equal_c_all_number">
                            ax+b=c(分数解もふくむ)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_plus_b_equal_cx_plus_d_only_integer" name="linear_equation_type" id="ax_plus_b_equal_cx_plus_d_only_integer">
                        <label class="form-check-label" for="ax_plus_b_equal_cx_plus_d_only_integer">
                            ax+b=cx+d(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="ax_plus_b_equal_cx_plus_d_all_number" name="linear_equation_type" id="ax_plus_b_equal_cx_plus_d_all_number">
                        <label class="form-check-label" for="ax_plus_b_equal_cx_plus_d_all_number">
                            ax+b=cx+d(分数解もふくむ)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('linear_equation_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('linear_equation_type')" value="全部はずし">
                </div>
                <small class="text-muted">使用する係数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="limitedLinearEquationIntegerCheck" checked>
                        <label class="form-check-label" for="limitedLinearEquationIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="limitedLinearEquationDecimalCheck">
                        <label class="form-check-label" for="limitedLinearEquationDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="limitedLinearEquationFracCheck">
                        <label class="form-check-label" for="limitedLinearEquationFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="limitedLinearEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="limitedLinearEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="limitedLinearEquationTenPaperRadio">
                        <label class="form-check-label" for="limitedLinearEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="limitedLinearEquationFifteenPaperRadio">
                        <label class="form-check-label" for="limitedLinearEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'specific_linear_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'specific_linear_equation_display' %}">      
            </form>
        <br>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="col border-end border-bottom">
            <p>比例の式を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">与えられる情報</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="x_and_y" name="proportional_expression_type" id="x_and_y" checked>
                        <label class="form-check-label" for="x_and_y">
                            x = ... のとき、y = ...
                        </label>
                    </div>
                </div>
                <small class="text-muted">答えとして登場する比例定数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="proportionalExpressionIntegerCheck" checked>
                        <label class="form-check-label" for="proportionalExpressionIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="proportionalExpressionFracCheck">
                        <label class="form-check-label" for="proportionalExpressionFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="proportionalExpressionFivePaperRadio" checked>
                        <label class="form-check-label" for="proportionalExpressionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="proportionalExpressionTenPaperRadio">
                        <label class="form-check-label" for="proportionalExpressionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="proportionalExpressionFifteenPaperRadio">
                        <label class="form-check-label" for="proportionalExpressionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'proportional_expression_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'proportional_expression_display' %}">      
            </form>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="col border-end border-bottom">
            <p>おうぎ形の弧の長さや中心角、面積を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">与えられるもの→求めるもの</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_central_angle_to_arc_length_and_area" name="sector_problem_type" id="radius_and_central_angle_to_arc_length_and_area" checked>
                        <label class="form-check-label" for="radius_and_central_angle_to_arc_length_and_area">
                            半径,中心角→弧の長さ,面積
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_arc_length_to_area" name="sector_problem_type" id="radius_and_arc_length_to_area" checked>
                        <label class="form-check-label" for="radius_and_arc_length_to_area">
                            半径,弧の長さ→面積
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_area_to_arc_length" name="sector_problem_type" id="radius_and_area_to_arc_length" checked>
                        <label class="form-check-label" for="radius_and_area_to_arc_length">
                            半径,面積→弧の長さ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_area_to_central_angle" name="sector_problem_type" id="radius_and_area_to_central_angle" checked>
                        <label class="form-check-label" for="radius_and_area_to_central_angle">
                            半径,面積→中心角
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('sector_problem_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('sector_problem_type')" value="全部はずし">
                </div>
                <small class="text-muted">印刷時の公式の表示</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="show_sector_formula" name="show_formula" id="show_sector_formula" checked>
                        <label class="form-check-label" for="show_sector_formula">
                            表示する
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="not_show_sector_formula" name="show_formula" id="not_show_sector_formula">
                        <label class="form-check-label" for="not_show_sector_formula"> 
                            表示しない
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="sectorProblemFivePaperRadio" checked>
                        <label class="form-check-label" for="sectorProblemFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="sectorProblemTenPaperRadio">
                        <label class="form-check-label" for="sectorProblemTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="sectorProblemFifteenPaperRadio">
                        <label class="form-check-label" for="sectorProblemFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'sector_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'sector_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p>おうぎ形の弧の長さや中心角、面積を求める(図形つき)</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">与えられるもの→求めるもの</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_central_angle_to_arc_length_and_area" name="sector_with_figure_problem_type" id="sector_with_figure_radius_and_central_angle_to_arc_length_and_area" checked>
                        <label class="form-check-label" for="sector_with_figure_radius_and_central_angle_to_arc_length_and_area">
                            半径,中心角→弧の長さ,面積
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_arc_length_to_area" name="sector_with_figure_problem_type" id="sector_with_figure_radius_and_arc_length_to_area" checked>
                        <label class="form-check-label" for="sector_with_figure_radius_and_arc_length_to_area">
                            半径,弧の長さ→面積
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_area_to_arc_length" name="sector_with_figure_problem_type" id="sector_with_figure_radius_and_area_to_arc_length" checked>
                        <label class="form-check-label" for="sector_with_figure_radius_and_area_to_arc_length">
                            半径,面積→弧の長さ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radius_and_area_to_central_angle" name="sector_with_figure_problem_type" id="sector_with_figure_radius_and_area_to_central_angle" checked>
                        <label class="form-check-label" for="sector_with_figure_radius_and_area_to_central_angle">
                            半径,面積→中心角
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllStatus('sector_with_figure_problem_type')" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllStatus('sector_with_figure_problem_type')" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="SectorWithFigureProblemFivePaperRadio" checked>
                        <label class="form-check-label" for="SectorWithFigureFivePaperRadio">
                            10問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="SectorWithFigureTenPaperRadio">
                        <label class="form-check-label" for="SectorWithFigureTenPaperRadio">
                            10問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="SectorWithFigureFifteenPaperRadio">
                        <label class="form-check-label" for="SectorWithFigureFifteenPaperRadio">
                            10問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'sector_with_figure_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'sector_with_figure_display' %}">      
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
    <footer class="container-fluid print_footer">
        <small><a href="#">© 2022 有明学習振興</a></small>
    </footer>
</div>
{% endblock %}