{% extends 'math_print/base.html' %}

{% block title %}
四則演算練習(中1)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>正負混合四則演算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題に使用する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="operator_to_use" id="numberPlusCheck" checked>
                        <label class="form-check-label" for="numberPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="operator_to_use" id="numberMinusCheck" checked>
                        <label class="form-check-label" for="numberMinusCheck">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="times" name="operator_to_use" id="numberTimesCheck">
                        <label class="form-check-label" for="numberTimesCheck">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="divided" name="operator_to_use" id="numberDividedCheck">
                        <label class="form-check-label" for="numberDividedCheck">
                            割り算
                        </label>
                    </div>
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="one_digit_integer" name="number_to_use" id="numberOneDigitIntegerCheck" checked>
                        <label class="form-check-label" for="numberOneDigitIntegerCheck">
                            1桁の整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="two_digit_integer" name="number_to_use" id="numberTwoDigitIntegerCheck">
                        <label class="form-check-label" for="numberTwoDigitIntegerCheck">
                            2桁の整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="numberDecimalCheck">
                        <label class="form-check-label" for="numberDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="numberFracCheck">
                        <label class="form-check-label" for="numberFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="term_number" id="numberTwoRadio" checked>
                        <label class="form-check-label" for="numberTwoRadio">
                            2項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="numberThreeRadio">
                        <label class="form-check-label" for="numberThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="numberFourRadio">
                        <label class="form-check-label" for="numberFourRadio">
                            4項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="numberFivePaperRadio" checked>
                        <label class="form-check-label" for="numberFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="numberTenPaperRadio">
                        <label class="form-check-label" for="numberTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="numberFifteenPaperRadio">
                        <label class="form-check-label" for="numberFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'number_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'number_display' %}">
            </form>
        </div>
        <div class="col">
            <p>文字計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する文字</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="1" name="character_to_use" id="oneCharacterRadio" checked>
                        <label class="form-check-label" for="oneCharacterRadio">
                            1種類(x)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="character_to_use" id="twoCharacterRadio">
                        <label class="form-check-label" for="twoCharacterRadio">
                            2種類(x,y)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="operator_to_use" id="characterPlusCheck" checked>
                        <label class="form-check-label" for="characterPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="operator_to_use" id="characterMinusCheck" checked>
                        <label class="form-check-label" for="characterMinusCheck">
                            引き算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="times" name="operator_to_use" id="characterTimesCheck">
                        <label class="form-check-label" for="characterTimesCheck">
                            かけ算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="divided" name="operator_to_use" id="characterDividedCheck">
                        <label class="form-check-label" for="characterDividedCheck">
                            割り算
                        </label>
                    </div>
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="characterIntegerCheck" checked>
                        <label class="form-check-label" for="characterIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="characterDecimalCheck">
                        <label class="form-check-label" for="characterDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="characterFracCheck">
                        <label class="form-check-label" for="characterFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="characterThreeRadio" checked>
                        <label class="form-check-label" for="characterThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="characterFourRadio">
                        <label class="form-check-label" for="characterFourRadio">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number" id="characterFiveRadio">
                        <label class="form-check-label" for="characterFiveRadio">
                            5項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="6" name="term_number" id="characterSixRadio">
                        <label class="form-check-label" for="characterSixRadio">
                            6項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="characterFivePaperRadio" checked>
                        <label class="form-check-label" for="characterFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="characterTenPaperRadio">
                        <label class="form-check-label" for="characterTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="characterFifteenPaperRadio">
                        <label class="form-check-label" for="characterFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'character_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'character_display' %}">
            </form>
        </div>
        <div class="col">
            <p>累乗の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="powerIntegerCheck" checked>
                        <label class="form-check-label" for="powerIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="powerDecimalCheck">
                        <label class="form-check-label" for="powerDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="powerFracCheck">
                        <label class="form-check-label" for="powerFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する数の個数(かけ算の因子の数)</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="1" name="factor_number" id="powerFactorOneRadio" checked>
                        <label class="form-check-label" for="powerFactorOneRadio">
                            1個
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2" name="factor_number" id="powerFactorTwoRadio">
                        <label class="form-check-label" for="powerFactorTwoRadio">
                            2個
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="factor_number" id="powerFactorFourRadio">
                        <label class="form-check-label" for="powerFactorFourRadio">
                            3個
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="powerFactorFivePaperRadio" checked>
                        <label class="form-check-label" for="powerFactorFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="powerFactorTenPaperRadio">
                        <label class="form-check-label" for="powerFactorTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="powerFactorFifteenPaperRadio">
                        <label class="form-check-label" for="powerFactorFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'factor_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'factor_display' %}">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p>1次方程式</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="plus" name="operator_to_use" id="linearEquationPlusCheck" checked>
                        <label class="form-check-label" for="linearEqutionPlusCheck">
                            足し算
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="minus" name="operator_to_use" id="linearEquationMinusCheck" checked>
                        <label class="form-check-label" for="linearEquationMinusCheck">
                            引き算
                        </label>
                    </div>
                </div>
                <small class="text-muted">使用する数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="linearEquationIntegerCheck" checked>
                        <label class="form-check-label" for="linearEquationIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="linearEquationDecimalCheck">
                        <label class="form-check-label" for="linearEquationDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="linearEquationFracCheck">
                        <label class="form-check-label" for="linearEquationFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">項数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="3" name="term_number" id="linearEquationThreeRadio" checked>
                        <label class="form-check-label" for="characterThreeRadio">
                            3項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="4" name="term_number" id="linearEquationFourRadio">
                        <label class="form-check-label" for="linearEquationFourRadio">
                            4項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="term_number" id="linearEquationFiveRadio">
                        <label class="form-check-label" for="linearEquationFiveRadio">
                            5項
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="6" name="term_number" id="linearEquationSixRadio">
                        <label class="form-check-label" for="linearEquationSixRadio">
                            6項
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="linearEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="linearEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="linearEquationTenPaperRadio">
                        <label class="form-check-label" for="linearEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="linearEquationFifteenPaperRadio">
                        <label class="form-check-label" for="linearEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'linear_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'linear_equation_display' %}">      
            </form>
        </div>
        <div class="col">
            <p>形が決まった1次方程式</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">形と解</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_equal_b_only_integer" name="linear_equation_type" id="ax_equal_b_only_integer" checked>
                        <label class="form-check-label" for="ax_equal_b_only_integer">
                            ax=b(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_equal_b_all_number" name="linear_equation_type" id="ax_equal_b_all_number">
                        <label class="form-check-label" for="ax_equal_b_all_number">
                            ax=b(分数解もふくむ)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_plus_b_equal_c_only_integer" name="linear_equation_type" id="ax_plus_b_equal_c_only_integer">
                        <label class="form-check-label" for="ax_plus_b_equal_c_only_integer">
                            ax+b=c(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_plus_b_equal_c_all_number" name="linear_equation_type" id="ax_plus_b_equal_c_all_number">
                        <label class="form-check-label" for="ax_plus_b_equal_c_all_number">
                            ax+b=c(分数解もふくむ)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_plus_b_equal_cx_plus_d_only_integer" name="linear_equation_type" id="ax_plus_b_equal_cx_plus_d_only_integer">
                        <label class="form-check-label" for="ax_plus_b_equal_cx_plus_d_only_integer">
                            ax+b=cx+d(整数解のみ)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="ax_plus_b_equal_cx_plus_d_all_number" name="linear_equation_type" id="ax_plus_b_equal_cx_plus_d_all_number">
                        <label class="form-check-label" for="ax_plus_b_equal_cx_plus_d_all_number">
                            ax+b=cx+d(分数解もふくむ)
                        </label>
                    </div>
                </div>
                <small class="text-muted">使用する係数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="limitedLinearEquationIntegerCheck" checked>
                        <label class="form-check-label" for="limitedLinearEquationIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="decimal" name="number_to_use" id="limitedLinearEquationDecimalCheck">
                        <label class="form-check-label" for="limitedLinearEquationDecimalCheck">
                            小数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="limitedLinearEquationFracCheck">
                        <label class="form-check-label" for="limitedLinearEquationFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="limitedLinearEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="limitedLinearEquationFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="limitedLinearEquationTenPaperRadio">
                        <label class="form-check-label" for="limitedLinearEquationTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="limitedLinearEquationFifteenPaperRadio">
                        <label class="form-check-label" for="limitedLinearEquationFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'specific_linear_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'specific_linear_equation_display' %}">      
            </form>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class="col">
            <p>比例の式を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">与えられる情報</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="x_and_y" name="proportional_expression_type" id="x_and_y" checked>
                        <label class="form-check-label" for="x_and_y">
                            x = ... のとき、y = ...
                        </label>
                    </div>
                </div>
                <small class="text-muted">答えとして登場する比例定数のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="integer" name="number_to_use" id="proportionalExpressionIntegerCheck" checked>
                        <label class="form-check-label" for="proportionalExpressionIntegerCheck">
                            整数
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="frac" name="number_to_use" id="proportionalExpressionFracCheck">
                        <label class="form-check-label" for="proportionalExpressionFracCheck">
                            分数
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="proportionalExpressionFivePaperRadio" checked>
                        <label class="form-check-label" for="proportionalExpressionFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="proportionalExpressionTenPaperRadio">
                        <label class="form-check-label" for="proportionalExpressionTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="proportionalExpressionFifteenPaperRadio">
                        <label class="form-check-label" for="proportionalExpressionFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'proportional_expression_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'proportional_expression_display' %}">      
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
</div>
{% endblock %}