{% extends 'math_print/base.html' %}

{% block title %}
計算練習(高2)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block added_cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block css %}
<style type="text/css">
    .fa-solid{
        color: gray;
        text-decoration: none;
    }
    .fa-pen-to-square{
        color: gray;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
<script>
    function checkAllCheckBoxes(checkbox_name){
        let checkboxes = document.getElementsByName(checkbox_name);

        for (let i = 0; i < checkboxes.length; i++) {
            if (!(checkboxes[i].checked)) {
                checkboxes[i].checked = true;
            }
        }
    }

    function uncheckAllCheckBoxes(checkbox_name){
        let checkboxes = document.getElementsByName(checkbox_name);

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            }
        }
    }

</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>指数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">追加で登場する指数の計算法則</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="only_times_and_division" name="exponent_calculation_type" id="exponent_only_times_and_division" checked>
                        <label class="form-check-label" for="exponent_only_times_and_division">
                            \( a^m \times a^n = a^{m+n}, a^m \div a^n = a^{m-n} \)のみ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="include_power" name="exponent_calculation_type" id="exponent_include_power">
                        <label class="form-check-label" for="exponent_include_power">
                            \( (a^m)^n = a^{mn} \)追加
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="include_power_and_root" name="exponent_calculation_type" id="exponent_include_power_and_root">
                        <label class="form-check-label" for="exponent_include_power_and_root">
                            \( \sqrt[m]{a^n} = a^{\frac{n}{m}}, \sqrt[m]{\sqrt[n]{a}} = \sqrt[mn]{a} \)追加
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する底</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="character" name="exponent_base_type" id="exponent_calculation_character" checked>
                        <label class="form-check-label" for="exponent_calculation_character">
                            文字
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="number" name="exponent_base_type" id="exponent_calculation_number" checked>
                        <label class="form-check-label" for="exponent_calculation_number">
                            数字
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ExponentCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="ExponentCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ExponentCalculateTenPaperRadio">
                        <label class="form-check-label" for="ExponentCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ExponentCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="ExponentCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'exponent_calculation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'exponent_calculation_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>対数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="change_of_base_formula" name="logarithm_calculation_type" id="logarithm_calculation_change_of_base_formula" checked>
                        <label class="form-check-label" for="logarithm_calculation_change_of_base_formula">
                            底の変換公式
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="add_and_subtraction_without_change_of_base_formula" name="logarithm_calculation_type" id="logarithm_calculation_add_and_subtraction_without_change_of_base_formula" checked>
                        <label class="form-check-label" for="logarithm_calculation_add_and_subtraction_without_change_of_base_formula">
                            対数の和と差(底の変換公式なし)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="add_and_subtraction_with_change_of_base_formula" name="logarithm_calculation_type" id="logarithm_calculation_add_and_subtraction_with_change_of_base_formula" checked>
                        <label class="form-check-label" for="logarithm_calculation_add_and_subtraction_with_change_of_base_formula">
                            対数の和と差(底の変換公式あり)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`logarithm_calculation_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`logarithm_calculation_type`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="LogarithmCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="LogarithmCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="LogarithmCalculateTenPaperRadio">
                        <label class="form-check-label" for="LogarithmCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="LogarithmCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="LogarithmCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'logarithm_calculation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'logarithm_calculation_display' %}">      
            </form>
        </div>
        <div class="col border-end border-bottom">
            <p id="logarithmic_equation_title">対数方程式</p>
            <a href="{% url 'logarithmic_equation_explain' %}" class="fa-solid fa-pen-to-square" target="_blank" rel="noopener noreferrer"><small class="text-muted">解説を見る</small></a>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="only_with_calculation" name="logarithmic_equation_type" id="logarithmic_equation_only_with_calculation" checked>
                        <label class="form-check-label" for="logarithmic_equation_only_with_calculation">
                            対数計算は行うが、底の変換は行わない
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="with_calculation_and_change_base_of_formula" name="logarithmic_equation_type" id="logarithmic_equation_with_calculation_and_change_base_of_formula">
                        <label class="form-check-label" for="logarithmic_equation_with_calculation_and_change_base_of_formula">
                            対数計算、底の変換を行うもの
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="with_replacement" name="logarithmic_equation_type" id="logarithmic_equation_with_replacement">
                        <label class="form-check-label" for="logarithmic_equation_with_replacement">
                            置換を利用するもの
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`logarithmic_equation_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`logarithmic_equation_type`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="LogarithmicEquationFivePaperRadio" checked>
                        <label class="form-check-label" for="LogarithmicEquationFivePaperRadio">
                            6問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="LogarithmicEquationTenPaperRadio">
                        <label class="form-check-label" for="LogarithmicEquationTenPaperRadio">
                            6問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="LogarithmicEquationFifteenPaperRadio">
                        <label class="form-check-label" for="LogarithmicEquationFifteenPaperRadio">
                            6問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'logarithmic_equation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(6問)" formaction="{% url 'logarithmic_equation_display' %}">      
            </form>
        </div>
        
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>三角関数</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">問題のタイプ</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="radian_to_value" name="trigonometric_function_problem_type" id="trigonometric_function_radian_to_value" checked>
                        <label class="form-check-label" for="trigonometric_function_radian_to_value">
                            角度\( \Longrightarrow \)三角関数の値
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="value_to_radian" name="trigonometric_function_problem_type" id="trigonometric_function_value_to_radian" checked>
                        <label class="form-check-label" for="trigonometric_function_value_to_radian">
                            角度\( \Longleftarrow \)三角関数の値
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="mutual_relationships" name="trigonometric_function_problem_type" id="trigonometric_function_mutual_relationships" checked>
                        <label class="form-check-label" for="trigonometric_function_mutual_relationships">
                            三角比の相互関係
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`trigonometric_function_problem_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`trigonometric_function_problem_type`)" value="全部はずし">
                </div>
                <small class="text-muted">使用される角度の範囲</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="up_to_pi_over_2" name="radian_range" id="trigonometric_function_up_to_pi_over_2">
                        <label class="form-check-label" for="trigonometric_function_up_to_pi_over_2">
                            \( \frac{\pi}{2} \)まで
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="up_to_pi" name="radian_range" id="trigonometric_function_up_to_pi" checked>
                        <label class="form-check-label" for="trigonometric_function_up_to_pi">
                            \( \pi \)まで
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="up_to_2pi" name="radian_range" id="trigonometric_function_up_to_2pi">
                        <label class="form-check-label" for="trigonometric_function_up_to_2pi">
                            \( 2\pi \)まで
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する三角関数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="sin" name="used_trigonometric_function" id="trigonometric_function_sin" checked>
                        <label class="form-check-label" for="trigonometric_function_sin">
                            sin
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cos" name="used_trigonometric_function" id="trigonometric_function_cos" checked>
                        <label class="form-check-label" for="trigonometric_function_cos">
                            cos
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="tan" name="used_trigonometric_function" id="trigonometric_function_tan" checked>
                        <label class="form-check-label" for="trigonometric_function_tan">
                            tan
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`used_trigonometric_function`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`used_trigonometric_function`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="TrigonometricFunctionFivePaper" checked>
                        <label class="form-check-label" for="TrigonometricFunctionFivePaper">
                            10問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="TrigonometricFunctionTenPaper">
                        <label class="form-check-label" for="TrigonometricTenPaper">
                            10問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="TrigonometricFunctionFifteenPaper">
                        <label class="form-check-label" for="TrigonometricFunctionFifteenPaper">
                            10問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'trigonometric_function_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(10問)" formaction="{% url 'trigonometric_function_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>交点の位置ベクトルを求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">求めるベクトル</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cross_point_of_two_line" name="problem_type" id="vector_cross_point_of_two_line" checked>
                        <label class="form-check-label" for="vector_cross_point_of_two_line">
                            二直線の交点の位置ベクトル
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cross_point_of_plane_and_line" name="problem_type" id="vector_cross_point_of_plane_and_line" checked>
                        <label class="form-check-label" for="vector_cross_point_of_plane_and_line">
                            平面と直線の交点の位置ベクトル
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="VectorCrossPointFivePaperRadio" checked>
                        <label class="form-check-label" for="VectorCrossPointFivePaperRadio">
                            2問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="VectorCrossPointTenPaperRadio">
                        <label class="form-check-label" for="VectorCrossPointTenPaperRadio">
                            2問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="VectorCrossPointFifteenPaperRadio">
                        <label class="form-check-label" for="VectorCrossPointFifteenPaperRadio">
                            2問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'vector_cross_point_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(6問)" formaction="{% url 'vector_cross_point_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>積分で面積を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">\( \frac{1}{6} \)公式</small>
                <a href="{% url 'calculate_area_by_integration_explain_one_sixth' %}" class="fa-solid fa-pen-to-square" target="_blank" rel="noopener noreferrer"><small class="text-muted">解説を見る</small></a>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_quadratic_function_and_x_axis" name="one_sixth_problem_type" id="calculate_area_by_integration_between_quadratic_function_and_x_axis" checked>
                        <label class="form-check-label" for="calculate_area_by_integration_between_quadratic_function_and_x_axis">
                            2次関数とx軸で囲まれた面積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_quadratic_function_and_line" name="one_sixth_problem_type" id="calculate_area_by_integration_between_quadratic_function_and_line" checked>
                        <label class="form-check-label" for="calculate_area_by_integration_between_quadratic_function_and_line">
                            2次関数と直線で囲まれた面積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_quadratic_functions" name="one_sixth_problem_type" id="calculate_area_by_integration_between_quadratic_functions" checked>
                        <label class="form-check-label" for="calculate_area_by_integration_between_quadratic_functions">
                            2つの2次関数で囲まれた面積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_cubic_functions" name="one_sixth_problem_type" id="calculate_area_by_integration_between_cubic_functions" checked>
                        <label class="form-check-label" for="calculate_area_by_integration_between_cubic_functions">
                            係数が等しい2つの3次関数で囲まれた面積
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`one_sixth_problem_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`one_sixth_problem_type`)" value="全部はずし">
                </div>
                <small class="text-muted">\( \frac{1}{3} \)公式</small>
                <a href="{% url 'calculate_area_by_integration_explain_one_third' %}" class="fa-solid fa-pen-to-square" target="_blank" rel="noopener noreferrer"><small class="text-muted">解説を見る</small></a>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_quadratic_function_and_tangent_and_parallel_line_with_y_axis" name="one_third_problem_type" id="calculate_area_by_integration_between_quadratic_function_and_tangent_and_parallel_line_with_y_axis" checked>
                        <label class="form-check-label" for="calculate_area_by_integration_between_quadratic_function_and_tangent_and_parallel_line_with_y_axis">
                            2次関数とその接線、およびy軸に平行な直線の間の面積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_two_quadratic_functions_that_touch_each_other_and_parallel_line_with_y_axis" name="one_third_problem_type" id="calculate_area_by_integration_between_two_quadratic_functions_that_touch_each_other_and_parallel_line_with_y_axis" >
                        <label class="form-check-label" for="calculate_area_by_integration_between_two_quadratic_functions_that_touch_each_other_and_parallel_line_with_y_axis">
                            2つの接する2次関数とy軸に平行な直線の間の面積
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="between_quadratic_function_and_two_tangents" name="one_third_problem_type" id="calculate_area_by_integration_between_quadratic_function_and_two_tangents" >
                        <label class="form-check-label" for="calculate_area_by_integration_between_quadratic_function_and_two_tangents">
                            2次関数と2本の接線
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`one_third_problem_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`one_third_problem_type`)" value="全部はずし">
                </div>
                
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="CalculateAreaByIntegrationFivePaperRadio" checked>
                        <label class="form-check-label" for="CalculateAreaByIntegrationFivePaperRadio">
                            2問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="CalculateAreaByIntegrationTenPaperRadio">
                        <label class="form-check-label" for="CalculateAreaByIntegrationTenPaperRadio">
                            2問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="CalculateAreaByIntegrationFifteenPaperRadio">
                        <label class="form-check-label" for="CalculateAreaByIntegrationFifteenPaperRadio">
                            2問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'calculate_area_by_integration_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'calculate_area_by_integration_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>漸化式から一般項を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">出題される漸化式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="arithmetic_progression" name="recurrence_relation_type" id="recurrence_relation_arithmetic_progression" checked>
                        <label class="form-check-label" for="recurrence_relation_arithmetic_progression">
                            \( a_{n+1} - a_{n} = d \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="geometric_progression" name="recurrence_relation_type" id="recurrence_relation_geometric_progression" checked>
                        <label class="form-check-label" for="recurrence_relation_geometric_progression">
                            \( a_{n+1} = r a_{n} \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="progression_of_differences" name="recurrence_relation_type" id="recurrence_relation_progression_of_differences" checked>
                        <label class="form-check-label" for="recurrence_relation_progression_of_differences">
                            \( a_{n+1} - a_{n} = f(n) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="harmonic_progression" name="recurrence_relation_type" id="recurrence_relation_harmonic_progression">
                        <label class="form-check-label" for="recurrence_relation_harmonic_progression">
                            \( a_{n+1} a_{n} - p a_{n+1} - p a_{n} = 0 \)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="linear_characteristic_equation" name="recurrence_relation_type" id="recurrence_relation_linear_characteristic_equation" checked>
                        <label class="form-check-label" for="recurrence_relation_linear_characteristic_equation">
                            \( a_{n+1} = p a_{n} + q \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="coefficient_comparison_to_geometric_progression" name="recurrence_relation_type" id="recurrence_relation_coefficient_comparison_to_geometric_progression">
                        <label class="form-check-label" for="recurrence_relation_coefficient_comparison_to_geometric_progression">
                            \( a_{n+1} = p a_{n} + f(n) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="exponent_to_linear_characteristic_equation" name="recurrence_relation_type" id="recurrence_relation_exponent_to_linear_characteristic_equation">
                        <label class="form-check-label" for="recurrence_relation_exponent_to_linear_characteristic_equation">
                            \( a_{n+1} = p a_{n} + r^n \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="three_adjacent_terms" name="recurrence_relation_type" id="recurrence_relation_three_adjacent_terms" checked>
                        <label class="form-check-label" for="recurrence_relation_three_adjacent_terms">
                            \( a_{n+2} + p a_{n+1} + q a_{n} = 0 \)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`recurrence_relation_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`recurrence_relation_type`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="RecurrenceRelationFivePaperRadio" checked>
                        <label class="form-check-label" for="RecurrenceRelationFivePaperRadio">
                            4問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="RecurrenceRelationTenPaperRadio">
                        <label class="form-check-label" for="RecurrenceRelationTenPaperRadio">
                            4問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="RecurrenceRelationFifteenPaperRadio">
                        <label class="form-check-label" for="RecurrenceRelationFifteenPaperRadio">
                            4問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'recurrence_relation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'recurrence_relation_display' %}">      
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
</div>
{% endblock %}