{% extends 'math_print/base.html' %}

{% block title %}
計算練習(高2)
{% endblock %}

{% block hero_unit %}
    <div class="p-3 p-sm-5 mb-4 bg-img">
        <div class="container">
            <h1 class="display-4">ようこそ!</h1>
            <p class="text-dark">計算練習と計算練習と計算練習</p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]],
            displayMath: [["$$","$$"],["\\[","\\]"]]
        }
        });
</script>
<script>
    function checkAllCheckBoxes(checkbox_name){
        let checkboxes = document.getElementsByName(checkbox_name);

        for (let i = 0; i < checkboxes.length; i++) {
            if (!(checkboxes[i].checked)) {
                checkboxes[i].checked = true;
            }
        }
    }

    function uncheckAllCheckBoxes(checkbox_name){
        let checkboxes = document.getElementsByName(checkbox_name);

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            }
        }
    }

</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col border-end border-bottom">
            <p>指数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">追加で登場する指数の計算法則</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="only_times_and_division" name="exponent_calculation_type" id="exponent_only_times_and_division" checked>
                        <label class="form-check-label" for="exponent_only_times_and_division">
                            \( a^m \times a^n = a^{m+n}, a^m \div a^n = a^{m-n} \)のみ
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="include_power" name="exponent_calculation_type" id="exponent_include_power">
                        <label class="form-check-label" for="exponent_include_power">
                            \( (a^m)^n = a^{mn} \)追加
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="include_power_and_root" name="exponent_calculation_type" id="exponent_include_power_and_root">
                        <label class="form-check-label" for="exponent_include_power_and_root">
                            \( \sqrt[m]{a^n} = a^{\frac{n}{m}}, \sqrt[m]{\sqrt[n]{a}} = \sqrt[mn]{a} \)追加
                        </label>
                    </div>
                </div>
                <small class="text-muted">登場する底</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="character" name="exponent_base_type" id="exponent_calculation_character" checked>
                        <label class="form-check-label" for="exponent_calculation_character">
                            文字
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="number" name="exponent_base_type" id="exponent_calculation_number" checked>
                        <label class="form-check-label" for="exponent_calculation_number">
                            数字
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="ExponentCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="ExponentCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="ExponentCalculateTenPaperRadio">
                        <label class="form-check-label" for="ExponentCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="ExponentCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="ExponentCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'exponent_calculation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'exponent_calculation_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>対数の計算</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">登場する計算</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="change_of_base_formula" name="logarithm_calculation_type" id="logarithm_calculation_change_of_base_formula" checked>
                        <label class="form-check-label" for="logarithm_calculation_change_of_base_formula">
                            底の変換公式
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="add_and_subtraction_without_change_of_base_formula" name="logarithm_calculation_type" id="logarithm_calculation_add_and_subtraction_without_change_of_base_formula" checked>
                        <label class="form-check-label" for="logarithm_calculation_add_and_subtraction_without_change_of_base_formula">
                            対数の和と差(底の変換公式なし)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="add_and_subtraction_with_change_of_base_formula" name="logarithm_calculation_type" id="logarithm_calculation_add_and_subtraction_with_change_of_base_formula" checked>
                        <label class="form-check-label" for="logarithm_calculation_add_and_subtraction_with_change_of_base_formula">
                            対数の和と差(底の変換公式あり)
                        </label>
                    </div>
                    <input class="btn btn-outline-primary" type="button" onclick="checkAllCheckBoxes(`logarithm_calculation_type`)" value="全部のせ">
                    <input class="btn btn-outline-primary" type="button" onclick="uncheckAllCheckBoxes(`logarithm_calculation_type`)" value="全部はずし">
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="LogarithmCalculateFivePaperRadio" checked>
                        <label class="form-check-label" for="LogarithmCalculateFivePaperRadio">
                            20問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="LogarithmCalculateTenPaperRadio">
                        <label class="form-check-label" for="LogarithmCalculateTenPaperRadio">
                            20問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="LogarithmCalculateFifteenPaperRadio">
                        <label class="form-check-label" for="LogarithmCalculateFifteenPaperRadio">
                            20問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'logarithm_calculation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'logarithm_calculation_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>交点の位置ベクトルを求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">求めるベクトル</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cross_point_of_two_line" name="problem_type" id="vector_cross_point_of_two_line" checked>
                        <label class="form-check-label" for="vector_cross_point_of_two_line">
                            二直線の交点の位置ベクトル
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="cross_point_of_plane_and_line" name="problem_type" id="vector_cross_point_of_plane_and_line" checked>
                        <label class="form-check-label" for="vector_cross_point_of_plane_and_line">
                            平面と直線の交点の位置ベクトル
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="VectorCrossPointFivePaperRadio" checked>
                        <label class="form-check-label" for="VectorCrossPointFivePaperRadio">
                            2問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="VectorCrossPointTenPaperRadio">
                        <label class="form-check-label" for="VectorCrossPointTenPaperRadio">
                            2問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="VectorCrossPointFifteenPaperRadio">
                        <label class="form-check-label" for="VectorCrossPointFifteenPaperRadio">
                            2問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'vector_cross_point_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'vector_cross_point_display' %}">      
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col border-end border-bottom">
            <p>漸化式から一般項を求める</p>
            <form action="?" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <small class="text-muted">出題される漸化式</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="arithmetic_progression" name="problem_type" id="recurrence_relation_arithmetic_progression" checked>
                        <label class="form-check-label" for="recurrence_relation_arithmetic_progression">
                            \( a_{n+1} - a_{n} = d \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="geometric_progression" name="problem_type" id="recurrence_relation_geometric_progression" checked>
                        <label class="form-check-label" for="recurrence_relation_geometric_progression">
                            \( a_{n+1} = r a_{n} \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="progression_of_differences" name="problem_type" id="recurrence_relation_progression_of_differences" checked>
                        <label class="form-check-label" for="recurrence_relation_progression_of_differences">
                            \( a_{n+1} - a_{n} = f(n) \)
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="harmonic_progression" name="problem_type" id="recurrence_relation_harmonic_progression" checked>
                        <label class="form-check-label" for="recurrence_relation_harmonic_progression">
                            \( a_{n+1} a_{n} - p a_{n+1} - p a_{n} = 0 \)
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="linear_characteristic_equation" name="problem_type" id="recurrence_relation_linear_characteristic_equation" checked>
                        <label class="form-check-label" for="recurrence_relation_linear_characteristic_equation">
                            \( a_{n+1} = p a_{n} + q \)
                        </label>
                    </div>
                </div>
                <small class="text-muted">枚数</small>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="5" name="paper_number" id="RecurrenceRelationFivePaperRadio" checked>
                        <label class="form-check-label" for="RecurrenceRelationFivePaperRadio">
                            2問×5枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="10" name="paper_number" id="RecurrenceRelationTenPaperRadio">
                        <label class="form-check-label" for="RecurrenceRelationTenPaperRadio">
                            2問×10枚
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="15" name="paper_number" id="RecurrenceRelationFifteenPaperRadio">
                        <label class="form-check-label" for="RecurrenceRelationFifteenPaperRadio">
                            2問×15枚
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="A4印刷用ページ表示" formaction="{% url 'recurrence_relation_print' %}">
                <input class="btn btn-primary" type="submit" value="そのまま解く(20問)" formaction="{% url 'recurrence_relation_display' %}">      
            </form>
        </div>
    </div>
    <div class="row center">
        <a href="{% url 'index' %}">トップページに戻る</a>
    </div>
</div>
{% endblock %}